<div class="article-container top-stories">
  <div>
    <h1 class="category-heading">
      {{ post_array[0].head_category_name }}
      <!-- {{ category_name }} -->
    </h1>
  </div>
  <div class="row">
    <div class="col-md-8 col-sm-12 col-12">
      <div class="news-section cointainer leftcontent-border">
        <article
          class="row news-box"
          (click)="opennewsSec(post.slug, post.twitter_exists)"
          *ngFor="
            let post of post_array
              | paginate : { itemsPerPage: 10, currentPage: p, totalItems: post_cnt }
          "
        >
        
          <div class="col-md-6 col-sm-12 col-12 news-img-container">
            <!-- <div style="color: black;">{{post.total_cnt}}</div> -->
            <img [src]="post.guid" />
          </div>
          <div class="col-md-6 col-sm-12 col-12 news-text-container">
            <h1 class="post-heading">
              {{ post.post_title ? getShortName(post.post_title) : "" }}
            </h1>
            <div class="news-date">
              <time>{{ post.post_date | date : "short" }}</time>
            </div>
            <p
              class="post-content"
              [innerHTML]="getShortPostContent(post.post_content)"
            ></p>
          </div>
        </article>
      </div>
      <div
        class="col-lg-12 col-md-12 col-12 w-100"
        style="padding-top: 1vw; padding-bottom: 1vw"
      >
        <pagination-controls
          class="pagination-color"
          (pageChange)="p = $event"
        ></pagination-controls>
      </div>
    </div>

    <div class="col-md-4 col-sm-12 col-12">
      <div class="prameya-epaper text-center">
        <img
          class="prameya-epaper-image"
          src="assets/img/prameya-epaper-link.jpeg"
        />
      </div>
      <div class="prameya-epaper" *ngIf="ads_rightupper != 0">
        <div class="advertisement-space-container-first">
          <div
            id="carouselExampleControls4"
            class="carousel slide carousel-fade"
            data-ride="carousel"
          >
            <div class="carousel-inner">
              <div
                class="carousel-item"
                *ngFor="let rightupper_ad of ads_rightupper; let i = index"
                [ngClass]="i === 0 ? 'active' : ''"
              >
                <img
                  class="d-block w-100"
                  src="{{ rightupper_ad.ads_image }}"
                  alt="{{ rightupper_ad.ads_image_alt_text }}"
                  (click)="openLink(rightupper_ad.ads_image_link)"
                />
              </div>
            </div>
            <a
              class="carousel-control-prev"
              href="#carouselExampleControls4"
              role="button"
              data-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="sr-only">Previous</span>
            </a>
            <a
              class="carousel-control-next"
              href="#carouselExampleControls4"
              role="button"
              data-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>

      <div class="prameya-epaper">
        <div>
          <div class="news-section item-three-bg">
            <div class="heading-container">
              <h4 class="news-sub">ରାଜନୀତି</h4>
            </div>
            <article
              class="row news-box ng-star-inserted"
              *ngFor="let post of polticesnews"
              (click)="opennewsSec(post.slug, post.twitter_exists)"
            >
              <div class="col-md-4 col-sm-4 col-4 news-img-container">
                <img
                  src="{{
                    post.home_img != null && post.home_img != undefined
                      ? post.home_img
                      : post.guid
                  }}"
                  loading="lazy"
                  fetchPrirority="high"
                  [attr.alt]="post.media_alt_text"
                />
              </div>
              <div class="col-md-8 col-sm-8 col-8 news-text-container">
                <p>
                  {{ post.post_title ? getShortName(post.post_title) : "" }}
                </p>
                <div class="news-date">
                  <time class="news-date">{{
                    post.post_date | date : "MMMM dd, yyyy"
                  }}</time>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
      <div class="prameya-epaper">
        <div class="news-section item-three-bg">
          <div class="heading-container">
            <h4 class="news-sub">ମନୋରଞ୍ଜନ</h4>
          </div>
          <article
            class="row news-box ng-star-inserted"
            *ngFor="let post of entermentaarr"
            (click)="opennewsSec(post.slug, post.twitter_exists)"
          >
            <div class="col-md-4 col-sm-4 col-4 news-img-container">
              <img
                src="{{
                  post.home_img != null && post.home_img != undefined
                    ? post.home_img
                    : post.guid
                }}"
                [attr.alt]="post.media_alt_text"
                loading="lazy"
                fetchPrirority="high"
              />
            </div>
            <div class="col-md-8 col-sm-8 col-8 news-text-container">
              <p>{{ post.post_title ? getShortName(post.post_title) : "" }}</p>
              <div class="news-date">
                <time class="news-date">{{
                  post.post_date | date : "MMMM dd, yyyy"
                }}</time>
              </div>
            </div>
          </article>
        </div>
      </div>
      <div class="prameya-epaper" *ngIf="ads_leftmiddle != 0">
        <div class="advertisement-container-long">
          <div class="slider-long">
            <div
              class="slides-long"
              [ngStyle]="{ transform: 'translateX(' + translateValue1 + ')' }"
            >
              <div class="slide-long">
                <img
                  *ngFor="let rightupper_ad of ads_leftmiddle; let i = index"
                  class="d-block w-100"
                  loading="lazy"
                  fetchPrirority="high"
                  src="{{ rightupper_ad.ads_image }}"
                  alt="{{ rightupper_ad.ads_image_alt_text }}"
                  (click)="openLink(rightupper_ad.ads_image_link)"
                />
              </div>
            </div>
            <div class="controls">
              <button
                class="prev"
                (click)="moveSlideleft('minus')"
                mat-icon-button
              >
                <mat-icon>chevron_left</mat-icon>
              </button>
              <button
                class="next"
                (click)="moveSlideleft('plus')"
                mat-icon-button
              >
                <mat-icon>chevron_right</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="prameya-epaper">
        <div class="news-section item-three-bg">
          <div class="heading-container">
            <h4 class="news-sub">କ୍ରୀଡା</h4>
          </div>
          <article
            class="row news-box ng-star-inserted"
            *ngFor="let post of sportsnews"
            (click)="opennewsSec(post.slug, post.twitter_exists)"
          >
            <div class="col-md-4 col-sm-4 col-4 news-img-container">
              <img
                src="{{
                  post.home_img != null && post.home_img != undefined
                    ? post.home_img
                    : post.guid
                }}"
                loading="lazy"
                fetchPrirority="high"
                [attr.alt]="post.media_alt_text"
              />
            </div>
            <div class="col-md-8 col-sm-8 col-8 news-text-container">
              <p>
                {{ post.post_title ? getShortName(post.post_title) : "" }}
              </p>
              <div class="news-date">
                <time class="news-date">{{
                  post.post_date | date : "MMMM dd, yyyy"
                }}</time>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</div>

<app-search-sticky></app-search-sticky>
<app-footer></app-footer>
