<div class="sticky-header">
  <app-header></app-header>
</div>
<div class="container">
  <div class="body-content mb-200">
    <div class="bc-heading-container">
      <h4 class="news-sub">Term of Usage</h4>
      <div class="grey-line"></div>
    </div>
    <a href="https://www.prameya.com/" target="_blank"> www.prameya.com</a>
    reserves the rights, at its sole discretion, to change, modify, add or
    remove any portion of these Terms of Use in whole or in part, at any time.
    Changes in these Terms of Use will be effective when notice of such change
    is posted. Your continued use of the Website after any changes to these
    Terms of Use are posted will be considered acceptance of those changes. We
    may terminate, change, suspend or discontinue any aspect of the Website,
    including the availability of any features of the Website, at any time.
  </div>
</div>

<app-footer></app-footer>
