<div class="viewcategory-container">
  <div class="view-category">
    <div class="search-category">
      <mat-form-field appearance="outline">
        <mat-select [(ngModel)]="categorysearch" disableRipple [ngModelOptions]="{standalone: true}">
          <mat-option value="">Select Category</mat-option>
          <mat-option *ngFor="let gm of catarr" [value]="gm.category_id">{{ gm.category_name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button color="primary" class="search-btn" (click)="searchCategory()">Search Category</button>
      <button mat-raised-button color="primary" class="search-btn" (click)="postbyauthor()">Mine</button>
      <button mat-raised-button color="primary" class="search-btn" (click)="getallpost()">All Post</button>
        &nbsp;&nbsp;
      <mat-form-field appearance="outline" class="form-group w-200">
        <input matInput type="text" name="cname" [(ngModel)]="searchval">
      </mat-form-field>
      <button mat-raised-button color="primary" class="search-btn" (click)="searchPost()">Search
        Post</button>
      <button mat-raised-button color="primary" class="search-btn" (click)="viewdraft()">View Drafts
        Post</button>

    </div>
    <div class="header">
      <div>
      </div>
      <table id="view-table">
        <thead class="table-header" style="color: a;">
          <th class="first">
            <input type="checkbox" class="example-margin">
          </th>
          <th class="content">Post Title</th>
          <th class="content">Post Date</th>
          <th class="content">Action</th>
          <th class="content">Delete</th>
        </thead>
        <tbody>
          <tr *ngFor="let data of postarr | paginate: { itemsPerPage: 10, currentPage: p } ">
            <td class="first">
              <input type="checkbox" class="example-margin">
            </td>
            <td>{{data.post_title}}</td>
            <td>{{data.post_date | date:'dd-MM-yyyy'}}</td>
            <td><mat-icon class="mat-icon-cls" (click)="editPost(data.id)" title="Edit"> edit</mat-icon></td>
            <!-- <td><button (click)="editUser(data.id)" >Edit</button></td> -->
            <td>
              <button class="del-btn" (click)="deletePost(data.id)"><mat-icon>delete_forever</mat-icon></button>  
          </td>
          </tr>
        </tbody>
      </table>
    </div>
    <ng-template #elseblock>
      <tbody>
        <tr>
          <td colspan="6" class="text-center" style="color: black;">
            No record Found
          </td>
        </tr>
      </tbody>
    </ng-template>
    <div class="col-lg-12 col-md-12 col-12 w-100 d-flex justify-content-between flex-wrap"
      style="padding-top:1vw;padding-bottom:1vw;">
      <div class="d-flex" style="padding-left: 3%;">
        <!-- <button class="apply-btn" style="margin-left:1vw;">apply to selected items</button> -->
      </div>
      <pagination-controls class="pagination-color" (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</div>