<div class="login-bg" style="background-image: url(/assets/img/Prameya.jpg);">
    <div class="login-container">
        <div class="header">Login</div>
        <form class="login-form">
            <mat-label>User Name</mat-label>
            <mat-form-field class="input-field" appearance="fill">
                <input type="email" class="form-control" name="usename">
            </mat-form-field>
            <mat-label>Password</mat-label>
            <mat-form-field class="input-field" appearance="fill">
                <input type="password" class="form-control" name="password">
            </mat-form-field>
            <div class="forgot-password">Forgot Password?</div>
            <button mat-button class="btn-login">Login</button>
        </form>
    </div>
</div>

    





