<div class="news-section">
    <div class="slideshow-container">
        <div class="myImages image-bg">
            <img src="assets/img/cover2.jpg" />
            <div class="category">Business</div>
            <div class="heading-container">
                <h1>The Magic Money Tree Does Exist, According To Modern Monetary Theory</h1>
                <div class="news-date-section d-flex">
                    <div class="author-name">james</div>
                    <div> <i class="fa-solid fa-circle news-circle-icon"></i></div>
                    <div class="news-date"> August 26, 2020</div>
                </div>
            </div>
        </div>
        <div class="myImages image-bg">
            <img src="assets/img/slider1.jpg" />
            <div class="category">Entertainment</div>
            <div class="heading-container">
                <h1>The Magic Money Tree Does Exist, According To Modern Monetary Theory</h1>
                <div class="news-date-section d-flex">
                    <div class="author-name">james</div>
                    <div> <i class="fa-solid fa-circle news-circle-icon"></i></div>
                    <div class="news-date"> August 26, 2020</div>
                </div>
            </div>
        </div>
        <div class="myImages image-bg">
            <img src="assets/img/slider2.jpg" />
            <div class="category">Odisha</div>
            <div class="heading-container">
                <h1>The Magic Money Tree Does Exist, According To Modern Monetary Theory</h1>
                <div class="news-date-section d-flex">
                    <div class="author-name">james</div>
                    <div> <i class="fa-solid fa-circle news-circle-icon"></i></div>
                    <div class="news-date"> August 26, 2020</div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <!-- The dots/circles -->
    <div style="text-align:center">
        <span class="dot" (click)="currentImage(1)"></span>
        <span class="dot" (click)="currentImage(2)"></span>
        <span class="dot" (click)="currentImage(3)"></span>
    </div>
    <div class="main-news-container">
        <div class="row main-news-section">
            <div class="col-md-6 " *ngFor="let post of postarr" (click)="opennewsSec(post.slug)">
                <div class="news-card main-news-border">
                    <img [src]="post.guid">
                    <div class="news-date-section d-flex">
                        <div class="author-name">{{post.author_name}}</div>
                        <div> <i class="fa-solid fa-circle news-circle-icon "></i></div>
                        <div class="news-date"> {{post.post_date | date:'MMMM dd, yyyy'}}</div>
                    </div>
                    <p>{{post.post_title ? getShortName(post.post_title) : ''}}</p>
                </div>
            </div>
        </div>
    </div>
</div>