<div class="news-section">
    <div class="slideshow-container">
        <div class="myImages image-bg">
            <img src="assets/img/cover2.jpg" />
            <div class="category">ବାଣିଜ୍ୟ</div>
            <div class="heading-container">
                <h1>ହାତୀ ଓ ବନ୍ୟଜନ୍ତୁଙ୍କ ଉପଦ୍ରବରେ କ୍ଷତି ସହୁଛି ଚାଷୀ, ସ୍ଥାୟୀ ପ୍ରତିକାର ସହ ଉଚିତ କ୍ଷତିପୂରଣ ଦାବିରେ ରେଞ୍ଜ ଅଫିସ୍ ଘେରାଉ…</h1>
                <div class="news-date-section d-flex">
                    <div class="author-name">ସୁରଭି ଗୌତମ</div>
                    <div> <i class="fa-solid fa-circle news-circle-icon"></i></div>
                    <div class="news-date"> August 26, 2020</div>
                </div>
            </div>
        </div>
        <div class="myImages image-bg">
            <img src="assets/img/slider1.jpg" />
            <div class="category">ମନୋରଞ୍ଜନ</div>
            <div class="heading-container">
                <h1>ହାତୀ ଓ ବନ୍ୟଜନ୍ତୁଙ୍କ ଉପଦ୍ରବରେ କ୍ଷତି ସହୁଛି ଚାଷୀ, ସ୍ଥାୟୀ ପ୍ରତିକାର ସହ ଉଚିତ କ୍ଷତିପୂରଣ ଦାବିରେ ରେଞ୍ଜ ଅଫିସ୍ ଘେରାଉ…</h1>
                <div class="news-date-section d-flex">
                    <div class="author-name">ସୁରଭି ଗୌତମ</div>
                    <div> <i class="fa-solid fa-circle news-circle-icon"></i></div>
                    <div class="news-date"> August 26, 2020</div>
                </div>
            </div>
        </div>
        <div class="myImages image-bg">
            <img src="assets/img/slider2.jpg" />
            <div class="category">ରାଜ୍ୟ</div>
            <div class="heading-container">
                <h1>ହାତୀ ଓ ବନ୍ୟଜନ୍ତୁଙ୍କ ଉପଦ୍ରବରେ କ୍ଷତି ସହୁଛି ଚାଷୀ, ସ୍ଥାୟୀ ପ୍ରତିକାର ସହ ଉଚିତ କ୍ଷତିପୂରଣ ଦାବିରେ ରେଞ୍ଜ ଅଫିସ୍ ଘେରାଉ…</h1>
                <div class="news-date-section d-flex">
                    <div class="author-name">ସୁରଭି ଗୌତମ</div>
                    <div> <i class="fa-solid fa-circle news-circle-icon"></i></div>
                    <div class="news-date"> August 26, 2020</div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <!-- The dots/circles -->
    <div style="text-align:center">
        <span class="dot" (click)="currentImage(1)"></span>
        <span class="dot" (click)="currentImage(2)"></span>
        <span class="dot" (click)="currentImage(3)"></span>
    </div>
    <div class="main-news-container">
        <div class="row main-news-section">
            <div class="col-md-6 ">
                <div class="news-card main-news-border">
                    <img src="assets/img/news.jpg">
                    <div class="news-date-section d-flex">
                        <div class="author-name">ସୁରଭି ଗୌତମ</div>
                        <div> <i class="fa-solid fa-circle news-circle-icon "></i></div>
                        <div class="news-date"> August 26, 2020</div>
                    </div>
                    <p>ହାତୀ ଓ ବନ୍ୟଜନ୍ତୁଙ୍କ ଉପଦ୍ରବରେ କ୍ଷତି ସହୁଛି ଚାଷୀ, ସ୍ଥାୟୀ ପ୍ରତିକାର ସହ ଉଚିତ କ୍ଷତିପୂରଣ ଦାବିରେ ରେଞ୍ଜ ଅଫିସ୍ ଘେରାଉ…</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="news-card main-news-border">
                    <img src="assets/img/news.jpg">
                    <div class="news-date-section d-flex">
                        <div class="author-name">ସୁରଭି ଗୌତମ</div>
                        <div> <i class="fa-solid fa-circle news-circle-icon "></i></div>
                        <div class="news-date"> August 26, 2020</div>
                    </div>
                    <p>ହାତୀ ଓ ବନ୍ୟଜନ୍ତୁଙ୍କ ଉପଦ୍ରବରେ କ୍ଷତି ସହୁଛି ଚାଷୀ, ସ୍ଥାୟୀ ପ୍ରତିକାର ସହ ଉଚିତ କ୍ଷତିପୂରଣ ଦାବିରେ ରେଞ୍ଜ ଅଫିସ୍ ଘେରାଉ……</p>
                </div>
            </div>
        </div>
        <div class="row main-news-section">
            <div class="col-md-6 ">
                <div class="news-card second-news-section">
                    <img src="assets/img/news.jpg">
                    <div class="news-date-section d-flex">
                        <div class="author-name">ସୁରଭି ଗୌତମ</div>
                        <div> <i class="fa-solid fa-circle news-circle-icon "></i></div>
                        <div class="news-date"> August 26, 2020</div>
                    </div>
                    <p>ହାତୀ ଓ ବନ୍ୟଜନ୍ତୁଙ୍କ ଉପଦ୍ରବରେ କ୍ଷତି ସହୁଛି ଚାଷୀ, ସ୍ଥାୟୀ ପ୍ରତିକାର ସହ ଉଚିତ କ୍ଷତିପୂରଣ ଦାବିରେ ରେଞ୍ଜ ଅଫିସ୍ ଘେରାଉ…</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="news-card second-news-section">
                    <img src="assets/img/news.jpg">
                    <div class="news-date-section d-flex">
                        <div class="author-name">ସୁରଭି ଗୌତମ</div>
                        <div> <i class="fa-solid fa-circle news-circle-icon "></i></div>
                        <div class="news-date"> August 26, 2020</div>
                    </div>
                    <p>ହାତୀ ଓ ବନ୍ୟଜନ୍ତୁଙ୍କ ଉପଦ୍ରବରେ କ୍ଷତି ସହୁଛି ଚାଷୀ, ସ୍ଥାୟୀ ପ୍ରତିକାର ସହ ଉଚିତ କ୍ଷତିପୂରଣ ଦାବିରେ ରେଞ୍ଜ ଅଫିସ୍ ଘେରାଉ……</p>
                </div>
            </div>
        </div>
    </div>
</div>