.container-slider {
  margin: 0 auto;
  margin-top: 0px;
  position: relative;
  height: 0;
  padding-bottom: 58%;
  user-select: none;
  background-color: #fff;
  margin-bottom: 50px;
}

.container-slider .slide-home_img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.container-slider .slide-home_img img {
  width: inherit;
  height: inherit;
}
figcaption {
  height: 90px;
  background-color: rgba(0, 0, 0, 0.8) !important;
  color: #fff;
  padding: 10px;
  margin-bottom: 30px;
  position: absolute !important;
  z-index: 2;
  bottom: -30px;
}
/* figcaption {
  width: 100%;
  float: left;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.7) !important;
  color: #fff;
  padding: 10px;
  margin-bottom: 30px;
} */
figcaption {
  position: static;
  width: 100%;
  left: 0;
  text-align: left;
  font-size: 14px !important;
  left: 0;
  text-align: left;
  font-size: 0;
}
.prev,
.next {
  width: 5%;
  height: inherit;
  position: absolute;
  top: 0;
  color: rgba(244, 244, 244, 0.9);
  z-index: 99;
  transition: 0.45s;
  cursor: pointer;
  text-align: center;
  opacity: 1;
}

.container-slider .prev,
.next {
  opacity: 0;
}

.container-slider:hover .prev {
  opacity: 1;
}

.container-slider:hover .next {
  opacity: 1;
}

.next {
  right: 0px;
}
.prev {
  left: 0px;
}

label span {
  position: absolute;
  font-size: 73pt;
  top: 50%;
  transform: translateY(0%);
  background: rgba(0, 0, 0, 0.6);
  height: 62px;
  width: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 15px;
}

/* .prev:hover,
.next:hover {
  transition: 0.3s;
  color: #ffffff;
  opacity: 1;
} */

.slider-heading {
  font-size: 18px;
}
.container-slider #nav_slide {
  width: 100%;
  bottom: 12%;
  height: 11px;
  position: absolute;
  text-align: center;
  z-index: 9;
  cursor: default;
  display: none;
}

#nav_slide .dots {
  top: -5px;
  width: 18px;
  height: 18px;
  margin: 0 4px;
  position: relative;
  border-radius: 100%;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.6);
  transition: 0.4s;
  z-index: 8;
}

#nav_slide .dots:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.9);
  transition: 0.25s;
}

.slide-home_img {
  z-index: -1;
}

#i1:checked ~ #imgone,
#i2:checked ~ #imgtwo,
#i3:checked ~ #imgthree,
#i4:checked ~ #imgfour,
#i5:checked ~ #imgfive {
  z-index: 8;
  animation: slide-roll 1s ease-in-out;
}

#i1:checked ~ #nav_slide #dot1,
#i2:checked ~ #nav_slide #dot2,
#i3:checked ~ #nav_slide #dot3,
#i4:checked ~ #nav_slide #dot4,
#i5:checked ~ #nav_slide #dot5 {
  background-color: rgba(255, 255, 255, 0.9);
}
.vis-hid {
  visibility: hidden;
}
@keyframes slide-roll {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

/* .yt{
margin: 0 auto;
margin-top: 50px;
position: relative;
width: 150px;
height:50px;
border: outset #2c2c2c 4px;
border-radius: 10px;
text-align: center;
font-size: 30pt;
transition: .5s;
}

.yt a{
text-decoration: none;
color: #4c4c4c;
transition: .5s;
}

.yt:hover{
background: #4c4c4c;
transition: .3s;
}

.yt:hover a{
color: #fff;
transition: .3s;
}
*/
@media screen and (max-width: 1540px) {
  .prev,
  .next {
    width: 6%;
    height: inherit;
    position: absolute;
    top: 0;
    color: rgba(244, 244, 244, 0.9);
    z-index: 99;
    transition: 0.45s;
    cursor: pointer;
    text-align: center;
    opacity: 0;
  }
  .container-slider {
    margin: 0 auto;
    margin-top: 0px;
    position: relative;
    height: 0;
    padding-bottom: 70%;
    user-select: none;
    background-color: #fff;
    margin-bottom: 50px;
  }

  label span {
    position: absolute;
    font-size: 73pt;
    top: 50%;
    transform: translateY(0%);
    background: rgba(0, 0, 0, 0.6);
    height: 62px;
    width: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 15px;
  }
}

@media screen and (max-width: 1368px) {
  .container-slider {
    margin: 0 auto;
    margin-top: 0px;
    position: relative;
    height: 0;
    padding-bottom: 71.3%;
    user-select: none;
    background-color: #fff;
    margin-bottom: 50px;
  }
  .prev,
  .next {
    width: 7.5%;
    height: inherit;
    position: absolute;
    top: 0;
    color: rgba(244, 244, 244, 0.9);
    z-index: 99;
    transition: 0.45s;
    cursor: pointer;
    text-align: center;
    opacity: 0;
  }
  .news-section1 {
    background: var(--white) !important;
    border: 1px solid #d7d7d7 !important;
    margin-bottom: 10px;
    min-height: 61vh;
  }
  label span {
    position: absolute;
    font-size: 73pt;
    top: 50%;
    transform: translateY(0%);
    background: rgba(0, 0, 0, 0.6);
    height: 62px;
    width: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 15px;
  }
}

@media screen and (max-width: 1366px) {
  .container-slider {
    margin: 0 auto;
    margin-top: 0px;
    position: relative;
    height: 0;
    padding-bottom: 79.7%;
    user-select: none;
    background-color: #fff;
    margin-bottom: 50px;
  }
  .prev,
  .next {
    width: 7.5%;
    height: inherit;
    position: absolute;
    top: 0;
    color: rgba(244, 244, 244, 0.9);
    z-index: 99;
    transition: 0.45s;
    cursor: pointer;
    text-align: center;
    opacity: 0;
  }
  label span {
    position: absolute;
    font-size: 73pt;
    top: 50%;
    transform: translateY(0%);
    background: rgba(0, 0, 0, 0.6);
    height: 62px;
    width: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 15px;
  }
}
/* @media screen and (min-width: 1366px) {
  
} */

@media (max-width: 1680px) {
  .container-slider {
    margin: 0 auto;
    margin-top: 0px;
    position: relative;
    height: 0;
    padding-bottom: 81%;
    -webkit-user-select: none;
    user-select: none;
    background-color: #fff;
    margin-bottom: 50px;
  }
}
@media (max-width: 1540px) {
  .container-slider {
    margin: 0 auto;
    margin-top: 0px;
    position: relative;
    height: 0;
    padding-bottom: 70%;
    -webkit-user-select: none;
    user-select: none;
    background-color: #fff;
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 1280px) {
  .container-slider {
    margin: 0 auto;
    margin-top: 0px;
    position: relative;
    height: 0;
    padding-bottom: 109.5%;
    user-select: none;
    background-color: #fff;
    margin-bottom: 50px;
  }
  figcaption {
    height: 110px;
    background-color: rgba(0, 0, 0, 0.8) !important;
    color: #fff;
    padding: 10px;
    margin-bottom: 30px;
    position: absolute !important;
    z-index: 2;
    bottom: -30px;
  }
  .prev,
  .next {
    width: 9%;
    height: inherit;
    position: absolute;
    top: 0;
    color: rgba(244, 244, 244, 0.9);
    z-index: 99;
    transition: 0.45s;
    cursor: pointer;
    text-align: center;
    opacity: 0;
  }
}
@media screen and (max-width: 685px) {
  .container-slider {
    border: none;
    width: 100%;
    height: 0;
    padding-bottom: 55%;
  }

  label span {
    font-size: 50pt;
  }

  .prev,
  .next {
    width: 11%;
  }
  #nav_slide .dots {
    width: 12px;
    height: 12px;
  }
}
@media screen and(min-width: 970px) {
  .me {
    display: none;
  }
}

/* .view-more {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
} */
/* .view-more button {
  background-image: linear-gradient(45deg, #ffcdcd, transparent);
  line-height: 30px !important;
  padding: 0 9px !important;
} */
