<app-header></app-header>
<app-latest-news-header></app-latest-news-header>
<div class="home-first-container">
   <div class="row">
  <div class="col-md-3 col-sm-12 col-12">
   <section>
  <div class="news-section">
   <div class="heading-container">
 <h4 class="news-sub">ଓଡ଼ିଶା</h4>
   </div>
   <div class="row news-box ng-star-inserted">
 <div class="col-md-4 col-sm-4 col-4 news-img-container">
   <img src="https://api-dev.prameyanews.com/prameya/document/post/2/2_103_1681546525778.jpg">
 </div>
 <div class="col-md-8 col-sm-8 col-8 news-text-container">
   <p>ପୁଣି ଚାଷୀ ଆତ୍ମହତ୍ୟା :ଅଜଣା...</p>
   <div class="news-date">4/15/23, 1:39 PM</div>
 </div>
   </div>
   <div class="row news-box ng-star-inserted">
 <div class="col-md-4 col-sm-4 col-4 news-img-container">
   <img src="https://api-dev.prameyanews.com/prameya/document/post/2/2_103_1681281056716.jpg">
 </div>
 <div class="col-md-8 col-sm-8 col-8 news-text-container">
   <p>ରାସ୍ତାରେ ଉଡ଼ିଲା ଯୁକ୍ତ ଦୁଇ ଇଣ୍ଟରନାଲ୍&zwnj; ଖାତା</p>
   <div class="news-date">4/12/23, 11:50 AM</div>
 </div>
   </div>
   <div class="row news-box ng-star-inserted">
 <div class="col-md-4 col-sm-4 col-4 news-img-container">
   <img src="https://api-dev.prameyanews.com/prameya/document/post/2/2_103_1681279854035.jpg">
 </div>
 <div class="col-md-8 col-sm-8 col-8 news-text-container">
   <p>AMNS କମ୍ପାନୀର ଟ୍ରାଭେଲର ଦୁର...</p>
   <div class="news-date">4/12/23, 11:38 AM</div>
 </div>
   </div>
   <div class="row news-box ng-star-inserted">
 <div class="col-md-4 col-sm-4 col-4 news-img-container">
   <img src="https://api-dev.prameyanews.com/prameya/document/post/2/2_103_1680863239920.jpg">
 </div>
 <div class="col-md-8 col-sm-8 col-8 news-text-container">
   <p>ତାମିଲନାଡୁ ସରକାରଙ୍କୁ ବଡ ଝଟକ...</p>
   <div class="news-date">4/11/23, 12:52 PM</div>
 </div>
   </div>
   <div class="row news-box ng-star-inserted">
 <div class="col-md-4 col-sm-4 col-4 news-img-container">
   <img src="https://api-dev.prameyanews.com/prameya/document/post/2/2_103_1680777138103.jpg">
 </div>
 <div class="col-md-8 col-sm-8 col-8 news-text-container">
   <p>ଟ୍ରେଲର ଚାପାରେ ଚାରି ବର୍ଷର ଶ...</p>
   <div class="news-date">4/6/23, 3:54 PM</div>
 </div>
   </div>
  </div>
   </section>
  </div>
  <div class="col-md-9 col-sm-12 col-12">
   <div class="row">
  <div class="col-md-8 col-sm-12 col-12">
   <section>
 <div class="news-section">
   <div id="carouselExampleControls7" data-ride="carousel" class="carousel slide carousel-fade">
 <div class="carousel-inner">
   <div class="carousel-item ng-star-inserted">
 <img class="d-block w-100" src="https://api-dev.prameyanews.com/prameya/document/post/2/2_103_1680846705276.jpg">
 <div class="heading-container">
   <h1>ଘର ଭିତରୁ ମହିଳାଙ୍କ ଝୁଲନ୍ତା ମୃତଦେହ ଉଦ୍ଧାର</h1>
   <div class="news-date-section">
 <div class="news-date">4/11/23, 2:12 PM</div>
   </div>
 </div>
   </div>
   <div class="carousel-item ng-star-inserted">
 <img class="d-block w-100" src="https://api-dev.prameyanews.com/prameya/document/post/2/2_103_1681215874879.png">
 <div class="heading-container">
   <h1>ଏଚ-୩-ଏନ-୮ ବାର୍ଡ ଫ୍ଲୁରେ ପ୍ରଥମ ମୃତ୍ୟୁ ନେଇ ଆତଙ୍କ: ଡବ୍ଲୁଏଚଓ କହିଲା...</h1>
   <div class="news-date-section">
 <div class="news-date">4/12/23, 2:18 PM</div>
   </div>
 </div>
   </div>
   <div class="carousel-item ng-star-inserted">
 <img class="d-block w-100" src="https://api-dev.prameyanews.com/prameya/document/post/2/2_103_1681205291316.jpg">
 <div class="heading-container">
   <h1>୨୦୨୪ରେ ମୋଦି ତୃତୀୟ ଥର ପାଇଁ ହେବେ ପ୍ରଧାନମନ୍ତ୍ରୀ, ଭାଜପା ଜିତିବ ୩୦୦...</h1>
   <div class="news-date-section">
 <div class="news-date">4/11/23, 3:48 PM</div>
   </div>
 </div>
   </div>
   <div class="carousel-item ng-star-inserted active">
 <img class="d-block w-100" src="https://api-dev.prameyanews.com/prameya/document/post/2/2_103_1681546525778.jpg">
 <div class="heading-container">
   <h1 >ପୁଣି ଚାଷୀ ଆତ୍ମହତ୍ୟା :ଅଜଣା ରୋଗରେ ଚାଷ ନଷ୍ଟ ହେବାରୁ ଚାଷୀ କଲା ଆତ୍ମ...</h1>
   <div class="news-date-section">
 <div class="news-date">4/15/23, 1:39 PM</div>
   </div>
 </div>
   </div>
 </div>
 <a href="#carouselExampleControls7" role="button" data-slide="prev" class="carousel-control-prev">
   <span aria-hidden="true" class="carousel-control-prev-icon"></span>
   <span class="sr-only">Previous</span>
 </a>
 <a href="#carouselExampleControls7" role="button" data-slide="next" class="carousel-control-next">
   <span aria-hidden="true" class="carousel-control-next-icon"></span>
   <span class="sr-only">Next</span>
 </a>
   </div>
 </div>
</section>
  </div>
  <div class="col-md-4 col-sm-12 col-12">
   <section>
 <div class="news-section">
   <div class="heading-container">
 <h4 class="news-sub">ପ୍ରମୁଖ ଖବର</h4>
   </div>
   <div class="row news-box ng-star-inserted">
 <div class="col-md-4 col-sm-4 col-4 news-img-container">
   <img src="https://api-dev.prameyanews.com/prameya/document/post/2/2_81_1680764451768.jpg">
 </div>
 <div class="col-md-8 col-sm-8 col-8 news-text-container">
   <p >ଅସହ୍ୟ ତାତି: ଦେଶରେ ବ୍ଲାକଆଉଟ...</p>
   <div class="news-date">4/19/23, 2:06 PM</div>
 </div>
   </div>
   <div class="row news-box ng-star-inserted">
 <div class="col-md-4 col-sm-4 col-4 news-img-container">
   <img src="https://api-dev.prameyanews.com/prameya/document/post/2/2_103_1681386541003.jpg">
 </div>
 <div class="col-md-8 col-sm-8 col-8 news-text-container">
   <p >ଅତିକ୍&zwnj; ଅହମଦ ହତ୍ୟା ପରେ ସିଏମ...</p>
   <div class="news-date">4/18/23, 4:58 PM</div>
 </div>
   </div>
   <div class="row news-box ng-star-inserted">
 <div class="col-md-4 col-sm-4 col-4 news-img-container">
   <img src="https://api-dev.prameyanews.com/prameya/document/post/2/2_103_1681729749298.jpg">
 </div>
 <div class="col-md-8 col-sm-8 col-8 news-text-container">
   <p >ଓଡ଼ିଆ ଫିଲ୍ମ ପ୍ରଯୋଜକ ନିଜେ...</p>
   <div class="news-date">4/17/23, 4:37 PM</div>
 </div>
   </div>
   <div class="row news-box ng-star-inserted">
 <div class="col-md-4 col-sm-4 col-4 news-img-container">
   <img src="https://api-dev.prameyanews.com/prameya/document/post/2/2_103_1681300556921.jpg">
 </div>
 <div class="col-md-8 col-sm-8 col-8 news-text-container">
   <p >ଟସ୍&zwnj; ଜିତି ମୁମ୍ବାଇ ଇଣ୍ଡିଆନ୍...</p>
   <div class="news-date">4/16/23, 3:06 PM</div>
 </div>
   </div>
   <div class="row news-box ng-star-inserted">
 <div class="col-md-4 col-sm-4 col-4 news-img-container">
   <img src="https://api-dev.prameyanews.com/prameya/document/post/2/2_103_1681546525778.jpg">
 </div>
 <div class="col-md-8 col-sm-8 col-8 news-text-container">
   <p >ପୁଣି ଚାଷୀ ଆତ୍ମହତ୍ୟା :ଅଜଣା...</p>
   <div class="news-date">4/15/23, 1:39 PM</div>
 </div>
   </div>
  
 </div>
</section>
  </div>
   </div>
  </div>
   </div>
  </div>
  <div class="home-second-container">
   <div class="home-second-cards-container">
  <div class="row">
   <div class="col-md-4 col-sm-12 col-12">
  <section>
   <div  class="news-section">
 <div  class="heading-container">
   <h4  class="news-sub">ଅପରାଧ </h4>
 </div>
 <div class="d-flex news-box ng-star-inserted">
   <div class="col-md-4 col-sm-4 col-4 news-img-container">
 <img src="https://api-dev.prameyanews.com/prameya/document/post/2/2_103_1680846705276.jpg">
   </div>
   <div  class="col-md-8 col-sm-8 col-8 news-text-container">
 <p >ଘର ଭିତରୁ ମହିଳାଙ୍କ ଝୁଲନ୍ତା ମୃତଦେହ ଉଦ୍ଧାର</p>
 <div  class="news-date">4/11/23, 2:12 PM</div>
   </div>
 </div>
 <div  class="d-flex news-box ng-star-inserted">
   <div  class="col-md-4 col-sm-4 col-4 news-img-container">
 <img  src="https://api-dev.prameyanews.com/prameya/document/post/2/2_103_1680773581559.jpg">
   </div>
   <div  class="col-md-8 col-sm-8 col-8 news-text-container">
 <p >ଟ୍ରେଲର ଚାପାରେ ଚାରି ବର୍ଷର ଶିଶୁକନ୍ୟା ମୃତ, ଉତ୍ତ୍ୟ...</p>
 <div  class="news-date">4/10/23, 10:41 AM</div>
   </div>
 </div>
 <div  class="d-flex news-box ng-star-inserted">
   <div  class="col-md-4 col-sm-4 col-4 news-img-container">
 <img  src="https://api-dev.prameyanews.com/prameya/document/post/2/2_103_1680847260335.png">
   </div>
   <div  class="col-md-8 col-sm-8 col-8 news-text-container">
 <p >ବଡ଼ ଭାଇର ଆକ୍ରମଣରେ ସାନ ଭାଇ ମୃତ, ଥାନାରେ ଆତ୍ମସମର୍ପ...</p>
 <div  class="news-date">4/7/23, 11:28 AM</div>
   </div>
 </div>
   </div>
  </section>
   </div>
   <div class="col-md-4 col-sm-12 col-12">
  <section >
   <div  class="news-section">
 <div  class="heading-container">
   <h4  class="news-sub">ଟ୍ୱିନ୍ ସିଟି</h4>
 </div>
 <div  class="d-flex news-box ng-star-inserted">
   <div  class="col-md-4 col-sm-4 col-4 news-img-container">
 <img  src="https://api-dev.prameyanews.com/prameya/document/post/2/2_103_1679920251294.jpg">
   </div>
   <div  class="col-md-8 col-sm-8 col-8 news-text-container">
 <p>କଟକରେ ଟର୍ଟଲର ଏକ୍ସକ୍ଲୁସିଭ୍&zwnj; ଆଉଟ୍&zwnj;ଲେଟ</p>
 <div  class="news-date">3/27/23, 5:59 PM</div>
   </div>
 </div>
 <div  class="d-flex news-box divider ng-star-inserted">
   <div  class="col-md-4 col-sm-4 col-4 news-img-container">
 <img  src="https://api-dev.prameyanews.com/prameya/document/post/2/2_103_1679920020799.jpg">
   </div>
   <div  class="col-md-8 col-sm-8 col-8 news-text-container">
 <p>ଆଇସିଏଆଇ ପକ୍ଷରୁ ଦିନିକିଆ କର୍ମଶାଳା</p>
 <div  class="news-date">3/27/23, 5:56 PM</div>
   </div>
 </div>
 <div class="d-flex news-box divider ng-star-inserted">
   <div  class="col-md-4 col-sm-4 col-4 news-img-container">
 <img  src="https://api-dev.prameyanews.com/prameya/document/post/2/2_103_1679919888393.jpg">
   </div>
   <div  class="col-md-8 col-sm-8 col-8 news-text-container">
 <p >୫୦୦ ସହରରେ ଏୟାରଟେଲ୍&zwnj; ୫ଜି ପ୍ଲସ୍&zwnj;</p>
 <div  class="news-date">3/27/23, 5:53 PM</div>
   </div>
 </div>
 <div  class="d-flex news-box divider ng-star-inserted">
   <div  class="col-md-4 col-sm-4 col-4 news-img-container">
 <img  src="https://api-dev.prameyanews.com/prameya/document/post/2/2_103_1679919921693.jpg">
   </div>
   <div  class="col-md-8 col-sm-8 col-8 news-text-container">
 <p >କଂଗ୍ରେସର 'କଳା ପୋଷାକ' ବିରୋଧରେ ଟିଏମସିର ସରପ୍ରାଇସ୍...</p>
 <div  class="news-date">3/27/23, 5:50 PM</div>
   </div>
 </div>
   </div>
  </section>
   </div>
   <div   class="col-md-4 col-sm-12 col-12">
  <section>
   <div  class="news-section">
 <div  class="heading-container">
   <h4  class="news-sub">ରାଜନୀତି</h4>
 </div>
 <div  class="d-flex news-box ng-star-inserted">
   <div  class="col-md-4 col-sm-4 col-4 news-img-container">
 <img  src="https://api-dev.prameyanews.com/prameya/document/post/2/2_103_1679918033560.jpg">
   </div>
   <div  class="col-md-8 col-sm-8 col-8 news-text-container">
 <p >ଘୋଡ଼ାଦୌଡ଼ରେ ଭାଗ ନେବା ପାଇଁ ଆପଣ ଗଧ ଆଣୁଛନ୍ତି: ରାହ...</p>
 <div  class="news-date">3/27/23, 5:22 PM</div>
   </div>
 </div>
 <div  class="d-flex news-box ng-star-inserted">
   <div  class="col-md-4 col-sm-4 col-4 news-img-container">
 <img  src="https://api-dev.prameyanews.com/prameya/document/post/2/2_103_1679917902924.jpg">
   </div>
   <div  class="col-md-8 col-sm-8 col-8 news-text-container">
 <p >ଅରୁଣାଚଳ ପ୍ରଦେଶରେ ଅନୁଷ୍ଠିତ ‘ଜି୨୦’ ଗୋପନୀୟ ବୈଠକ...</p>
 <div  class="news-date">3/27/23, 5:20 PM</div>
   </div>
 </div>
 <div  class="d-flex news-box ng-star-inserted">
   <div  class="col-md-4 col-sm-4 col-4 news-img-container">
 <img  src="https://api-dev.prameyanews.com/prameya/document/post/2/2_103_1679917822339.jpg">
   </div>
   <div  class="col-md-8 col-sm-8 col-8 news-text-container">
 <p >ବୋମା ଫିଙ୍ଗି ପୁଡ୍ଡୁଚେରୀ ଗୃହମନ୍ତ୍ରୀଙ୍କ ଆତ୍ମୀୟଙ୍...</p>
 <div  class="news-date">3/27/23, 5:17 PM</div>
   </div>
 </div>
   </div>
  </section>
   </div>
  </div>
   </div>
   <div class="home-second-cards-container">
  <div class="row">
   <div class="col-md-4 col-sm-12 col-12">
  <section>
   <div  class="news-section">
 <div  class="heading-container">
   <h4  class="news-sub">କ୍ରୀଡା</h4>
 </div>
 <div  class="d-flex news-box ng-star-inserted">
   <div  class="col-md-4 col-sm-4 col-4 news-img-container">
 <img  src="https://api-dev.prameyanews.com/prameya/document/post/2/2_103_1681386541003.jpg">
   </div>
   <div  class="col-md-8 col-sm-8 col-8 news-text-container">
 <p >ଅତିକ୍&zwnj; ଅହମଦ ହତ୍ୟା ପରେ ସିଏମ୍ ଯୋଗୀ ଆଦିତ୍ୟନାଥଙ୍କ...</p>
 <div  class="news-date">4/18/23, 4:58 PM</div>
   </div>
 </div>
 <div  class="d-flex news-box ng-star-inserted">
   <div  class="col-md-4 col-sm-4 col-4 news-img-container">
 <img  src="https://api-dev.prameyanews.com/prameya/document/post/2/2_103_1681300556921.jpg">
   </div>
   <div  class="col-md-8 col-sm-8 col-8 news-text-container">
 <p >ଟସ୍&zwnj; ଜିତି ମୁମ୍ବାଇ ଇଣ୍ଡିଆନ୍ସର ବୋଲିଂ ନିଷ୍ପତ୍ତି,...</p>
 <div  class="news-date">4/16/23, 3:06 PM</div>
   </div>
 </div>
 <div  class="d-flex news-box ng-star-inserted">
   <div  class="col-md-4 col-sm-4 col-4 news-img-container">
 <img  src="https://api-dev.prameyanews.com/prameya/document/post/2/2_103_1681386541003.jpg">
   </div>
   <div  class="col-md-8 col-sm-8 col-8 news-text-container">
 <p >ସମ୍ବଲପୁରରେ ଗତକାଲି ହୋଇଥିବା ଦଙ୍ଗା ଏକ ସୁପରିକଳ୍ପିତ...</p>
 <div  class="news-date">4/13/23, 5:01 PM</div>
   </div>
 </div>
   </div>
  </section>
   </div>
   <div   class="col-md-4 col-sm-12 col-12">
  <section >
   <div  class="news-section">
 <div  class="heading-container">
   <h4  class="news-sub">ଟେକ୍ନୋଲୋଜି</h4>
 </div>
 <div  class="d-flex news-box ng-star-inserted">
   <div  class="col-md-4 col-sm-4 col-4 news-img-container">
 <img  src="https://api-dev.prameyanews.com/prameya/document/post/2/2_103_1679918729950.jpg">
   </div>
   <div  class="col-md-8 col-sm-8 col-8 news-text-container">
 <p >ହାଇୱାକୁ ଧକ୍କ ଦେଲା ବସ୍:୨ ମୃତ, ୫ ଯାତ୍ରୀ ଆହତ</p>
 <div  class="news-date">3/27/23, 5:31 PM</div>
   </div>
 </div>
 <div  class="d-flex news-box ng-star-inserted">
   <div  class="col-md-4 col-sm-4 col-4 news-img-container">
 <img  src="https://api-dev.prameyanews.com/prameya/document/post/2/2_103_1679918570673.jpg">
   </div>
   <div  class="col-md-8 col-sm-8 col-8 news-text-container">
 <p >କାବୁଲରେ ଭୟଙ୍କର ବୋମା ବିସ୍ଫୋରଣ, ଟ୍ରେଡ୍ ସେଣ୍ଟର ନିକଟରେ ବିସ୍ପୋରଣ କଲେ ଆତଙ୍କୀ</p>
 <div  class="news-date">3/27/23, 5:29 PM</div>
   </div>
 </div>
 <div  class="d-flex news-box ng-star-inserted">
   <div  class="col-md-4 col-sm-4 col-4 news-img-container">
 <img  src="https://api-dev.prameyanews.com/prameya/document/post/2/2_103_1679918371975.jpg">
   </div>
   <div  class="col-md-8 col-sm-8 col-8 news-text-container">
 <p >ମାଲ୍ୟାଙ୍କୁ ସୁପ୍ରିମକୋର୍ଟ ରୁ ବଡ଼ ଝଟକା, ଖାରଜ କଲେ ଏହି ଆବେଦନ</p>
 <div  class="news-date">3/27/23, 5:25 PM</div>
   </div>
 </div>
   </div>
  </section>
   </div>
   <div   class="col-md-4 col-sm-12 col-12">
  <section>
   <div  class="news-section">
 <div  class="heading-container">
   <h4  class="news-sub">ମନୋରଞ୍ଜନ</h4>
 </div>
 <div  class="d-flex news-box ng-star-inserted">
   <div  class="col-md-4 col-sm-4 col-4 news-img-container">
 <img  src="https://api-dev.prameyanews.com/prameya/document/post/2/2_103_1681729749298.jpg">
   </div>
   <div  class="col-md-8 col-sm-8 col-8 news-text-container">
 <p >ଓଡ଼ିଆ ଫିଲ୍ମ ପ୍ରଯୋଜକ ନିଜେ ଫିଲ୍ମ କରୁଛନ୍ତି</p>
 <div  class="news-date">4/17/23, 4:37 PM</div>
   </div>
 </div>
 <div  class="d-flex news-box ng-star-inserted">
   <div  class="col-md-4 col-sm-4 col-4 news-img-container">
 <img  src="https://api-dev.prameyanews.com/prameya/document/post/2/2_103_1681205291316.jpg">
   </div>
   <div  class="col-md-8 col-sm-8 col-8 news-text-container">
 <p >୨୦୨୪ରେ ମୋଦି ତୃତୀୟ ଥର ପାଇଁ ହେବେ ପ୍ରଧାନମନ୍ତ୍ରୀ,...</p>
 <div  class="news-date">4/11/23, 3:48 PM</div>
   </div>
 </div>
 <div  class="d-flex news-box ng-star-inserted">
   <div  class="col-md-4 col-sm-4 col-4 news-img-container">
 <img  src="https://api-dev.prameyanews.com/prameya/document/post/2/2_103_1679921211837.jpg">
   </div>
   <div  class="col-md-8 col-sm-8 col-8 news-text-container">
 <p >ନିଖତ୍&zwnj;, ଲଭ୍&zwnj;ଲିନାଙ୍କୁ ସ୍ବର୍ଣ୍ଣ</p>
 <div  class="news-date">3/27/23, 6:16 PM</div>
   </div>
 </div>
   </div>
  </section>
   </div>
  </div>
   </div>
  </div>
  <div class="home-third-container">
   <div class="recent-news-heading">
  <h1>Recent Stories</h1>
   </div>
   <div   class="recent-news-card">
  <section>
   <div  class="news-section">
  <div  class="d-flex news-box">
   <div  class="col-md-3 col-sm-12 col-12 news-img-container ng-star-inserted">
 <img  src="https://api-dev.prameyanews.com/prameya/document/post/2/2_81_1680764451768.jpg">
 <p >ଅସହ୍ୟ ତାତି: ଦେଶରେ ବ୍ଲାକଆଉଟ ହେବା ଆଶଙ୍କା ଘନେଇଲା.</p>
 <div  class="news-date">4/19/23, 2:06 PM</div>
   </div>
   <div  class="col-md-3 col-sm-12 col-12 news-img-container ng-star-inserted">
 <img  src="https://api-dev.prameyanews.com/prameya/document/post/2/2_103_1681386541003.jpg">
 <p >ଅତିକ୍&zwnj; ଅହମଦ ହତ୍ୟା ପରେ ସିଏମ୍ ଯୋଗୀ ଆଦିତ୍ୟନାଥଙ୍କ କଡା ବୟାନ: 'କୌଣସି ମାଫିଆ କାହାରିକୁ ଧମକାଇ ପାରିବେନି' </p>
 <div  class="news-date">4/18/23, 4:58 PM</div>
   </div>
   <div  class="col-md-3 col-sm-12 col-12 news-img-container ng-star-inserted">
 <img  src="https://api-dev.prameyanews.com/prameya/document/post/2/2_103_1681729749298.jpg">
 <p >ଓଡ଼ିଆ ଫିଲ୍ମ ପ୍ରଯୋଜକ ନିଜେ ଫିଲ୍ମ କରୁଛନ୍ତି</p>
 <div  class="news-date">4/17/23, 4:37 PM</div>
   </div>
   <div  class="col-md-3 col-sm-12 col-12 news-img-container ng-star-inserted">
 <img  src="https://api-dev.prameyanews.com/prameya/document/post/2/2_103_1681300556921.jpg">
 <p >ଟସ୍&zwnj; ଜିତି ମୁମ୍ବାଇ ଇଣ୍ଡିଆନ୍ସର ବୋଲିଂ ନିଷ୍ପତ୍ତି, ବ୍ୟାଟିଂ କରିବ କୋଲକାତା ନାଇଟ୍&zwnj; ରାଇଡର୍ସ </p>
 <div  class="news-date">4/16/23, 3:06 PM</div>
   </div>
   <div  class="col-md-3 col-sm-12 col-12 news-img-container ng-star-inserted">
 <img  src="https://api-dev.prameyanews.com/prameya/document/post/2/2_103_1681546525778.jpg">
 <p >ପୁଣି ଚାଷୀ ଆତ୍ମହତ୍ୟା :ଅଜଣା ରୋଗରେ ଚାଷ ନଷ୍ଟ ହେବାରୁ ଚାଷୀ କଲା ଆତ୍ମହତ୍ୟା </p>
 <div  class="news-date">4/15/23, 1:39 PM</div>
   </div>
   <div  class="col-md-3 col-sm-12 col-12 news-img-container ng-star-inserted">
 <img  src="https://api-dev.prameyanews.com/prameya/document/post/2/2_103_1681386541003.jpg">
 <p >ସମ୍ବଲପୁରରେ ଗତକାଲି ହୋଇଥିବା ଦଙ୍ଗା ଏକ ସୁପରିକଳ୍ପିତ ଷଡଯନ୍ତ୍ର : ମନମୋହନ ସାମଲ</p>
 <div  class="news-date">4/13/23, 5:01 PM</div>
   </div>
   <div  class="col-md-3 col-sm-12 col-12 news-img-container ng-star-inserted">
 <img  src="https://api-dev.prameyanews.com/prameya/document/post/2/2_103_1681385313874.jpg">
 <p >ମାଫିଆ ଅତୀକ ଅହମ୍ମଦର ପୁଅ ଏନକାଉଣ୍ଟରରେ ନିହତ</p>
 <div  class="news-date">4/13/23, 4:48 PM</div>
   </div>
   <div  class="col-md-3 col-sm-12 col-12 news-img-container ng-star-inserted">
 <img  src="https://api-dev.prameyanews.com/prameya/document/post/2/2_103_1681296926094.jpg">
 <p >କୁଳଡିହା ଅଭୟାରଣ୍ୟରେ ପୁଣି ଦନ୍ତାହାତୀର ମୃତ୍ୟୁ, ବର୍ଷକରେ ମଲେଣି ୮ ହାତୀ</p>
 <div  class="news-date">4/12/23, 4:19 PM</div>
   </div>
  </div>
   </div>
   <div  class="d-flex justify-content-center">
  <pagination-controls  previouslabel="Previous" nextlabel="Next">
   <pagination-template>
 <nav role="navigation" aria-label="Pagination">
   <ul class="ngx-pagination responsive ng-star-inserted">
 <li class="pagination-previous disabled ng-star-inserted">
   <span aria-disabled="true" class="ng-star-inserted"> Previous <span class="show-for-sr">page</span>
   </span>
 </li>
 <li class="small-screen"> 1 / 3 </li>
 <li class="current ng-star-inserted">
   <span aria-live="polite" class="ng-star-inserted">
 <span class="show-for-sr">You're on page </span>
 <span>1</span>
   </span>
 </li>
 <li class="ng-star-inserted">
   <a tabindex="0" class="ng-star-inserted">
 <span class="show-for-sr">page </span>
 <span>2</span>
   </a>
  
 </li>
 <li class="ng-star-inserted">
   <a tabindex="0" class="ng-star-inserted">
 <span class="show-for-sr">page </span>
 <span>3</span>
   </a>
 </li>
 <li class="pagination-next ng-star-inserted">
   <a tabindex="0" class="ng-star-inserted"> Next <span class="show-for-sr">page</span>
   </a>
   
 </li>

   </ul>
 </nav>
   </pagination-template>
  </pagination-controls>
   </div>
  </section>
   </div>
  </div>
  <div class="home-fourth-container">
   <div class="recent-news-heading">
  <h1>Featured Stories</h1>
   </div>
   <div class="recent-news-card">
  <section>
   <div class="news-section">
  <div class="row news-box">
   <div class="col-md-4 col-sm-12 col-12 news-img-container ng-star-inserted">
 <img src="https://api-dev.prameyanews.com/prameya/document/post/2/2_103_1680846705276.jpg">
 <div class="news-text-container">
   <p>ଘର ଭିତରୁ ମହିଳାଙ୍କ ଝୁଲନ୍ତା ମୃତଦେହ ଉଦ୍ଧାର</p>
   <div  class="news-date">4/11/23, 2:12 PM</div>
 </div>
   </div>
   <div  class="col-md-4 col-sm-12 col-12 news-img-container ng-star-inserted">
 <img  src="https://api-dev.prameyanews.com/prameya/document/post/2/2_103_1681215874879.png">
 <div  class="news-text-container">
   <p >ଏଚ-୩-ଏନ-୮ ବାର୍ଡ ଫ୍ଲୁରେ ପ୍ରଥମ ମୃତ୍ୟୁ ନେଇ ଆତଙ୍କ: ଡବ୍ଲୁଏଚଓ କହିଲା ଭୟର କାରଣ...</p>
   <div  class="news-date">4/12/23, 2:18 PM</div>
 </div>
   </div>
   <div  class="col-md-4 col-sm-12 col-12 news-img-container ng-star-inserted">
 <img  src="https://api-dev.prameyanews.com/prameya/document/post/2/2_103_1681205291316.jpg">
 <div  class="news-text-container">
   <p >୨୦୨୪ରେ ମୋଦି ତୃତୀୟ ଥର ପାଇଁ ହେବେ ପ୍ରଧାନମନ୍ତ୍ରୀ, ଭାଜପା ଜିତିବ ୩୦୦ରୁ ଅଧିକ ଆ...</p>
   <div  class="news-date">4/11/23, 3:48 PM</div>
 </div>
   </div>
   <div class="col-md-4 col-sm-12 col-12 news-img-container ng-star-inserted">
 <img src="https://api-dev.prameyanews.com/prameya/document/post/2/2_103_1681546525778.jpg">
 <div lass="news-text-container">
   <p >ପୁଣି ଚାଷୀ ଆତ୍ମହତ୍ୟା :ଅଜଣା ରୋଗରେ ଚାଷ ନଷ୍ଟ ହେବାରୁ ଚାଷୀ କଲା ଆତ୍ମହତ୍ୟା</p>
   <div  class="news-date">4/15/23, 1:39 PM</div>
 </div>
   </div>
  </div>
   </div>
  </section>
   </div>
  </div>
  <app-search-sticky></app-search-sticky>

  <section>
   <div class="container-fluid footer-container">
  <div class="row">
   <div class="col-md-3 col-sm-6 col-12">
  <section>
   <div class="news-section">
 <div class="heading-container">
   <h4 class="news-sub">କ୍ୟାମ୍ପସ୍ ମ୍ୟୁଜ୍ |</h4>
 </div>
 <div class="d-flex news-box ng-star-inserted">
   <div class="col-md-4 col-sm-4 col-5 news-img-container">
 <img src="https://api-dev.prameyanews.com/prameya/document/post/2/2_103_1681386541003.jpg">
   </div>
   <div class="col-md-8 col-sm-8 col-7 news-text-container">
 <p>ଅତିକ୍&zwnj; ଅହମଦ ହତ୍ୟା ପରେ ସିଏମ୍ ଯୋଗୀ ଆଦିତ୍ୟନାଥଙ୍କ...</p>
 <div class="news-date">4/18/23, 4:58 PM</div>
   </div>
 </div>
 <div class="d-flex news-box divider ng-star-inserted">
   <div class="col-md-4 col-sm-4 col-5 news-img-container">
 <img src="https://api-dev.prameyanews.com/prameya/document/post/2/2_103_1681281056716.jpg">
   </div>
   <div class="col-md-8 col-sm-8 col-7 news-text-container">
 <p>ଡିଫେନ୍ସ କଲୋନୀ ସ୍କୁଲରେ ବୋମା ଆତଙ୍କ: ଇ-ମେଲରେ ଧମକ...</p>
 <div class="news-date">4/12/23, 2:41 PM</div>
   </div>
 </div>
 <div class="d-flex news-box divider ng-star-inserted">
   <div class="col-md-4 col-sm-4 col-5 news-img-container">
 <img src="https://api-dev.prameyanews.com/prameya/document/post/2/2_103_1680181329881.jpg">
   </div>
   <div class="col-md-8 col-sm-8 col-7 news-text-container">
 <p >ଋଷିକୁଲ୍ୟା ମୁହାଁଣରେ ବିରଳ ପ୍ରଜାତିର ସାମୁଦ୍ରିକ କଇଁ...</p>
 <div class="news-date">3/30/23, 6:32 PM</div>
   </div>
 </div>
 <div class="d-flex news-box divider ng-star-inserted">
   <div class="col-md-4 col-sm-4 col-5 news-img-container">
 <img src="https://api-dev.prameyanews.com/prameya/document/post/2/2_81_1680162956360.jpg">
   </div>
   <div class="col-md-8 col-sm-8 col-7 news-text-container">
 <p>ଏପ୍ରିଲ ୧୯ରେ ନାକ୍&zwnj; ଟିମ୍&zwnj;ର ଉତ୍କଳ ବିଶ୍ୱବିଦ୍ୟାଳୟ ଗ...</p>
 <div class="news-date">3/30/23, 1:20 PM</div>
   </div>
 </div>
   </div>
  </section>
   </div>
   <div class="col-md-3 col-sm-6 col-12">
  <section>
   <div  class="news-section">
 <div  class="heading-container">
   <h4  class="news-sub">ମହିଳାମାନେ</h4>
 </div>
 <div  class="d-flex news-box ng-star-inserted">
   <div  class="col-md-4 col-sm-4 col-5 news-img-container">
 <img  src="https://api-dev.prameyanews.com/prameya/document/post/2/2_103_1680181329881.jpg">
   </div>
   <div  class="col-md-8 col-sm-8 col-7 news-text-container">
 <p >ଋଷିକୁଲ୍ୟା ମୁହାଁଣରେ ବିରଳ ପ୍ରଜାତିର ସାମୁଦ୍ରିକ କଇଁ...</p>
 <div  class="news-date">3/30/23, 6:32 PM</div>
   </div>
 </div>
 <div  class="d-flex news-box divider ng-star-inserted">
   <div  class="col-md-4 col-sm-4 col-5 news-img-container">
 <img  src="https://api-dev.prameyanews.com/prameya/document/post/2/2_103_1679920251294.jpg">
   </div>
   <div  class="col-md-8 col-sm-8 col-7 news-text-container">
 <p >କଟକରେ ଟର୍ଟଲର ଏକ୍ସକ୍ଲୁସିଭ୍&zwnj; ଆଉଟ୍&zwnj;ଲେଟ</p>
 <div  class="news-date">3/27/23, 5:59 PM</div>
   </div>
 </div>
 <div  class="d-flex news-box divider ng-star-inserted">
   <div  class="col-md-4 col-sm-4 col-5 news-img-container">
 <img  src="https://api-dev.prameyanews.com/prameya/document/post/2/2_103_1679920020799.jpg">
   </div>
   <div  class="col-md-8 col-sm-8 col-7 news-text-container">
 <p >ଆଇସିଏଆଇ ପକ୍ଷରୁ ଦିନିକିଆ କର୍ମଶାଳା</p>
 <div  class="news-date">3/27/23, 5:56 PM</div>
   </div>
 </div>
 <div  class="d-flex news-box divider ng-star-inserted">
   <div  class="col-md-4 col-sm-4 col-5 news-img-container">
 <img  src="https://api-dev.prameyanews.com/prameya/document/post/2/2_103_1679919888393.jpg">
   </div>
   <div  class="col-md-8 col-sm-8 col-7 news-text-container">
 <p >୫୦୦ ସହରରେ ଏୟାରଟେଲ୍&zwnj; ୫ଜି ପ୍ଲସ୍&zwnj;</p>
 <div  class="news-date">3/27/23, 5:53 PM</div>
   </div>
 </div>
   </div>
  </section>
   </div>
   <div class="col-md-3 col-sm-6 col-12">
  <section>
   <div class="news-section">
 <div class="heading-container">
   <h4 class="news-sub">ବିଜ୍ଞାନ</h4>
 </div>
 <div class="row news-box ng-star-inserted">
   <div class="col-md-4 col-sm-4 col-4 news-img-container">
 <img src="https://api-dev.prameyanews.com/prameya/document/post/2/2_103_1679920251294.jpg">
   </div>
   <div class="col-md-8 col-sm-8 col-8 news-text-container">
 <p >କଟକରେ ଟର୍ଟଲର ଏକ୍ସକ୍ଲୁସିଭ୍&zwnj; ଆଉଟ୍&zwnj;ଲେଟ</p>
 <div class="news-date">3/27/23, 5:59 PM</div>
   </div>
 </div>
 <div class="row news-box divider ng-star-inserted">
   <div class="col-md-4 col-sm-4 col-4 news-img-container">
 <img src="https://api-dev.prameyanews.com/prameya/document/post/2/2_103_1679920020799.jpg">
   </div>
   <div class="col-md-8 col-sm-8 col-8 news-text-container">
 <p >ଆଇସିଏଆଇ ପକ୍ଷରୁ ଦିନିକିଆ କର୍ମଶାଳା</p>
 <div class="news-date">3/27/23, 5:56 PM</div>
   </div>
 </div>
 <div class="row news-box divider ng-star-inserted">
   <div class="col-md-4 col-sm-4 col-4 news-img-container">
 <img src="https://api-dev.prameyanews.com/prameya/document/post/2/2_103_1679919888393.jpg">
   </div>
   <div class="col-md-8 col-sm-8 col-8 news-text-container">
 <p >୫୦୦ ସହରରେ ଏୟାରଟେଲ୍&zwnj; ୫ଜି ପ୍ଲସ୍&zwnj;</p>
 <div class="news-date">3/27/23, 5:53 PM</div>
   </div>
 </div>
   </div>
  </section>
   </div>
   <div class="col-md-3 col-sm-6 col-12">
  <section>
   <div  class="news-section">
 <div  class="heading-container">
   <h4  class="news-sub">ଟ୍ୱିନ୍ ସିଟି</h4>
 </div>
 <div  class="row news-box ng-star-inserted">
   <div  class="col-md-4 col-sm-4 col-4 news-img-container">
 <img  src="https://api-dev.prameyanews.com/prameya/document/post/2/2_103_1679920251294.jpg">
   </div>
   <div  class="col-md-8 col-sm-8 col-8 news-text-container">
 <p  >କଟକରେ ଟର୍ଟଲର ଏକ୍ସକ୍ଲୁସିଭ୍&zwnj; ଆଉଟ୍&zwnj;ଲେଟ</p>
 <div  class="news-date">3/27/23, 5:59 PM</div>
   </div>
 </div>
 <div  class="row news-box divider ng-star-inserted">
   <div  class="col-md-4 col-sm-4 col-4 news-img-container">
 <img  src="https://api-dev.prameyanews.com/prameya/document/post/2/2_103_1679920020799.jpg">
   </div>
   <div  class="col-md-8 col-sm-8 col-8 news-text-container">
 <p  >ଆଇସିଏଆଇ ପକ୍ଷରୁ ଦିନିକିଆ କର୍ମଶାଳା</p>
 <div  class="news-date">3/27/23, 5:56 PM</div>
   </div>
 </div>
 <div  class="row news-box divider ng-star-inserted">
   <div  class="col-md-4 col-sm-4 col-4 news-img-container">
 <img  src="https://api-dev.prameyanews.com/prameya/document/post/2/2_103_1679919888393.jpg">
   </div>
   <div  class="col-md-8 col-sm-8 col-8 news-text-container">
 <p>୫୦୦ ସହରରେ ଏୟାରଟେଲ୍&zwnj; ୫ଜି ପ୍ଲସ୍&zwnj;</p>
 <div  class="news-date">3/27/23, 5:53 PM</div>
   </div>
 </div>
 <div  class="row news-box divider ng-star-inserted">
   <div  class="col-md-4 col-sm-4 col-4 news-img-container">
 <img  src="https://api-dev.prameyanews.com/prameya/document/post/2/2_103_1679919921693.jpg">
   </div>
   <div  class="col-md-8 col-sm-8 col-8 news-text-container">
 <p>କଂଗ୍ରେସର 'କଳା ପୋଷାକ' ବିରୋଧରେ ଟିଏମସିର ସରପ୍ରାଇସ୍...</p>
 <div  class="news-date">3/27/23, 5:50 PM</div>
   </div>
 </div>
   </div>
  </section>
   </div>
  </div>

  <div class="btn-section">
   <button type="button" routerlink="" class="btn btn-secondary" tabindex="0">Home</button>
   <button type="button" routerlink="/category/odisha-news-in-english" class="btn btn-secondary" tabindex="0"> Odisha </button>
   <button type="button" routerlink="/category/women" class="btn btn-secondary" tabindex="0"> Women </button>
   <button type="button" routerlink="/category/economy" class="btn btn-secondary" tabindex="0"> Economy </button>
   <button type="button" routerlink="/category/business" class="btn btn-secondary" tabindex="0"> Business </button>
   <button type="button" routerlink="/category/nation" class="btn btn-secondary" tabindex="0"> Nation </button>
  </div>
   </div>
   <footer class="bg-grey py-5">
  <div class="container-fluid">
   <div class="row">
  <div class="col-md-7 bdr-rt">
   <div class="row">
 <div class="col-md-6 px-4">
   <h6 class="footer-header">News</h6>
   <ul   >
 <li   >
   <a target="_blank" href="https://www.prameyanews7.com"> News7 Odia</a>
 </li>
 <li   >
   <a target="_blank" href="https://prameyaepaper.com"> Prameya-ePaper</a>
 </li>
 <li   >
   <a target="_blank" href="https://www.prameya.com"> Prameya-Odia</a>
 </li>
   </ul>
 </div>
 <div class="col-md-6 px-4">
   <h6 class="footer-header">Quick Links</h6>
   <ul   >
 <li   >
   <a routerlink="/contact-us" href="/contact-us">Contact Us</a>
 </li>
 <li   >
   <a routerlink="/PrivacyPolicy" href="/PrivacyPolicy">Privacy Policy</a>
 </li>
 <li   >
   <a routerlink="/termofuses" href="/termofuses">Terms of Usage</a>
 </li>
   </ul>
 </div>
   </div>
  </div>
  <div class="col-md-5">
   <h6 class="footer-header text-center">Download App</h6>
   <div class="logo-part">
 <div class="row">
   <div class="col-md-4">
 <ul>
   <li >
 <a href="#"> News7 Odia</a>
   </li>
   <li   >
 <a href="https://play.google.com/store/apps/details?id=com.nirmalya.prameya_news7"> Prameya <br>(ePaper,Odia,English) </a>
   </li>
 </ul>
   </div>
   <div class="col-md-8">
 <div class="download-app">
   <img src="assets/img/appstore1.png">
   <img src="assets/img/appstore2.png">
 </div>
 <div class="download-app">
   <img src="assets/img/appstore1.png">
   <img src="assets/img/appstore2.png">
 </div>
   </div>
   <div class="col-md-12">
 <div class="social-icon">
   <a target="_blank" href="https://www.facebook.com/prameyaodia" class="fa fa-facebook" aria-hidden="true"></a>
   <a target="_blank" href="https://twitter.com/prameyaodia" class="fa fa-twitter" aria-hidden="true"></a>
   <a class="fa fa-instagram" aria-hidden="true"></a>
   <a class="fa fa-linkedin" aria-hidden="true"></a>
   <a class="fab fa-telegram-plane" aria-hidden="true"></a>
   <a class="fa fa-snapchat-ghost" aria-hidden="true"></a>
   <a class="fa fa-youtube" aria-hidden="true"></a>
 </div>
   </div>
 </div>
   </div>
  </div>
   </div>
  </div>
   </footer>
   <div class="credits-container">
  <p> Copyright © 2022 - <a   >Summa Real Media Private Limited</a>. All Rights Reserved. </p>
  <div class="footer-links-container">
   <ul class="footer-navigation">
  <li routerlink="/contact-us" class="navigation-item" tabindex="0">Contact Us</li>
  <li routerlink="/PrivacyPolicy" class="navigation-item" tabindex="0"> Privacy Policy </li>
  <li routerlink="/termofuses" class="navigation-item" tabindex="0">Terms of Usage</li>
   </ul>
  </div>
   </div>

  </section>