<div class="sticky-header">
  <app-header></app-header>
</div>
<app-latest-news-header></app-latest-news-header>
<div class="article-container" *ngIf="news">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <span class="br-span" routerLink="/">Home</span>
      </li>
      <li class="breadcrumb-item">
        <span class="br-span" [routerLink]="news.category_slug">{{
          news.category_name
        }}</span>
      </li>
      <li class="breadcrumb-item" aria-current="page">
        <span>{{ news.post_title }}</span>
      </li>
    </ol>
  </nav>
  <div class="row">
    <div class="col-md-8 col-12">
      <div class="article-section-container bg-light ng-star-inserted">
        <h1 class="article-heading">
          {{ news.post_title }}
          <span target="_blank" class="ng-star-inserted"> </span>
          <!---->
        </h1>
        <div class="social-section">
          <div class="share-section">
            <div
              (click)="createNavigationUrl('facebook')"
              class="facebook-icon share-box"
            >
              <i class="fa-brands fa-facebook-f"></i>
              <p>Share</p>
            </div>
            <div
              (click)="createNavigationUrl('twitter')"
              class="twitter-icon share-box"
            >
              <div class="twitter-icon-x">
                <svg
                  viewBox="0 0 24 24"
                  aria-hidden="true"
                  class="r-18jsvk2 r-4qtqp9 r-yyyyoo r-16y2uox r-8kz0gk r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-lrsllp"
                >
                  <g>
                    <path
                      d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z"
                    ></path>
                  </g>
                </svg>
              </div>
              <p>Tweet</p>
            </div>
            <!-- <div
              (click)="createNavigationUrl('gmail')"
              class="messenger-icon share-box"
            >
              <i class="fa-brands fa fa-google"></i>
              <p>Share</p>
            </div> -->
            <div
              (click)="createNavigationUrl('whatsapps')"
              class="whatsapp-icon share-box"
            >
              <i class="fa-brands fa-whatsapp"></i>
              <p>Share</p>
            </div>
            <!-- <div
              (click)="createNavigationUrl('telegram')"
              class="share-icon share-box"
            >
              <i class="fa-solid fa fa-telegram"></i>
              <p>Share</p>
            </div> -->

            <!-- <div
              (click)="createNavigationUrl('sharechat')"
              class="share-chat share-box"
            >
              <i class="fa-solid fa fa-meetup"></i>
              <p>Share</p>
            </div> -->
          </div>
        </div>
        <div class="author-cat-section">
          <div class="author-section">
            <p>
              <span
                ><time>{{ news.post_date | date : "short" }}</time></span
              >
            </p>
          </div>
        </div>
        <div class="article-component-img">
          <img class="article-image" alt="" [src]="news.guid" />
          <p class="img-caption" *ngIf="news.media_caption">
            {{ news.media_caption }}
          </p>
          <!-- <p class="share-number">
            {{ news.post_click }} {{ news.post_click === 1 ? "View" : "Views" }}
          </p> -->
        </div>

        <!-- <div
          class="article-text-section"
          [innerHTML]="news.post_content_sanitized"
        ></div> -->

        <div
          class="article-text-section"
          *ngIf="news.post_content"
          [innerHTML]="news.post_content"
        ></div>
        <div class="category-list-container" *ngIf="nameArr">
          <!-- <ul class="category-list"> -->
           <!-- <div>Tags </div>  -->
            <div
              class="category-name"
              *ngFor="let post of nameArr"
              (click)="opentags(post)"
            >
              {{ post }}
          </div>
          <div class="clear"></div>
          <!-- </ul> -->
        </div>
       
        <button class="morebtn" (click)="openapp()">Read more in App</button>
       
      </div>

      <div class="article-section-container ng-star-inserted">
        <div class="article-text-section">
          <div class="related-content-section">
            <div class="related-content-section-heading">
              <h1>
                <span>ସମ୍ବନ୍ଧିତ ଖବର</span>
              </h1>
            </div>
            <div class="related-content-section-cards prameya-epapers">
              <div class="news-section">
                <div class="d-flex flex-wrap news-box">
                  <article
                    class="col-md-4 col-sm-12 col-12 news-img-container ng-star-inserted"
                    *ngFor="let post of nextthree"
                    (click)="opennewsSec(post.slug, post.twitter_exists)"
                  >
                    <img class="news-images" [src]="post.guid" />
                    <div class="news-text-container">
                      <p>
                        {{
                          post.post_title ? getShortName(post.post_title) : ""
                        }}
                      </p>
                      <div class="news-date">
                        {{ post.post_date | date : "short" }}
                      </div>
                    </div>
                  </article>

                  <!---->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!---->
    </div>
    <div class="col-md-4 col-12">
      <div class="prameya-epaper text-center">
        <img
          src="assets/img/prameya-epaper-link.jpeg"
          class="prameya-epaper-image"
        />
      </div>
      <div class="prameya-epaper" style="height: 280px" *ngIf="ads_rightupper">
        <div class="advertisement-space-container-first">
          <div class="advertisement-space-container-first">
            <div class="slider">
              <div
                class="slides"
                [ngStyle]="{ transform: 'translateX(' + translateValue + ')' }"
              >
                <div class="slide">
                  <img
                    *ngFor="let rightupper_ad of ads_rightupper; let i = index"
                    class="d-block w-100"
                    loading="lazy"
                    fetchPrirority="high"
                    src="{{ rightupper_ad.ads_image }}"
                    alt="{{ rightupper_ad.ads_image_alt_text }}"
                    (click)="openLink(rightupper_ad.ads_image_link)"
                  />
                </div>
              </div>
              <div class="controls">
                <button
                  class="prev"
                  (click)="moveSlide('minus')"
                  mat-icon-button
                >
                  <mat-icon>chevron_left</mat-icon>
                </button>
                <button
                  class="next"
                  (click)="moveSlide('plus')"
                  mat-icon-button
                >
                  <mat-icon>chevron_right</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="prameya-epaper">
        <div>
          <div class="news-section">
            <div class="heading-container">
              <h4 class="news-sub">ରାଜନୀତି</h4>
            </div>
            <article
              class="d-flex news-box ng-star-inserted"
              *ngFor="let post of polticesnews"
              (click)="opennewsSec(post.slug, post.twitter_exists)"
            >
              <div class="col-md-4 col-sm-4 col-4 news-img-container">
                <img
                  src="{{
                    post.home_img != null && post.home_img != undefined
                      ? post.home_img
                      : post.guid
                  }}"
                  loading="lazy"
                  fetchPrirority="high"
                  [attr.alt]="post.media_alt_text"
                />
              </div>
              <div class="col-md-8 col-sm-8 col-8 news-text-container">
                <p>
                  {{ post.post_title ? getShortName(post.post_title) : "" }}
                </p>
                <div class="news-date">
                  <time class="news-date">{{
                    post.post_date | date : "MMMM dd, yyyy"
                  }}</time>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
      <div class="prameya-epaper">
        <div>
          <div class="news-section">
            <div class="heading-container">
              <h4 class="news-sub">ମନୋରଞ୍ଜନ</h4>
            </div>
            <article
              class="d-flex news-box ng-star-inserted"
              *ngFor="let post of entermentaarr"
              (click)="opennewsSec(post.slug, post.twitter_exists)"
            >
              <div class="col-md-4 col-sm-4 col-4 news-img-container">
                <img
                  src="{{
                    post.home_img != null && post.home_img != undefined
                      ? post.home_img
                      : post.guid
                  }}"
                  [attr.alt]="post.media_alt_text"
                  loading="lazy"
                  fetchPrirority="high"
                />
              </div>
              <div class="col-md-8 col-sm-8 col-8 news-text-container">
                <p>
                  {{ post.post_title ? getShortName(post.post_title) : "" }}
                </p>
                <div class="news-date">
                  <time class="news-date">{{
                    post.post_date | date : "MMMM dd, yyyy"
                  }}</time>
                </div>
              </div>
            </article>
            <!---->
          </div>
        </div>
      </div>
      <div class="prameya-epaper" *ngIf="ads_leftmiddle != 0">
        <div class="advertisement-container-long">
          <div class="slider-long">
            <div
              class="slides-long"
              [ngStyle]="{ transform: 'translateX(' + translateValue1 + ')' }"
            >
              <div class="slide-long">
                <img
                  *ngFor="let rightupper_ad of ads_leftmiddle; let i = index"
                  class="d-block w-100"
                  loading="lazy"
                  fetchPrirority="high"
                  src="{{ rightupper_ad.ads_image }}"
                  alt="{{ rightupper_ad.ads_image_alt_text }}"
                  (click)="openLink(rightupper_ad.ads_image_link)"
                />
              </div>
            </div>
            <div class="controls">
              <button
                class="prev"
                (click)="moveSlideleft('minus')"
                mat-icon-button
              >
                <mat-icon>chevron_left</mat-icon>
              </button>
              <button
                class="next"
                (click)="moveSlideleft('plus')"
                mat-icon-button
              >
                <mat-icon>chevron_right</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="prameya-epaper">
        <div>
          <div class="news-section">
            <div class="heading-container">
              <h4 class="news-sub">ଖେଳ</h4>
            </div>
            <article
              class="d-flex news-box ng-star-inserted"
              *ngFor="let post of sportsnews"
              (click)="opennewsSec(post.slug, post.twitter_exists)"
            >
              <div class="col-md-4 col-sm-4 col-4 news-img-container">
                <img
                  src="{{
                    post.home_img != null && post.home_img != undefined
                      ? post.home_img
                      : post.guid
                  }}"
                  loading="lazy"
                  fetchPrirority="high"
                  [attr.alt]="post.media_alt_text"
                />
              </div>
              <div class="col-md-8 col-sm-8 col-8 news-text-container">
                <p>
                  {{ post.post_title ? getShortName(post.post_title) : "" }}
                </p>
                <div class="news-date">
                  <time class="news-date">{{
                    post.post_date | date : "MMMM dd, yyyy"
                  }}</time>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
      <div class="prameya-epaper">
        <div>
          <div class="news-section">
            <div class="heading-container">
              <h4 class="news-sub">ଅପରାଧ</h4>
            </div>
            <article
              class="d-flex news-box ng-star-inserted"
              *ngFor="let post of crimesnews"
              (click)="opennewsSec(post.slug, post.twitter_exists)"
            >
              <div class="col-md-4 col-sm-4 col-4 news-img-container">
                <img
                  src="{{
                    post.home_img != null && post.home_img != undefined
                      ? post.home_img
                      : post.guid
                  }}"
                  [attr.alt]="post.media_alt_text"
                  loading="lazy"
                  fetchPrirority="high"
                />
              </div>
              <div class="col-md-8 col-sm-8 col-8 news-text-container">
                <p>
                  {{ post.post_title ? getShortName(post.post_title) : "" }}
                </p>
                <div class="news-date">
                  <time class="news-date">{{
                    post.post_date | date : "MMMM dd, yyyy"
                  }}</time>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-taboola-widget-component></app-taboola-widget-component>
</div>

<app-search-sticky></app-search-sticky>
<app-footer></app-footer>
