.breadcrumb {
  padding: 15px !important;
  /* background-color: transparent !important; */
}

.br-span {
  cursor: pointer;
  color: #d12133;
  font-weight: bold;
}
.news-section {
  background-color: #fff;
}
.bg-light {
  padding: 0px 20px;
}

.article-component-img {
  height: auto;
  margin-bottom: 10px;
}
.article-component-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.article-section-container .article-image {
  width: -webkit-fill-available;
  margin: 20px 0px;
  max-width: 100%;
  height: auto;
}
