<app-header></app-header>
<div class="article-container">
    <div class="row">
        <div class="col-md-9 col-12">
            <div class="article-section-container">
                <h1 class="article-heading">
                    ଡିଜାଇନର ଶାଢୀରେ କିଲର ଲୁକ୍‌ ଦେଲେ ଶେହନାଜ୍, ଦିୱାନା ହେଲେ ଫ୍ୟାନ୍ସ
                </h1>
                <div class="author-cat-section">
                    <div class="author-section">
                        <img src="assets/img/author.jpg" />
                        <p>By <span>James Raphels</span> - Last Updated <span>August 26, 2022</span></p>
                    </div>
                    <div class="category-section">
                        Business
                    </div>
                </div>
                <img class="article-image" src="assets/img/cover5.jpg" />
                <div class="social-section">
                    <div class="share-section">
                        <div class="share-cont">
                            <i class="fa-solid fa-share-nodes"></i>
                            Share
                        </div>
                        <div class="facebook-icon">
                            <i class="fa-brands fa-facebook-f"></i>
                        </div>
                        <div class="twitter-icon">
                            <i class="fa-brands fa-twitter"></i>
                        </div>
                    </div>
                </div>
                <div class="article-text-section">
                    <p>Three days before Cboe Global Markets Inc., one of the world’s biggest regulated exchanges,
                         debuts futures on the cryptocurrency, it had one of its wildest sessions ever. On Coinbase Inc.’s GDAX exchange,
                          prices zoomed up to almost $20,000 from $16,000 in only about 90 minutes — then crashed back down. 
                          The largest digital currency is still up more than 16-fold this year.
                    </p>
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-12">
                            <p>Three days before Cboe Global Markets Inc., one of the world’s biggest regulated exchanges,
                                debuts futures on the cryptocurrency, it had one of its wildest sessions ever. 
                                On Coinbase Inc.’s GDAX exchange, prices zoomed up to almost $20,000 from $16,000 in only about 90 minutes — then crashed back down.
                                 The largest digital currency is still up more than 16-fold this year.
                           </p>

                           <p>The group outlined their concerns in an open letter, questioning whether the exchanges would be
                            able to adequately police market manipulation for bitcoin futures. FIA added that the exchanges
                            didn’t get enough industry feedback on margin levels, trading limits, stress tests, and clearing
                            for the products before bringing them to market.
                        </p>
                        </div>
                        <div class="col-md-6 col-sm-12 col-12">
                            <div class="advertisement-space-container-first" style="background-image: url('assets/img/ad.jpg')">
                                <p class="placeholder-text">Advertisement</p>
                                <p class="placeholder-size">300 X 250</p>
                              </div>
                              <p class="ad-text">-Advertisement-</p>
                        </div>
                    </div>


                 
                    <p>Three days before Cboe Global Markets Inc., one of the world’s biggest regulated exchanges,
                        debuts futures on the cryptocurrency, it had one of its wildest sessions ever. 
                        On Coinbase Inc.’s GDAX exchange, prices zoomed up to almost $20,000 from $16,000 in only about 90 minutes — then crashed back down.
                         The largest digital currency is still up more than 16-fold this year..
                    </p>
                    <p>Three days before Cboe Global Markets Inc., one of the world’s biggest regulated exchanges,
                        debuts futures on the cryptocurrency, it had one of its wildest sessions ever. 
                        On Coinbase Inc.’s GDAX exchange, prices zoomed up to almost $20,000 from $16,000 in only about 90 minutes — then crashed back down.
                         The largest digital currency is still up more than 16-fold this year.
                    </p>
                    <p>The group outlined their concerns in an open letter, questioning whether the exchanges would be
                        able to adequately police market manipulation for bitcoin futures. FIA added that the exchanges
                        didn’t get enough industry feedback on margin levels, trading limits, stress tests, and clearing
                        for the products before bringing them to market.
                    </p>
                    <p>The group outlined their concerns in an open letter, questioning whether the exchanges would be
                        able to adequately police market manipulation for bitcoin futures. FIA added that the exchanges
                        didn’t get enough industry feedback on margin levels, trading limits, stress tests, and clearing
                        for the products before bringing them to market.
                    </p>
                    <p>Three days before Cboe Global Markets Inc., one of the world’s biggest regulated exchanges,
                        debuts futures on the cryptocurrency, it had one of its wildest sessions ever. 
                        On Coinbase Inc.’s GDAX exchange, prices zoomed up to almost $20,000 from $16,000 in only about 90 minutes — then crashed back down.
                         The largest digital currency is still up more than 16-fold this year.
                    </p>
                    <p>The group outlined their concerns in an open letter, questioning whether the exchanges would be
                        able to adequately police market manipulation for bitcoin futures. FIA added that the exchanges
                        didn’t get enough industry feedback on margin levels, trading limits, stress tests, and clearing
                        for the products before bringing them to market.
                    </p>
                    <p>Three days before Cboe Global Markets Inc., one of the world’s biggest regulated exchanges,
                        debuts futures on the cryptocurrency, it had one of its wildest sessions ever. 
                        On Coinbase Inc.’s GDAX exchange, prices zoomed up to almost $20,000 from $16,000 in only about 90 minutes — then crashed back down.
                         The largest digital currency is still up more than 16-fold this year.
                    </p>

                </div>
            </div>

            <div class="news-section">
                <div class="comment-img">
                    <div class="comment-section">
                    <img src="/assets/img/author.jpg">
                    <div class="author-name">james ghosling</div>
                <div class="post-part">119 Posts</div>
                <div class="comment-part">0 comment</div>
               
            </div>
                <div class="social-media-part">
                 <div class="sharing-icon"> <i class="fa-brands fa-google-plus-g"></i></div> 
                 <div class="sharing-icon"><i class="fa-brands fa-facebook-f"></i></div>
                <div class="sharing-icon"><i class="fa-brands fa-twitter"></i></div>
                </div>        
          
            </div>
            </div>
            <app-might-also-like></app-might-also-like>
            <app-reply></app-reply>
            <app-comment></app-comment>
        </div>
        <div class="col-md-3 col-12">
            <div class="advertisement-space-container-first" style="background-image: url('assets/img/ad.jpg')">
                <p class="placeholder-text">Advertisement</p>
                <p class="placeholder-size">300 X 200</p>
            </div>
            <p class="ad-text">-Advertisement-</p>
            <app-latest-news></app-latest-news>
        </div>
    </div>
</div>

<app-footer></app-footer>