<div class="news-section">
  <div class="heading-container">
    <h4 class="news-sub">ଜାତି</h4>
    <div class="grey-line"></div>
  </div>
  <div class="row news-box" (click)="opennewsSec(post.slug)" *ngFor="let post of postarr; let i = index" [ngClass]="i !== 0 ? 'divider' : ''">
    <!-- <a (click)="opennewsSec(post.id)"> -->
    <div class="col-md-4 col-sm-12 col-12 news-img-container">
      <img [src]="post.guid">
    </div>
    <div class="col-md-8 col-sm-12 col-12 news-text-container">
      <p>{{post.post_title ? getShortName(post.post_title) : ''}}</p>
    </div>
  <!-- </a> -->
  </div>
  <!-- <div class="row news-box divider">
    <div class="col-md-4 col-sm-12 col-12 news-img-container">
      <img src="assets/img/news.jpg">
    </div>
    <div class="col-md-8 col-sm-12 col-12 news-text-container">
      <p>A Christmas Carol, Old Vic, London,
        review…</p>
    </div>
  </div>
  <div class="row news-box divider">
    <div class="col-md-4 col-sm-12 col-12 news-img-container">
      <img src="assets/img/news.jpg">
    </div>
    <div class="col-md-8 col-sm-12 col-12 news-text-container">
      <p>A Christmas Carol, Old Vic, London,
        review…</p>
    </div>
  </div>
  <div class="row news-box divider">
    <div class="col-md-4 col-sm-12 col-12 news-img-container">
      <img src="assets/img/news.jpg">
    </div>
    <div class="col-md-8 col-sm-12 col-12 news-text-container">
      <p>A Christmas Carol, Old Vic, London,
        review…</p>
    </div>
  </div> -->
</div>
