<div class="news-section">
    <div class="heading-container">
        <h4 class="news-sub">ସାକ୍ଷାତକାର</h4>
        <div class="grey-line"></div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="news-card">
                <img src="assets/img/news.jpg">
                <p>ତାରକାଙ୍କ ଗହଣରେ ପ୍ରଧାନମନ୍ତ୍ରୀ ନରେନ୍ଦ୍ର ମୋଦି</p>
                <div class="news-date-section d-flex">
                    <div class="author-name">ସୁରଭି ଗୌତମ</div>
                    <div> <i class="fa-solid fa-circle news-circle-icon "></i></div>
                    <div class="news-date"> August 26, 2020</div>
                </div>
                <span>ପ୍ରଧାନମନ୍ତ୍ରୀଙ୍କୁ ଅକ୍ଷୟ କୁମାର ପଚାରିଲେ , ମାଙ୍କ ସହ ରହିବାକୁ ଇଚ୍ଛା ହୁଏ ନାହିଁ କି ? ଜାଣନ୍ତୁ କଣ କହିଲେ ମୋଦି</span>
            </div>
            <div class="twin-city">
                <button class="btn-previous">&laquo; Prev</button>
                <button class="btn-next">Next &raquo;</button>
            </div>
        </div>
        <div class="col-md-4">
            <div class="news-card">
                <img src="assets/img/news.jpg">
                <p>ତାରକାଙ୍କ ଗହଣରେ ପ୍ରଧାନମନ୍ତ୍ରୀ ନରେନ୍ଦ୍ର ମୋଦି</p>
            </div>
            <div class="news-card">
                <img src="assets/img/news.jpg">
                <p>ତାରକାଙ୍କ ଗହଣରେ ପ୍ରଧାନମନ୍ତ୍ରୀ ନରେନ୍ଦ୍ର ମୋଦି</p>
            </div>
        </div>
    </div>