<nav class="navbar navbar-expand-lg navbar-light navbar-bg">
  <a class="navbar-brand" href="#"><img src="assets/img/news7.jpg"/></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Live Tv</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">ରାଜ୍ୟ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">ଦେଶ-ବିଦେଶ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">ରାଜନୀତି</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">ଶିକ୍ଷା ଓ ନିଯୁକ୍ତି</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">ଖେଳ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">ବାଣିଜ୍ୟ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">ମନୋରଞ୍ଜନ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">ଧର୍ମ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">ସ୍ପେଶାଲ୍ ରିପୋର୍ଟ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">ଭିଡିଓ</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
          ଅଧିକ
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">ପାଣିପାଗ</a>
          <a class="dropdown-item" href="#">ରାଶିଫଳ</a>
          <a class="dropdown-item" href="#">ଜୀବନଚର୍ଯ୍ୟା</a>
          <a class="dropdown-item" href="#">ସାକ୍ଷାତକାର</a>
          <a class="dropdown-item" href="#">କରୋନା</a>
          <a class="dropdown-item" href="#">ଅଲିମ୍ପିକ୍ସ</a>
        </div>
      </li>
    </ul>
  </div>
</nav>