.header-container {
  display: flex;
  justify-content: space-between;
  width: 92%;
  margin: 0 auto;
}

.logo-container {
  padding: 10px 13px;
}
.dropdown-menu {
  padding: 0px !important;
  box-shadow: none !important;
  border: none;
  width: 100% !important;
}

.submenu {
  width: 120px;
  margin: 5px 10px;
  float: left;
}
.home-ad-container {
  padding: 10px;
  /* background: #f00; */
}
.header-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header-flex {
  justify-content: space-between;
}
.dashboard {
  display: flex;
  align-items: center;
  padding-right: 10px;
}

.home-ad-container div {
  width: autp;
  height: 90px;
  /* margin-top: 2%; */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* --------------------------------------- */
.navbar-bg {
  background: var(--red);
  /* padding-left: 10px;
  padding-right: 10px; */
}
:host ::ng-deep .navbar {
  padding: 0;
}
.navbar-light .navbar-nav .nav-link {
  padding: 15px;
}

.home-button {
  padding: 9px 15px;
  font-size: 20px;
}

.home-button a i {
  color: var(--white);
}

.navbar-brand img {
  height: 50px;
  width: 130px;
}

.navbar-nav .nav-link {
  color: var(--white);
  font-size: 17px;
}

.navbar-toggler {
  background-color: rgb(255, 255, 255);
  /* margin-right: 20px; */
}

/** --------------------SLIDER 2------------------------ **/
.advertisement-container-long {
  margin-bottom: 20px;
}
.pic-ctn-long {
  position: relative;
  width: 100vw;
  height: 300px;
  margin-top: 15vh;
}

.pic-ctn-long > img {
  position: absolute;
  top: 0;
  left: calc(50% - 100px);
  opacity: 0;
  animation: display 10s infinite;
}

img:nth-child(2) {
  animation-delay: 2s;
}
img:nth-child(3) {
  animation-delay: 4s;
}
img:nth-child(4) {
  animation-delay: 6s;
}
img:nth-child(5) {
  animation-delay: 8s;
}

.slider-long {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.slides-long {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide-long {
  flex: 1;
  height: 720px;
  flex-direction: row;
  display: flex;
  gap: 0;
  background: #ccc;
}
.slides-long img {
  min-width: 100%;
}

.controls-long {
  position: absolute;
  bottom: 40%;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.prev,
.next {
  color: #999;
  border: none;
  cursor: pointer;
}
.arrow-icon {
  margin-top: 60px;
}
.nav-link {
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.4s ease;
}
:host::ng-deep .nav-link:hover {
  color: #ffffff !important;
  background-color: transparent !important;
  /* font-size: 17px; */
  border-radius: 0px !important;
  /* flex-wrap: wrap */
}
/* .nav-link:hover {
  color: #bbb;
  background-color: rgba(255, 255, 255, 0.226);
  border-radius: 5px;
} */
.navbar-nav .dropdown:hover .dropdown-menu {
  display: block;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
  position: absolute;
  background: black;
  color: #fff;
  border-radius: 0 !important;
}
.dropdown-item {
  color: #fff !important;
}
.navbar-nav i {
  font-size: 22px;
}

.navbar ul li {
  position: relative;
  display: inline-block;
  transition-duration: 0.5s;
  text-transform: uppercase;
  line-height: 19px;
  font-weight: 700;
}

.navbar ul li:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  bottom: 0;
}

.navbar ul li:hover::after {
  animation: blinker 0.5s linear;
}

@keyframes blinker {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.navbar ul li:hover ::after {
  background-size: 100% 2px;
}

.navbar ul li:nth-child(7n + 1):after {
  background-color: #2196f3;
}

.navbar ul li:nth-child(7n + 2):after {
  background-color: #4caf50;
}

.navbar ul li:nth-child(7n + 3):after {
  background-color: #ffbf3f;
}

.navbar ul li:nth-child(7n + 4):after {
  background-color: #ff5722;
}

.navbar ul li:nth-child(7n + 5):after {
  background-color: #9c27b0;
}

.navbar ul li:nth-child(7n + 6):after {
  background-color: #2196f3;
}

.navbar ul li:nth-child(7n + 7):after {
  background-color: #8bc34a;
}
@media only screen and (max-width: 600px) {
  body {
    overflow-x: hidden;
  }
  :host ::ng-deep .header-container {
    display: block !important;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .home-ad-container div {
    /* max-width: 100% !important;
    height: auto; */
  }
  .header-row {
    display: block;
    flex-direction: row;
    align-items: flex-start !important;
  }
}
@media only screen and (max-width: 575px) {
  .navbar-bg {
    background: var(--red);
    height: auto;
  }
  .navbar-toggler {
    margin: 5px;
    font-size: 10px;
  }
}
