<nav class="navbar navbar-expand-lg navbar-light navbar-bg">
  <a class="navbar-brand" href="#"><img src="assets/img/Prameya_odia.png" /></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav"  >
      <li class="nav-item active">
        <a class="nav-link" routerLink="/"><i class="fa fa-home"></i> <span class="sr-only">(current)</span></a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" routerLink="/category/top-stories">Top Stories</a>
      </li> -->
      <li class="nav-item" *ngFor="let item of newarray">
        <a class="nav-link"  routerLink="{{item.category_url}}">{{item.category_name}}</a>
      </li>
      <li class="nav-item dropdown" *ngIf="morearray && morearray.length">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
          More
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="{{rows.category_url}}"  *ngFor="let rows of morearray">{{rows.category_name}}</a>
        </div>
      </li>
    
    </ul>
  </div>
</nav>