<div class="wrap-error">
  <div class="d-flex align-items-center h-100">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 offset-sm-2 text-center text-white">
          <h1 class="page-black"><span>4</span><span>0</span><span>4</span></h1>
          <h4 class="page-black">Oops! Page not found</h4>
          <p class="mb-4 page-black">
            we are sorry, but the page you requested was not found
          </p>
          <button class="btn btn-dark">
            <a href="/"> Go home</a>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
