<!-- <div class="news-section">
  <div class="heading-container">
    <h4 class="news-sub">ଶିକ୍ଷା</h4>
  </div>
  <div class="row news-box" (click)="opennewsSec(post.slug)" *ngFor="let post of postarr; let i = index" [ngClass]="i !== 0 ? 'divider' : ''">
  
    <div class="col-md-4 col-sm-12 col-12 news-img-container">
      <img [src]="post.guid">
    </div>
    <div class="col-md-8 col-sm-12 col-12 news-text-container">
      <p>{{post.post_title ? getShortName(post.post_title) : ''}}</p>
    </div>
  </div>
  
</div>

    -->
<div class="news-section">
  <div class="heading-container">
    <h4 class="news-sub">ଶିକ୍ଷା</h4>
    <!-- <div class="grey-line"></div> -->
  </div>
  <div
    class="row news-box"
    (click)="opennewsSec(post.slug)"
    *ngFor="let post of postarr"
  >
    <!-- <a (click)="opennewsSec(post.id)"> -->
    <div class="col-md-4 col-sm-4 col-4 news-img-container">
      <img [src]="post.guid" />
    </div>
    <div class="col-md-8 col-sm-8 col-8 news-text-container">
      <p>{{ post.post_title ? getShortName(post.post_title) : "" }}</p>
      <div class="news-date">
        <time>{{ post.post_date | date : "short" }}</time>
      </div>
    </div>
  </div>
</div>
