<app-header></app-header>
<app-latest-news-header></app-latest-news-header>
<!-- <button mat-raised-button (click)="openDialog()">Open</button> -->
<!-- ------------old ad design--------------------------- -->
<!-- <div class="home-ad-container">
  <div id="carouselExampleControls3" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item" *ngFor="let middle_ad of ads_middle;let i = index"
        [ngClass]="i === 0 ? 'active' : ''">
        <img class="d-block w-100" src={{middle_ad.ads_image}} alt={{middle_ad.ads_image_alt_text}}
          (click)="openLink(middle_ad.ads_image_link)">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls3" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls3" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div> -->

<!-- ------------old ad design--------------------------- -->

<div class="home-first-container">
  <div class="row">
    <div class="col-md-3 col-sm-12 col-12">
      <app-odisha-news></app-odisha-news>
      <!-- <app-latest-news></app-latest-news> -->
      <!-- ---------------------long ad----------------------------- -->
      <!-- <div class="advertisement-container-long">
        <div id="carouselExampleControls2" class="carousel slide carousel-fade" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item" *ngFor="let leftmiddle_ad of ads_leftmiddle;let i = index"
              [ngClass]="i === 0 ? 'active' : ''">
              <img class="d-block w-100" src={{leftmiddle_ad.ads_image}} alt={{leftmiddle_ad.ads_image_alt_text}}
                (click)="openLink(leftmiddle_ad.ads_image_link)">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls2" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls2" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div> -->

      <!-- ---------------------long ad----------------------------- -->

      <!-- <app-crime-news></app-crime-news> -->
    </div>
    <div class="col-md-9 col-sm-12 col-12">
      <div class="row">
        <div class="col-md-8 col-sm-12 col-12">
          <app-main-news></app-main-news>
        </div>
        <div class="col-md-4 col-sm-12 col-12">
          <!-- -----------------top corner ad-------------------------------- -->
          <!--  <div class="advertisement-space-container-first">
            <div id="carouselExampleControls4" class="carousel slide carousel-fade" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item" *ngFor="let rightupper_ad of ads_rightupper; let i = index"
                  [ngClass]="i === 0 ? 'active' : ''">
                  <img class="d-block w-100" src={{rightupper_ad.ads_image}} alt={{rightupper_ad.ads_image_alt_text}}
                    (click)="openLink(rightupper_ad.ads_image_link)">
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleControls4" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleControls4" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>

          </div> -->

          <!-- -----------------top corner ad-------------------------------- -->
          <!-- <div class="search-category">
            <mat-form-field appearance="outline" class="form-group w-200">
              <input matInput type="text" name="cname" [(ngModel)]="searchval">
            </mat-form-field>
            <button mat-raised-button color="primary" class="search-btn" (click)="searchPost()">Search</button>
          </div> -->
          <!-- <app-nation-news></app-nation-news> -->
          <!-- <app-education-news></app-education-news> -->
          <app-odia-topstories></app-odia-topstories>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- -----------------second container-------------------------- -->

<div class="home-second-container">
  <div class="home-second-cards-container">
    <div class="row">
      <div class="col-md-4 col-sm-12 col-12">
        <app-crime-news></app-crime-news>
      </div>
      <div class="col-md-4 col-sm-12 col-12">
        <app-twin-city-news></app-twin-city-news>
      </div>
      <div class="col-md-4 col-sm-12 col-12">
        <app-politics-news></app-politics-news>
      </div>
    </div>
  </div>
  <div class="home-second-cards-container">
    <div class="row">
      <div class="col-md-4 col-sm-12 col-12">
        <app-sports-news></app-sports-news>
      </div>
      <div class="col-md-4 col-sm-12 col-12">
        <app-technology-news></app-technology-news>
      </div>
      <div class="col-md-4 col-sm-12 col-12">
        <app-entertainment-news></app-entertainment-news>
      </div>
    </div>
  </div>
</div>

<div class="home-third-container">
  <div class="recent-news-heading">
    <h1>Recent Stories</h1>
  </div>
  <div class="recent-news-card">
    <app-latest-news></app-latest-news>
  </div>
</div>

<div class="home-fourth-container">
  <div class="recent-news-heading">
    <h1>Featured Stories</h1>
  </div>
  <div class="recent-news-card">
    <app-featured-stories></app-featured-stories>
  </div>
</div>

<!-- ---------------------------------------------------------------- -->
<!-- ---------------Previous Layout Start---------------- -->

<!-- <div class="home-first-container">
  <div class="row">
    <div class="col-md-3 col-sm-12 col-12">
      <app-odisha-news></app-odisha-news>
      <div class="advertisement-container-long" style="background-image: url('assets/img/ad2.jpg')">
        <p class="placeholder-text">Advertisement</p>
        <p class="placeholder-size">300 X 600</p>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 col-12">
      <app-main-news></app-main-news>
      <div class="advertisement-container-wide">
        <p>Advertisement</p>
      </div>
      <app-blog></app-blog>
      <div class="row culture-section">
        <div class="col-md-6 col-sm-12 col-12">
          <app-business-news></app-business-news>
        </div>
        <div class="col-md-6 col-sm-12 col-12">
          <app-technology-news></app-technology-news>
        </div>
      </div> 
    </div>
    <div class="col-md-3 col-sm-12 col-12">
      <div class="advertisement-space-container-first" style="background-image: url('assets/img/ad.jpg')">
        <p class="placeholder-text">Advertisement</p>
        <p class="placeholder-size">300 X 200</p>
      </div>
      <p class="ad-text">-Advertisement-</p>
      <app-latest-news></app-latest-news>
      <app-entertainment-news></app-entertainment-news>
    </div>
  </div>
</div> -->
<!-- <div class="home-wide-container">
  <app-business-news></app-business-news>
</div> -->
<!-- <div class="home-second-container">
  <div class="row">
    <div class="col-md-3 col-sm-12 col-12">
      <app-crime-news></app-crime-news>
      <div class="culture-section">
        <app-economy-news></app-economy-news>
      </div>
      <div class="culture-section fixed-sidebar">
        <app-culture-news></app-culture-news>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 col-12">
      <app-twin-city-news></app-twin-city-news>
      <div class="row culture-section">
        <div class="col-md-6 col-sm-12 col-12">
          <app-education-news></app-education-news>
        </div>
        <div class="col-md-6 col-sm-12 col-12">
          <app-campus-muse-news></app-campus-muse-news>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-12 col-12">
      <app-entertainment-news></app-entertainment-news>
      <div class="health-section">
        <app-health-news></app-health-news>
      </div>
      <div class="health-section fixed-sidebar">
        <app-environment-news></app-environment-news>
      </div>
    </div>
  </div>
</div> -->
<!-- <div class="home-third-container">
  <div class="row">
    <div class="col-md-3 col-sm-12 col-12">
      <div>
        <app-economy-news></app-economy-news>
      </div>
      <div class="culture-section">
        <app-culture-news></app-culture-news>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 col-12">
      <div class="row">
        <div class="col-md-6 col-sm-12 col-12">
          <app-education-news></app-education-news>
        </div>
        <div class="col-md-6 col-sm-12 col-12">
          <app-campus-muse-news></app-campus-muse-news>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-12 col-12">
      <div class="health-section">
        <app-health-news></app-health-news>
      </div>
      <div>
        <app-environment-news></app-environment-news>
      </div>
    </div>
  </div>
</div> -->

<!-- ---------------Previous Layout End---------------- -->
<app-search-sticky></app-search-sticky>
<app-footer></app-footer>
