.news-section {
  /* padding: 1rem; */
  background: transparent;
  color: var(--white);
}

.news-box {
  padding: 1rem 0rem;
}

.news-box:hover {
  color: #000;
}

.news-img-container img {
  max-width: 100%;
  cursor: pointer;
  height: auto;
}

.heading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--red);
  padding: 10px;
}

.heading-container .grey-line {
  background-color: #bbb;
  height: 10px;
  flex-grow: 1;
  margin-left: 10px;
}

.divider {
  border-top: 1px dotted #bbb;
}

.news-text-container p {
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 0px;
}