<div class="sticky-header">
  <app-header></app-header>
</div>
<div class="contact-us-container row">
  <div class="col-md-7 col-12">
    <!-- <div class="about-us-container">
      <div class="heading-container">
        <h4 class="news-sub">ଆମ ବିଷୟରେ</h4>
      
      </div>
      <div class="about-us-text-container">
        <p>
          At vero eos et accusamus et iusto odios un dignissimos ducimus qui
          blan ditiis prasixer esentium voluptatum un deleniti atqueste sites
          excep turiitate non providentsimils. Nemo enim ipsam voluptatem quia
          voluptas sit aspernatur aut odit aut fugit, consequunturser magni
          dolores.
          <br /><br />
          Eos qui ratione voluptatem sequi nesciunt. Lorem ipsum dolor sit amet
          isse potenti. Vesquam ante aliquet lacusemper elit. Cras neque nulla,
          convallis non commodo et, euismod nonsese. Eos qui ratione voluptatem
          sequi nesciunt. Lorem ipsum dolor sit amet isse potenti. Vesquam ante
          aliquet lacusemper elit. Cras neque nulla, convallis non commodo et,
          euismod nonsese.
          <br /><br />
          Accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
          voluptatum deleniti atque corrupti quos dolores et quas molestias
          excepturi sint occaecati cupiditate non provident Accusamus et iusto
          odio dignissimos ducimus qui blanditiis praesentium voluptatum
          deleniti atque corrupti quos dolores et quas molestias excepturi sint
          occaecati cupiditate non provident Accusamus et iusto odio dignissimos
          ducimus qui blanditiis occaecati cupiditate non provident Accusamus et
          iusto odio dignissimos ducimus qui blanditiis
        </p>
      </div>
    </div> -->
    <div class="contact-info-container">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d59889.11006798408!2d85.72179054863281!3d20.25595720000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a19a7a2ba8fc2a1%3A0xd36f35ca0333ee7e!2sPRAMEYA!5e0!3m2!1sen!2sin!4v1687959234489!5m2!1sen!2sin"
        width="100%"
        height="750"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
  <div class="col-md-5 col-12">
    <!-- <div class="filler-container"></div> -->
    <div class="contact-info-container">
      <div class="contact-info-container-img">
        <div class="heading-container">
          <h4 class="news-sub">Contact Info</h4>
          <!-- <div class="grey-line"></div> -->
        </div>
        <div class="contact-information">
          <p class="address">
            <i class="fa fa-map"></i> Plot# 644/3019, Khandagiri Marg, Dharam
            Vihar, Jagamara, Bhubaneswar, Odisha 751030
          </p>
          <p class="phone">
            <i class="fa fa-phone"></i> <span>Phone: </span>0674-6613333 (Extn
            349)
          </p>
          <p class="email">
            <i class="fa fa fa-envelope"></i>
            <span>Email: </span>contact@prameyanews.com
          </p>
          <p class="editor">
            <i class="fa fa-user"></i> <span>Consulting Editor: </span>Subrat
            Das
          </p>
          <p class="advertisement-email">
            <i class="fa fa-image"></i> For Advertisement mail at
            <b>pn7odisha@gmail.com</b>
          </p>
        </div>
      </div>
    </div>
    <div class="send-message-container">
      <div class="heading-container">
        <h4 class="news-sub">Send Us A Message</h4>
        <!-- <div class="grey-line"></div> -->
      </div>
      <form class="contact-us-form">
        <mat-label>Your Name(required)</mat-label>
        <mat-form-field appearance="outline">
          <input matInput #input required />
        </mat-form-field>
        <mat-label>Your Email(required)</mat-label>
        <mat-form-field appearance="outline">
          <input matInput #input required />
        </mat-form-field>
        <mat-label>Subject</mat-label>
        <mat-form-field appearance="outline">
          <input matInput #input />
        </mat-form-field>
        <mat-label>Your Message</mat-label>
        <mat-form-field appearance="outline">
          <textarea matInput #input></textarea>
        </mat-form-field>
        <div class="text-center">
          <button mat-raised-button>SEND</button>
        </div>
      </form>
    </div>
  </div>
</div>

<app-footer></app-footer>
