<app-header></app-header>

<div class="contact-us-container row">
    <div class="col-md-8 col-12">
        <div class="about-us-container">
            <div class="heading-container">
                <h4 class="news-sub">ଆମ ବିଷୟରେ</h4>
                <div class="grey-line"></div>
            </div>
            <div class="about-us-text-container">
                <p>
                    At vero eos et accusamus et iusto odios un dignissimos
                    ducimus qui blan ditiis prasixer esentium
                    voluptatum un deleniti atqueste sites excep turiitate
                    non providentsimils. Nemo enim ipsam
                    voluptatem quia voluptas sit aspernatur aut odit aut fugit,
                    consequunturser magni dolores.
                    <br><br>
                    Eos qui ratione voluptatem sequi nesciunt. Lorem ipsum dolor
                    sit amet isse potenti. Vesquam ante
                    aliquet lacusemper elit. Cras neque nulla, convallis non
                    commodo et, euismod nonsese.
                    <br><br>
                    Accusamus et iusto odio dignissimos ducimus qui blanditiis
                    praesentium voluptatum deleniti atque
                    corrupti quos dolores et quas molestias excepturi sint
                    occaecati cupiditate non provident
                </p>
            </div>
        </div>
        <div class="send-message-container">
            <div class="heading-container">
                <h4 class="news-sub">Send Us A Message</h4>
                <div class="grey-line"></div>
            </div>
            <form class="contact-us-form">
                <mat-label>Your Name(required)</mat-label>
                <mat-form-field appearance="outline">
                    <input matInput #input required/>
                </mat-form-field>
                <mat-label>Your Email(required)</mat-label>
                <mat-form-field appearance="outline">
                    <input matInput #input required/>
                </mat-form-field>
                <mat-label>Subject</mat-label>
                <mat-form-field appearance="outline">
                    <input matInput #input />
                </mat-form-field>
                <mat-label>Your Message</mat-label>
                <mat-form-field appearance="outline">
                    <textarea matInput #input></textarea>
                </mat-form-field>
                <button mat-raised-button>SEND</button>
            </form>
        </div>
    </div>
    <div class="col-md-4 col-12">
        <div class="sticky">
        <div class="filler-container"></div>
        <div class="contact-info-container">
            <div class="heading-container">
                <h4 class="news-sub">Contact Info</h4>
                <div class="grey-line"></div>
            </div>
            <div class="contact-information">
                <p class="address">
                    Plot# 644/3019, Khandagiri Marg,
                    Dharam Vihar, Jagamara, Bhubaneswar,
                    Odisha 751030
                </p>
                <p class="phone"><span>Phone: </span>0674-6613333 (Extn 349)</p>
                <p class="email"><span>Email: </span>contact@prameyanews.com</p>
                <p class="editor"><span>Consulting Editor: </span>Subrat Das</p>
                <p class="advertisement-email">For Advertisement mail at pn7odisha@gmail.com</p>
            </div>
        </div>
        <div class="filler-container"></div>
    </div>
    </div>
</div>

<app-footer></app-footer>