.page-content {
    background-color: var(--site-background);
    min-height: 100vh;
}
.user-container {
    background-color: var(--site-background);
    padding: 2% 5%;
  }

  .pass-btn {
    border-color: #0d6efd;
    height: 35px;
    font-weight: normal;
    color: #0d6efd;
  }
.padding {
    padding: 3rem !important
}

.add-profile-form-field{
    background-color: var(--site-background);
}

.user-card-full {
    overflow: hidden;
}

.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    border: none;
    margin-bottom: 30px;
}

.bg-c-lite-green {
    background: linear-gradient(to right, #6c6868, #c8bdb8);
}

.user-profile {
    padding: 20px 0;
}

.User-info {
    margin: 14px 0px;
}

.card-block {
    padding: 1.25rem;
}

.m-b-25 {
    margin-bottom: 25px;
}

.img-radius {
    border-radius: 5px;
}

.pf-cont {
    display: flex;
    justify-content: center;
}

.cp-btn {
    margin-right: 5px !important;
}

h6 {
    font-size: 14px;
}

.card .card-block p {
    line-height: 25px;
}

@media only screen and (min-width: 1400px) {
    p {
        font-size: 14px;
    }
}

@media screen and (min-width:280px) and (max-device-width:479px) {
    .cp-btn {
        margin-bottom: 10px;
    }
}

.card-block {
    padding: 1.25rem;
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0;
}

.m-b-20 {
    margin-bottom: 20px;
}

.p-b-5 {
    padding-bottom: 5px !important;
}

.card .card-block p {
    line-height: 25px;
}

.m-b-10 {
    margin-bottom: 10px;
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0;
}

.f-w-600 {
    font-weight: 600;
}

.m-b-20 {
    margin-bottom: 20px;
}

.m-t-40 {
    margin-top: 20px;
}

.p-b-5 {
    padding-bottom: 5px !important;
}

.m-b-10 {
    margin-bottom: 10px;
}

.m-t-40 {
    margin-top: 20px;
}

.card-block .col-md-3 {
    display: flex;
}

.hide {
    display: none;
}

.file_upload {
    color: #fff;
    background-color: #3f51b5;
    border-color: #3f51b5;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    cursor: pointer;
    margin: 0px 8px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.account-manage {
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: underline;
    font-size: 22px;
}