<div class="user-container">
    <div class="padding">
        <div class="edit-profile">
            <div class=" col-md-12">
                <div>
                    <div class="row ">
                        <!-- <div class="col-md-4 bg-c-lite-green user-profile">
                            <div class="card-block text-center text-white">
                                <div class="m-b-25">
                                    <img [src]="newUser.user_profile ? newUser.user_profile : '/assets/img/default-profile.png'"
                                        class="profile-img" alt="User-Profile-Image" id="profileImage">
                                </div>
                                <div>
                                    <label for="getFile1" class="file_upload">Upload</label>
                                    <input #profileimg type="file" id="getFile1" class="hide"
                                        accept="image/png, image/jpeg" (change)="onFileSelected($event)">
                                </div>
                            </div>
                        </div> -->
                        <div class="col-md-8">
                            <div class="card-block">
                                <div class="row">
                                    <div class="col-md-3 col-sm-12 col-12">
                                        <mat-label class="User-info f-w-600">Username </mat-label>
                                    </div>
                                    <div class="col-md-9 col-sm-12 col-12">
                                        <mat-form-field appearance="outline" class="form-group">
                                            <input matInput type="text" [(ngModel)]="newUser.user_login" id="fullName">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 col-sm-12 col-12 ">
                                        <mat-label class="User-info f-w-600">Email </mat-label>
                                    </div>
                                    <div class="col-md-9 col-sm-12 col-12">
                                        <mat-form-field appearance="outline" class="form-group">
                                            <input matInput type="email" [(ngModel)]="newUser.user_email">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 col-sm-12 col-12">
                                        <mat-label class="User-info f-w-600 ">Full Name</mat-label>
                                    </div>
                                    <div class="col-md-9 col-sm-12 col-12">
                                        <mat-form-field appearance="outline" class="form-group">
                                            <input matInput type="email" [(ngModel)]="newUser.user_nicename">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 col-sm-12 col-12">
                                        <mat-label class="User-info f-w-600">Display Name</mat-label>
                                    </div>
                                    <div class="col-md-9 col-sm-12 col-12">
                                        <mat-form-field appearance="outline" class="form-group ">
                                            <input matInput type="email" [(ngModel)]="newUser.display_name">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row ">
                                    <div class="col-md-3 col-sm-12 col-12 ">
                                        <mat-label class="User-info f-w-600">Website</mat-label>
                                    </div>
                                    <div class="col-md-9 col-sm-12 col-12 add-profile-form-field ">
                                        <mat-form-field appearance="outline" class="form-group ">
                                            <input matInput type="email" [(ngModel)]="newUser.user_url">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 col-sm-12 col-12">
                                        <mat-label class="User-info f-w-600">Facebook Profile URL</mat-label>
                                    </div>
                                    <div class="col-md-9 col-sm-12 col-12">
                                        <mat-form-field appearance="outline" class="form-group ">
                                            <input matInput type="email" [(ngModel)]="newUser.facebookprofile_url">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 col-sm-12 col-12">
                                        <mat-label class="User-info f-w-600">Instagram Profile URL</mat-label>
                                    </div>
                                    <div class="col-md-9 col-sm-12 col-12">
                                        <mat-form-field appearance="outline" class="form-group ">
                                            <input matInput type="email" [(ngModel)]="newUser.instgramprofile_url">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 col-sm-12 col-12">
                                        <mat-label class="User-info f-w-600">Linkedln Profile URL</mat-label>
                                    </div>
                                    <div class="col-md-9 col-sm-12 col-12">
                                        <mat-form-field appearance="outline" class="form-group ">
                                            <input matInput type="email" [(ngModel)]="newUser.linkedlnprofile_url">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 col-sm-12 col-12">
                                        <mat-label class="User-info f-w-600">Myspace Profile URL</mat-label>
                                    </div>
                                    <div class="col-md-9 col-sm-12 col-12">
                                        <mat-form-field appearance="outline" class="form-group ">
                                            <input matInput type="email" [(ngModel)]="newUser.myspaceprofile_url">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 col-sm-12 col-12">
                                        <mat-label class="User-info f-w-600">Pinterest Profile URL</mat-label>
                                    </div>
                                    <div class="col-md-9 col-sm-12 col-12">
                                        <mat-form-field appearance="outline" class="form-group ">
                                            <input matInput type="email" [(ngModel)]="newUser.pinterestprofile_url">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 col-sm-12 col-12">
                                        <mat-label class="User-info f-w-600">SoundCloud Profile URL</mat-label>
                                    </div>
                                    <div class="col-md-9 col-sm-12 col-12">
                                        <mat-form-field appearance="outline" class="form-group ">
                                            <input matInput type="email" [(ngModel)]="newUser.soundcloudprofile_url">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 col-sm-12 col-12">
                                        <mat-label class="User-info f-w-600">Tumbler Profile URL</mat-label>
                                    </div>
                                    <div class="col-md-9 col-sm-12 col-12">
                                        <mat-form-field appearance="outline" class="form-group ">
                                            <input matInput type="email" [(ngModel)]="newUser.tumblerprofile_url">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 col-sm-12 col-12">
                                        <mat-label class="User-info f-w-600">Twitter Username(Without@)</mat-label>
                                    </div>
                                    <div class="col-md-9 col-sm-12 col-12">
                                        <mat-form-field appearance="outline" class="form-group ">
                                            <input matInput type="email" [(ngModel)]="newUser.twitterusername_url">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 col-sm-12 col-12">
                                        <mat-label class="User-info f-w-600">YouTube Profile URL</mat-label>
                                    </div>
                                    <div class="col-md-9 col-sm-12 col-12">
                                        <mat-form-field appearance="outline" class="form-group ">
                                            <input matInput type="email" [(ngModel)]="newUser.youtubeprofil_url">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 col-sm-12 col-12">
                                        <mat-label class="User-info f-w-600">Wikipedia Page About You </mat-label>
                                    </div>
                                    <div class="col-md-9 col-sm-12 col-12">
                                        <mat-form-field appearance="outline" class="form-group ">
                                            <input matInput type="email" [(ngModel)]="newUser.wikipedia_url">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row biographical-info">
                                    <div class="col-md-3 col-sm-12 col-12">
                                        <mat-label class="User-info f-w-600">Biographical Info </mat-label>
                                    </div>
                                    <div class="col-md-9 col-sm-12 col-12">
                                        <mat-form-field class="outline">
                                            <textarea matInput name="desc" class="textarea-add-category"
                                                [(ngModel)]="newUser.biographical_info "></textarea>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <!-- <div class="col-md-3 col-sm-12 col-12">
                                        
                                    </div> -->
                                    <div class="col-md-9 col-sm-12 col-12">
                                        <div style="margin-bottom: 10px">
                                        <mat-label class="User-info f-w-600">Profile Picture </mat-label></div>
                                        <img [src]="newUser.user_profile ? newUser.user_profile : '/assets/img/istock.jpg'"
                                            class="profile-img" alt="User-Profile-Image" id="profileImage">
                                    </div>
                                    <div style="margin-top: 10px">
                                        <label for="getFile1" class="file_upload">Upload</label>
                                        <input #profileimg type="file" id="getFile1" class="hide"
                                            accept="image/png, image/jpeg" (change)="onFileSelected($event)">
                                    </div>
                                </div>
                                <div class="row account-manage">
                                    <div class="col-md-6 col-sm-12 col-12">
                                        <mat-label class="f-w-600">Account Management</mat-label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 col-sm-12 col-12">
                                        <mat-label class="User-info f-w-600">Password</mat-label>
                                    </div>
                                    <div class="col-md-5 col-sm-12 col-12">
                                        <button mat-stroked-button class="pass-btn" (click)="onclick()">Set New
                                            Password</button>
                                        <!-- <div class="d-flex">
                                        <mat-form-field appearance="outline" class="form-group w-400">
                                          <input matInput name="password" [type]="(hide)?'password':'text'" [(ngModel)]="userData.user_pass">
                                        </mat-form-field>
                                        <button mat-stroked-button class="hide-icon" (click)="hide=!hide">
                                          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>{{(hide)?'Hide':'Show'}}
                                        </button>
                                      </div> -->
                                    </div>
                                    <ng-container *ngIf="visible">
                                        <div class="bg-white shadow-sm p-3">
                                            <mat-form-field appearance="outline" class="form-group w-400">
                                                <input matInput name="password" [type]="(hide)?'password':'text'"
                                                    [(ngModel)]="newUser.new_pass">
                                            </mat-form-field>
                                            <button mat-stroked-button class="hide-icon" (click)="hide=!hide">
                                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                                {{(hide)?'Hide':'Show'}}
                                            </button>
                                        </div>
                                    </ng-container>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 col-sm-12 col-12">
                                        <mat-label class="User-info f-w-600">Session</mat-label>
                                    </div>
                                    <div class="col-md-5 col-sm-12 col-12">
                                        <button mat-stroked-button class="pass-btn">Logout Everywhere Else</button>
                                    </div>
                                </div>

                                <button mat-raised-button color="primary" class="cp-btn" (click)="updateProfile()">Save
                                    Changes</button>
                                <button mat-raised-button color="primary" (click)="onback()">Back</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>