    .icon-btn-save {
        padding-top: 0;
        padding-bottom: 0;
    }
    .input-group {
        margin-bottom:10px; 
    }
    .page-content{
        background-color: var(--site-background);
        min-height: 100vh;
    }
    .padding {
        padding: 3rem !important
    }
    .panel{
        background:var(--white);
        padding: 1.5rem;
    }
    .panel-heading{
        text-align: center;
    }
    .panel-body .form-group{
        margin-bottom: 6px !important;
    }
    .upt-pass{
        margin-top: 10px;
    }
    .f-w-600 {
        font-weight: 600;
    }
    .panel-title{
        border-bottom: 2px solid black;
    }