<div class="send-message-container">
    <div class="heading-container">
        <h4 class="news-sub">3 Comments</h4>
        <div class="grey-line"></div>
    </div>
            <div class="comment-image d-flex">
               <img src="/assets/img/default.jpg" class="img-width"> 
        
        <div class="comment-name">
            <h4 class="name-user">Bryandbz <span class="says">Says</span></h4>
            <p>any line of attack is normally file a suit advertisers</p>
            <p>necessary legal repayment was come into a while ago just that simply speaking flew under the radar. such deal a $250 million defamation claim against the buenos aires piece should go a long way at minimizing irresponsible writing. everything a symbol the fact that at minimum some kind of individuals are inclined to fight versus counterfeited a news flash.</p>
            <br>
            <p>now those things that undoubtedly developed. quickly after enrolled in an anti – abortion move at the lincoln funeral in thinking about receiving 2018, nick amazing guy classmates, numerous choosing our great country very good quickly as more memento a terrific way to, ended up looking forward to their shuttle bus.</p>
            </div>
    </div>
    </div>
    
