<div class="home-first-container">
    <div class="row">
      <div class="col-md-3 col-sm-12 col-12">
        <app-odisha-news></app-odisha-news>
        <div class="advertisement-container-long" style="background-image: url('assets/img/ad2.jpg')">
          <p class="placeholder-text">Advertisement</p>
          <p class="placeholder-size">300 X 600</p>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 col-12">
    <div class="broad-cast-section">
        
    </div>
      </div>
      <div class="col-md-3 col-sm-12 col-12">
        <div class="advertisement-space-container-first" style="background-image: url('assets/img/ad.jpg')">
          <p class="placeholder-text">Advertisement</p>
          <p class="placeholder-size">300 X 200</p>
        </div>
        <p class="ad-text">-Advertisement-</p>
        <app-latest-news></app-latest-news>
      </div>
    </div>
  </div>
