<div class="send-message-container">
    <div class="heading-container">
        <h4 class="news-sub">You Might Also Like</h4>
        <div class="grey-line"></div>
        <div class="news-sub-right">More From Author</div>
    </div>
    <div class="row">
        <div class="col mx-1 news-card">
            <div class="category">Opinions</div>
            <img src="assets/img/news.jpg">
            <p>LA Noire Switch review A fantast fun detective-thriller
            </p>
        </div>
        <div class="col mx-1 news-card">
            <div class="category">Opinions</div>
            <img src="assets/img/news.jpg">
            <p>Loyal mobile phone customers ‘charged for handsets they have already paid…
            </p>
        </div>
        <div class="col mx-1 news-card">
            <div class="category">Opinions</div>
            <img src="assets/img/news.jpg">
            <p>Poppy Appeal will still accept old £1 coins, says Royal British Legion
            </p>
        </div>
    </div>
    <div class="twin-city">
        <button class="btn-previous">&laquo; Prev</button>
        <button class="btn-next">Next &raquo;</button>
    </div>
</div>