<div class="viewcategory-container">
    <div class="view-category">
        <div class="search-category">
            <mat-form-field appearance="outline" class="form-group w-200">
                <input matInput type="text" name="cname" [(ngModel)]="categorySearch"
                    (keydown.enter)="onKeydown($event)" (keyup.enter)="searchCategory()">
                <!-- <input matInput type="text" name="cname"> -->
            </mat-form-field>
            <button mat-raised-button color="primary" class="search-btn" (click)="searchCategory()">Search
                Categories</button>
        </div>
        <!-- <div class="header">
            <div>
            </div>
            <pagination-controls class="pagination-color"></pagination-controls>
        </div> -->
        <table id="view-table">
            <thead class="table-header">
                <th class="first">
                    <input type="checkbox" class="example-margin" >
                </th>
                <th class="content">Name</th>
                <th class="content">Description</th>
                <!-- <th class="content">
                    <i class="fa-solid fa-traffic-light"></i>
                </th>
                <th class="content">
                    <i class="fa-solid fa-feather-pointed"></i>
                </th> -->
                <th class="content">Slug</th>
                <th class="content">Count</th>
                <th class="content">Action</th>
                <th class="content">Delete</th>
            </thead>
            <tbody *ngIf="catarr &&  catarr.length; else elseblock">
                <tr *ngFor="let data of catarr | paginate: { itemsPerPage: 10, currentPage: p } ">
                    <td class="first">
                        <input type="checkbox" [(ngModel)]="data.selected" >
                      </td>
                    <td>{{ data.category_name }}</td>
                    <td class="description">{{ data.description }}</td>
                    <!-- <td class="circle-1">
                        <i class="fa-solid fa-circle"></i>
                    </td>
                    <td class="circle-1">
                        <i class="fa-solid fa-circle"></i>
                    </td> -->
                    <td>{{ data.slug }}</td>
                    <td>{{ data.category_count }}</td>
                    <td>
                        <mat-icon class="mat-icon-cls" (click)="editcat(data)" title="Edit"> edit</mat-icon>
                        <!-- <mat-icon class="mat-icon-cls" title="View" (click)="view(data.slug)">visibility</mat-icon> -->
                        <!-- <i class="fa fa-eye"></i> -->
                    </td>
                    <td>
                        <button class="del-btn" (click)="deleteCategory(data.category_id)"><mat-icon>delete_forever</mat-icon></button>  
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <ng-template #elseblock>
        <tbody>
            <tr>
                <td colspan="6" class="text-center" style="color: black;">
                    No record Found
                </td>
            </tr>
        </tbody>
    </ng-template>
    <div class="d-flex" style="padding-left: 3%;">
       
      </div>
    <div class="col-lg-12 col-md-12 col-12 w-100 d-flex justify-content-between flex-wrap centrify"
        style="padding-top:1vw;padding-bottom:1vw;">
        <!-- <div class="d-flex" style="padding-left: 3%;">
            <!-- <button class="apply-btn" style="margin-left:1vw;">apply to selected items</button> -->
        <!-- </div>  -->
        <button mat-raised-button class="delete-btn" class="delete-button"  (click)="redirectfn()">Delete</button>
        <pagination-controls class="pagination-color" (pageChange)="p = $event"></pagination-controls>
    </div>
</div>

<div class="modal" id="exampleModal" #closebutton tabindex="-1" role="dialog"
aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="dialog">
  <div class="modal-content">
    <div class="modal-title1" id="exampleModalLabel">Delete Category</div>

    <div class="modal-body">
      <p>{{((checkedList.length > "1") ? 'Are You Sure' : 'Are You Sures')}}
        </p>
    </div>

    <footer>
        <div class="text-center">
            <button mat-raised-button type="button" class="cancel-delete-button" style="background-color:#e61333;" data-bs-dismiss="modal"
              (click)="deletetours()">Yes
            </button>
            <button mat-raised-button type="button" class="cancel-delete-button" style="background-color:#1367e6;" data-bs-dismiss="modal"
              (click)="cancelfn()">No
            </button>
          </div>
    </footer>
    
  </div>
</div>
</div>