<div class="news-section">
  <div class="row main-news-section">
    <a
      class="col-md-12"
      *ngFor="
        let post of postarr | paginate : { itemsPerPage: 6, currentPage: p }
      "
      href="{{ post.slug }}"
      (click)="openPost($event, post)"
    >
      <div class="news-card main-news-border row">
        <div class="col-md-6 col-sm-12 col-12 news-img-container">
          <img [src]="post.guid" />
        </div>
        <div class="col-md-6 col-sm-12 col-12 news-text-container">
          <p>{{ post.post_title ? getShortName(post.post_title) : "" }}</p>
          <div class="news-date-section d-flex">
            <div class="author-name">{{ post.author_name }}</div>
            <div><i class="fa-solid fa-circle news-circle-icon"></i></div>
            <div class="news-date">
              {{ post.post_date | date : "MMMM dd, yyyy" }}
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
<div class="pagination">
  <pagination-controls
    *ngIf="postarr"
    (pageChange)="p = $event"
    class="float-right"
  ></pagination-controls>
</div>
