<div class="footer-container">
    <div class="row">
        <div class="col-md-3 col-sm-6 col-12">
            <app-campus-muse-news></app-campus-muse-news>
        </div>
        <div class="col-md-3 col-sm-6 col-12">
            <app-women-news></app-women-news>
        </div>
        <div class="col-md-3 col-sm-6 col-12">
            <app-science-news></app-science-news>
        </div>
        <div class="col-md-3 col-sm-6 col-12">
            <app-twin-city-news></app-twin-city-news>
        </div>
    </div>
    <div class="footer-links-container">
        <ul class="footer-navigation">
            <li class="navigation-item">Home</li>
            <li class="navigation-item">Odisha</li>
            <li class="navigation-item">Women</li>
            <li class="navigation-item">Politics</li>
            <li class="navigation-item">Economy</li>
            <li class="navigation-item">Business</li>
            <li class="navigation-item">Nation</li>
            <li class="navigation-item" routerLink="/contact-us">Contact Us</li>
        </ul>
    </div>
</div>
<div class="credits-container">
    <p>© 2022 - <a>prameyanews.com</a>.  All Rights Reserved.  Powered by: <a>Nirmalya Labs Pvt Ltd</a></p>
</div>