<div class="container-fluid footer-container ">
    <div class="row">
        <div class="col-md-3 col-sm-6 col-12">
            <app-campus-muse-news></app-campus-muse-news>
        </div>
        <div class="col-md-3 col-sm-6 col-12">
            <app-women-news></app-women-news>
        </div>
        <div class="col-md-3 col-sm-6 col-12">
            <app-science-news></app-science-news>
        </div>
        <div class="col-md-3 col-sm-6 col-12">
            <app-twin-city-news></app-twin-city-news>
        </div>
    </div>
    <div class="btn-section">
        <button type="button" class="btn btn-secondary" routerLink="">Home</button>
        <button type="button" class="btn btn-secondary" routerLink="/category/odisha-news-in-english">Odisha</button>
        <button type="button" class="btn btn-secondary" routerLink="/category/women">Women</button>
        <button type="button" class="btn btn-secondary" routerLink="/category/economy">Economy</button>
        <button type="button" class="btn btn-secondary" routerLink="/category/business">Business</button>
        <button type="button" class="btn btn-secondary" routerLink="/category/nation">Nation</button>
    </div>
    <!-- <div class="footer-links-container">
        <ul class="footer-navigation">
            <li class="navigation-item" routerLink="">Home</li>
            <li class="navigation-item" routerLink="/category/odisha-news-in-english">Odisha</li>
            <li class="navigation-item" routerLink="/category/women">Women</li>
            <li class="navigation-item" routerLink="/category/politics">Politics</li>
            <li class="navigation-item" routerLink="/category/economy">Economy</li>
            <li class="navigation-item" routerLink="/category/business">Business</li>
            <li class="navigation-item" routerLink="/category/nation">Nation</li>
            <li class="navigation-item" routerLink="/contact-us">Contact Us</li>
        </ul>
    </div> -->
</div>
<footer class="bg-grey py-5">
    <div class="container-fluid">
    <div class="row">
      
       <div class="col-md-7 bdr-rt">
          <div class="row">
             <div class="col-md-6 px-4">
                <h6 class="footer-header"> News</h6>
                      <ul>
                         <li> <a target="_blank" href="https://www.prameyanews7.com"> News7 Odia</a></li>
                         <li> <a  target="_blank" href="https://prameyaepaper.com"> Prameya-ePaper</a></li>
                         <li> <a target="_blank" href="https://www.prameya.com"> Prameya-Odia</a></li>
                      </ul>
                      </div>
                      <div class="col-md-6 px-4">
                         <h6 class="footer-header">Quick Links</h6>
                      <ul>
                         <li> <a routerLink="/contact-us">Contact Us</a></li>
                         <li> <a  routerLink="/PrivacyPolicy">Privacy Policy</a></li>
                         <li> <a routerLink="/termofuses">Terms of Usage</a></li>
                      </ul>
                     </div>
             </div>
          </div>
       <div class="col-md-5">
         <h6 class="footer-header text-center">Download App</h6>
         <div class="logo-part">
         <div class="row">
            <div class="col-md-4 ">
             <ul>
                 <li> <a href="#"> News7 Odia</a></li>
                 <li> <a href="https://play.google.com/store/apps/details?id=com.nirmalya.prameya_news7"> Prameya<br>(ePaper,Odia,English)</a></li>
              </ul>
               </div>
            <div class="col-md-8 ">
              <div class="download-app">
                     <img src="assets/img/appstore1.png">
                     <img src="assets/img/appstore2.png">
                </div>
                <div class="download-app">
                 <img src="assets/img/appstore1.png">
                 <img src="assets/img/appstore2.png">
            </div>
           </div>
            <div class="col-md-12">
             <div class="social-icon">
                 <a  target="_blank" href="https://www.facebook.com/PrameyaEnglish/" class="fa fa-facebook"></a>
                 <a  target="_blank" href="https://twitter.com/PrameyaEnglish" class="fa fa-twitter"></a>
                 <a  class="fa fa-instagram"></a>
                 <a  class="fa fa-linkedin"></a>
                 <a  class="fab fa-telegram-plane"></a>
                 <a  class="fa fa-snapchat-ghost"></a>
                 <a  class="fa fa-youtube"></a>
             </div>
          </div>
            <!-- <div class="col-md-6 px-4">
               <h6> About Company</h6>
               <p>But horizontal lines can only be a full pixel high.</p>
               <a href="#" class="btn-footer"> More Info </a><br>
               <a href="#" class="btn-footer"> Contact Us</a>
            </div> -->
         </div>
      </div>
    </div>
    </div>
    </div>
</footer>
<div class="credits-container">
    <!-- <p>Copyright © 2022 - <a>Summa Real Media Private Limited</a>. All Rights Reserved. Powered by: <a href="https://www.nirmalyalabs.com/" target="_blank">Nirmalya Labs Pvt Ltd</a>&nbsp;<a routerLink="/PrivacyPolicy">Privacy Policy</a></p> -->
    
    <p>Copyright © 2022 - <a>Summa Real Media Private Limited</a>. All Rights Reserved.</p>
    <div class="footer-links-container">
        <ul class="footer-navigation">
            <li class="navigation-item" routerLink="/contact-us">Contact Us</li>
            <li class="navigation-item" routerLink="/PrivacyPolicy">Privacy Policy</li>
            <li class="navigation-item" routerLink="/termofuses">Terms of Usage</li>
        </ul>
    </div>
</div>
