
<div class="slideshow-container">
  <div class="trending">ପ୍ରମୁଖ ଖବର</div>
  <div class="mySlides">
    <p>ଚାନ୍ଦବାଲି : ମାଛ ଧରିବାକୁ ଯାଇ ସମୁଦ୍ରରେ ଭାସିଗଲେ ଦୁଇ ମତ୍ସ୍ୟଜୀବୀ : ଜଣେ ମୃତ, ଜଣେ ଉଦ୍ଧାର.</p>
  </div>
  
  <div class="mySlides">
    <p>କେନ୍ଦୁଝର : ବିଦ୍ୟୁତ ତାର ଲାଗି ଦୁଇ ମାଈ ହାତୀଙ୍କ ମୃତ୍ୟୁ ଘଟଣାରେ ଫରେଷ୍ଟର ଓ ଫରେଷ୍ଟ ଗାର୍ଡ ନିଲମ୍ବିତ, ବିଦ୍ୟୁତ ବିଭାଗକୁ କାରଣ ଦର୍ଶାଅ ନୋଟିସ୍.</p>
  </div>
  
  <div class="mySlides">
    <p>ମାଲକାନଗିରି : ମାସେ ହେବ ଅନ୍ଧାରରେ କଲୋନୀ ବାସିନ୍ଦା, OHPC କାର୍ଯ୍ୟାଳୟ ସମ୍ମୁଖରେ ଦେଲେ ଧାରଣା.</p>
  </div>
  
  <a class="prev" (click)="plusSlides(-1)">❮</a>
  <a class="next" (click)="plusSlides(1)">❯</a>
  
  </div>
  