
<div class="slideshow-container">
  <div class="trending">trending</div>
  <div class="mySlides" *ngFor="let post of postarr" (click)="opennewsSec(post.slug)">
    <p>{{post.post_title}}</p>
  </div>
  
  <!-- <div class="mySlides">
    <p>But man is not made for defeat. A man can be destroyed but not defeated.</p>
  </div>
  
  <div class="mySlides">
    <p>Trending news text to go here</p>
  </div> -->
  
  <a class="prev" (click)="plusSlides(-1)">❮</a>
  <a class="next" (click)="plusSlides(1)">❯</a>
  
  </div>
  