<!-- <div class="d-flex">
<ul class="mdc-image-list my-image-list" >
    <li class="mdc-image-list__item" *ngFor="let row of mediadetails">
      <div class="mdc-image-list__image-aspect-container" >
        <img class="mdc-image-list__image" src="{{row.media_url}}">
      </div>
      <div class="mdc-image-list__supporting">
        <span class="mdc-image-list__label">{{row.media_title}}</span>
        <span class="mdc-image-list__label">{{row.createdby}}</span>

        <button (click)="editmedia(row)">Edit</button>  
        </div>
    </li>
    ...
  </ul>
</div> -->
<!-- target="_blank" [href]="row.media_url" -->
<div class="d-flex justify-content-between mt-5 search-category">
    <div class="d-flex align-items-center mt-icn">
        <mat-icon [ngClass]="gridstatus ? 'mt-active-color' : ''" (click)="showGrid()">view_module</mat-icon>
        <mat-icon [ngClass]="liststatus ? 'mt-active-color' : ''" (click)="showList()">view_list</mat-icon>
    </div>
    <div class="search-input-container">
        <mat-form-field appearance="outline" class="form-group w-200 search-input">
            <input matInput type="text" name="cname" [(ngModel)]="searchvalue">
            <!-- <input matInput type="text" name="cname"> -->
        </mat-form-field>
        <button mat-raised-button color="primary" class="search-btn" (click)="searchMedia()">Search</button>
        <button mat-raised-button color="warning" class="search-btn warning" (click)="clear()">Clear</button>
    </div>
</div>
<div *ngIf="viewdata">
    <div class="gallery" *ngFor="let row of mediadetails">
        <a href="javascript:void(0)">
            <img [src]="row.media_url" [alt]="row.media_alt_text" width="600" height="400" (click)="editmedia(row)">
        </a>
    </div>
</div>
<div *ngIf="!viewdata">
    <table id="view-table">
        <thead class="table-header">
            <th class="first">
                <input type="checkbox" class="example-margin">
            </th>
            <th class="content">Name</th>
            <th class="content">Description</th>
            <th class="content">Caption</th>
            <th class="content">Action</th>
        </thead>
        <tbody>
            <tr *ngFor="let row of mediadetails | paginate: { itemsPerPage: 5, currentPage: p }">
                <td class="first">
                    <input type="checkbox" class="example-margin">
                </td>
                <td>{{row.media_title}}</td>
                <td class="description">{{row.media_desc}}</td>
                <td class="description">{{row.media_caption}}</td>
                <td><button (click)="editmedia(row)">Edit</button></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="col-lg-12 col-md-12 col-12 w-100 d-flex justify-content-between flex-wrap"
      style="padding-top:1vw;padding-bottom:1vw;">
      <div class="d-flex" style="padding-left: 3%;">
        <!-- <button class="apply-btn" style="margin-left:1vw;">apply to selected items</button> -->
      </div>
      <pagination-controls class="pagination-color" (pageChange)="p = $event"></pagination-controls>
    </div>