.heading-container {
  display: flex;
  align-items: center;
}

.heading-container .grey-line {
  background-color: #bbb;
  height: 10px;
  flex-grow: 1;
  margin-left: 10px;
}

.send-message-container {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 1.2rem;
  margin-top: 1.5rem;
}

.contact-us-form {
  display: flex;
  flex-direction: column;
}

.contact-us-form input {
  width: 100%;
  min-height: 40px;
}

.contact-us-form textarea {
  width: 100%;
  min-height: 150px;
}

.contact-us-form mat-label {
  font-weight: bold;
  color: #595959;
  margin: 1rem 0rem 0.3rem 0rem;
  font-size: 14px;
}

.contact-us-form .mat-raised-button {
  width: fit-content;
  background: #434343;
  color: #fff;
  margin-top: 10px;
  font-weight: bold;
}

.contact-us-form .mat-raised-button:hover {
  background-color: #d12133;
}

.message-hint {
  text-align: center;
  margin: 1.5rem 0rem;
}

.example-margin {
  color: #7b7b7b;
  font-weight: bold;
}

.contact-details {
  margin-top: 1.5rem;
}

.contact-details input {
  min-height: 25px;
}

.contact-details .mat-form-field {
  width: 100%;
}
