<div class="opinion-main-section">
  <div class="heading-container">
    <h4 class="news-sub">ବ୍ଲଗ୍ / ମତାମତ |</h4>
    <!-- <div class="grey-line"></div> -->
  </div>
  <div class="opinion-section" *ngFor="let post of postarr; let i = index" [ngClass]="i !== 0 ? 'divider' : ''" (click)="opennewsSec(post.slug,post.twitter_exists)">
    <div class="opinion-content">
      <span>Opinions</span>
    </div>
    <p>{{getShortName(post.post_title)}}</p>
    <div class="author-name">{{post.author_name}}</div>
  </div>
  <!-- <div class="opinion-section divider">
    <div class="opinion-content">
      <span>Opinions</span>
    </div>
    <p>LA Noire Switch review A fantast fun detective-thriller</p>
    <div class="author-name">james ghosling</div>
  </div>
  <div class="opinion-section divider">
    <div class="opinion-content">
      <span>Opinions</span>
    </div>
    <p>Loyal mobile phone customers ‘charged for handsets…</p>
    <div class="author-name">james ghosling</div>
  </div>
  <div class="opinion-section divider">
    <div class="opinion-content">
      <span>Opinions</span>
    </div>
    <p>Poppy Appeal will still accept old £1 coins, says Royal…</p>
    <div class="author-name">james ghosling</div>
  </div> -->
  <button class="load-more-button" type="button" (click)="openMore()">
    Load More Posts
  </button>
</div>