<div class="viewtag-container">
    <div class="view-tag">
        <div class="search-category">
          
        </div>
        <!-- <div class="header">
            <div>
            </div>
            <pagination-controls class="pagination-color"></pagination-controls>
        </div> -->
        <table id="view-table">
            <thead class="table-header">
                <th class="first">
                    <input type="checkbox" class="example-margin">
                </th>
                <th class="content">Name</th>
                <th class="content">Author
                    
                </th>
                <th class="content">Slug</th>
                <th class="content">Action</th>
                <th class="content">Delete</th>
            </thead>

            <tr *ngFor="let data of trendingarray | paginate: { itemsPerPage: 10, currentPage: p } ">
                <td class="first">
                    <input type="checkbox" class="example-margin">
                </td>
                <td>{{data.post_title}}</td>
                <td class="description">{{data.author_name}}</td>
                <td>{{data.slug}}</td>
                <td><mat-icon class="mat-icon-cls" title="Edit"> edit</mat-icon></td>
                <!-- <td><button (click)="edittag(data)">Edit</button></td> -->
                
            </tr>

        </table>
        <ng-template #elseblock>
            <tbody>
                <tr>
                    <td colspan="6" class="text-center" style="color: black;">
                        No record Found
                    </td>
                </tr>
            </tbody>
        </ng-template>
        <div class="col-lg-12 col-md-12 col-12 w-100 d-flex justify-content-between flex-wrap"
            style="padding-top:1vw;padding-bottom:1vw;">
            <div class="d-flex" style="padding-left: 3%;">
                <!-- <button class="apply-btn" style="margin-left:1vw;">apply to selected items</button> -->
            </div>
            <pagination-controls class="pagination-color" (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
</div>