<section class="user-table-container" style="overflow-x:auto;">
  <div class="d-flex flex-column w-100">
    <div class="view-user-container">
      <div class="search-category">
        <mat-form-field appearance="outline">
          <mat-select [(ngModel)]="rolesearch" disableRipple [ngModelOptions]="{standalone: true}">
            <mat-option value="">Select Role</mat-option>
            <mat-option *ngFor="let gm of role" [value]="gm.id">{{ gm.role }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-raised-button color="primary" class="search-btn" (click)="searchRole()">Search Role</button>
        &nbsp;&nbsp;
        <mat-form-field appearance="outline" class="form-group">
          <input matInput type="text" name="cname" [(ngModel)]="usersearch" (keydown.enter)="onKeydown($event)"
            (keyup.enter)="searchUser()">
        </mat-form-field>
        <button mat-raised-button color="primary" class="search-btn" (click)="searchUser()">Search User</button>
      </div>
      <table class="view-table">
        <thead class="table-header">
          <th class="first">
            <input type="checkbox" class="example-margin">
          </th>
          <th class="content">
            Username
          </th>
          <th class="content">
            Email
          </th>
          <th class="content">
            Full Name
          </th>
          <th class="content">
            Display Name
          </th>
          <th class="content">
            Role
          </th>
          <th class="content">
            Action
          </th>
          <th class="content">
            Delete
          </th>
        </thead>
        <tbody *ngIf="allUser &&  allUser.length; else elseblock">
          <tr *ngFor="let row of allUser| paginate: { itemsPerPage: 15, currentPage: p }">
            <td class="first">
              <input type="checkbox" [(ngModel)]="row.selected">
            </td>
            <td class="tourNames">
              {{row.user_login}}
            </td>

            <td class="tourStatus">
              {{row.user_email}}
            </td>
            <td>
              {{row.user_nicename}}
            </td>
            <td>
              {{row.display_name}}
            </td>
            <td class="tourDate">
              {{row.role_name}}
            </td>
            <td>
              <mat-icon class="mat-icon-cls" (click)="editUser(row.user_id)" title="Edit"> edit</mat-icon>
              <!-- <button class="edit-btn" (click)="editUser(row.user_id)">Edit</button> -->
            </td>
            <td>
             <button class="del-btn" (click)="deleteUser(row.user_id)"><mat-icon>delete_forever</mat-icon></button>  
            </td>
          </tr>
        </tbody>
      </table>
      <ng-template #elseblock>
        <tbody>
          <tr>
            <td colspan="7" class="text-center" style="color: black;">
              No record Found
            </td>
          </tr>
        </tbody>
      </ng-template>
      <div class="col-lg-12 col-md-12 col-12 w-100 d-flex justify-content-between flex-wrap"
        style="padding-top:1vw;padding-bottom:1vw;">
        <div class="d-flex" style="padding-left: 3%;">
          <!-- <button class="apply-btn" style="margin-left:1vw;">apply to selected items</button> -->
        </div>
        <pagination-controls class="pagination-color" (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>
  </div>
</section>