<div class="addcategory-container">
    <div class="add-category-heading">
      <h1>Change Password</h1>
    </div>
    <form class="add-category-form">
      <div class="add-category-form-field row">
        <div class="col-md-12 col-sm-12 col-12">
          <mat-label class="category-info">Username</mat-label>
          <mat-form-field appearance="outline" class="form-group">
            <input matInput type="text" name="userName" required [(ngModel)]="user.user_login">
          </mat-form-field>
        </div>
      </div>
      <div class="add-category-form-field row">
        <div class="col-md-12 col-sm-12 col-12">
          <mat-label class="category-info">Email</mat-label>
          <mat-form-field appearance="outline" class="form-group">
            <input matInput type="text" name="email" required [(ngModel)]="user.user_email">
          </mat-form-field>
        </div>
      </div>
      <div class="add-category-form-field row">
        <div class="col-md-12 col-sm-12 col-12">
          <mat-label class="category-info">New Password</mat-label>
          <mat-form-field appearance="outline" class="form-group">
            <input matInput type="text" name="email" required [(ngModel)]="user.user_pass">
          </mat-form-field>
        </div>
      </div>
      <div class="mat-dialog-button">
        <button mat-raised-button color="primary" (click)="changePassword()">Change</button>&nbsp;
        <button mat-raised-button color="warn" (click)="close()">Close</button>
      </div>
      
    </form>
  </div>