<div class="gallery-news-holder-container">
  <div class="row">
    <div class="col-md-5 col-sm-12 col-12 np">
      <div class="image-bg first-img">
        <img src="assets/img/cover1.jpg" />
        <div class="category">Top-stories</div>
        <div class="heading-container">
          <h5>ଡିଜାଇନର ଶାଢୀରେ କିଲର ଲୁକ୍‌ ଦେଲେ ଶେହନାଜ୍, ଦିୱାନା ହେଲେ ଫ୍ୟାନ୍ସ</h5>
          <div class="news-date-section">
            <div class="author-name">ସୁରଭି ଗୌତମ</div>
            <div> <i class="fa-solid fa-circle news-circle-icon"></i></div>
            <div class="news-date"> August 26, 2020</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-7 col-sm-12 col-12 np">
      <div class="row">
        <div class="col-md-7 col-sm-7 col-12 np1">
          <div class="row">
            <div class="col-md-12">
              <div class="image-bg second-image">
                <img src="assets/img/cover2.jpg" />
                <div class="category">Top-stories</div>
                <div class="heading-container">
                  <h5>ଡିଜାଇନର ଶାଢୀରେ କିଲର ଲୁକ୍‌ ଦେଲେ ଶେହନାଜ୍, ଦିୱାନା ହେଲେ ଫ୍ୟାନ୍ସ</h5>
                  <div class="news-date-section">
                    <div class="author-name">ସୁରଭି ଗୌତମ</div>
                    <div> <i class="fa-solid fa-circle news-circle-icon"></i></div>
                    <div class="news-date"> August 26, 2020</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 np3">
              <div class="image-bg second-image">
                <img src="assets/img/cover3.jpg" />
                <div class="heading-container">
                  <h6>ଡିଜାଇନର ଶାଢୀରେ କିଲର ଲୁକ୍‌ ଦେଲେ ଶେହନାଜ୍, ଦିୱାନା ହେଲେ ଫ୍ୟାନ୍ସ</h6>
                </div>
              </div>
            </div>
            <div class="col-md-6 np4">
              <div class="image-bg second-image">
                <img src="assets/img/cover4.jpg" />
                <div class="heading-container">
                  <h6>ଡିଜାଇନର ଶାଢୀରେ କିଲର ଲୁକ୍‌ ଦେଲେ ଶେହନାଜ୍, ଦିୱାନା ହେଲେ ଫ୍ୟାନ୍ସ</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-5 col-sm-5 col-12 np2">
          <div class="image-bg first-img">
            <img src="assets/img/cover5.jpg" />
            <div class="category">Top-stories</div>
            <div class="heading-container">
              <h5>ଡିଜାଇନର ଶାଢୀରେ କିଲର ଲୁକ୍‌ ଦେଲେ ଶେହନାଜ୍, ଦିୱାନା ହେଲେ ଫ୍ୟାନ୍ସ</h5>
              <div class="news-date-section">
                <div class="author-name">ସୁରଭି ଗୌତମ</div>
                <div> <i class="fa-solid fa-circle news-circle-icon"></i></div>
                <div class="news-date"> August 26, 2020</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="top-stories">
  <div class="row">
    <div class="col-md-3 col-sm-12 col-12">
      <app-opinions></app-opinions>
      <div class="mt-20">
        <app-economy-news></app-economy-news>
      </div>
      <div class="advertisement-space-container-first mt-20 fixed-sidebar" style="background-image: url('assets/img/ad.jpg')">
        <p class="placeholder-text">Advertisement</p>
        <p class="placeholder-size">300 X 200</p>
      </div>
      <p class="ad-text">-Advertisement-</p>
    </div>
    <div class="col-md-6 col-sm-12 col-12">
      <div class="browse-categories-container">
        <div class="bc-heading-container">
          <h4 class="news-sub">Browsing Category</h4>
          <div class="grey-line"></div>
        </div>
        <h3 class="category-name">Top Stories</h3>
        <div class="category-list-container">
          <ul class="category-list">
            <li class="category-name">Economy</li>
            <li class="category-name">Odisha</li>
            <li class="category-name">Nation</li>
            <li class="category-name">Women</li>
            <li class="category-name">Politics</li>
            <li class="category-name">Sports</li>
            <li class="category-name">Science</li>
            <li class="category-name">Crime</li>
            <li class="category-name">Entertainment</li>
          </ul>
        </div>
      </div>
      <div class="news-section">
        <div class="row story-section">
          <div class="col-md-6 col-sm-12 col-12">
            <div class="news-card">
              <div class="category">Top Stories</div>
              <img src="assets/img/news.jpg">
            </div>
          </div>
          <div class="col-md-6 col-sm-12 col-12 ">
            <div class="top-stories-text">
              <p class="news-heading">ଡିଜାଇନର ଶାଢୀରେ କିଲର ଲୁକ୍‌ ଦେଲେ ଶେହନାଜ୍, ଦିୱାନା ହେଲେ ଫ୍ୟାନ୍ସ</p>
              <div class="news-date-section d-flex">
                <div class="author-name">ସୁରଭି ଗୌତମ</div>
                <div> <i class="fa-solid fa-circle news-circle-icon"></i></div>
                <div class="news-date"> August 26, 2020</div>
              </div>
              <p class="news-content">ଶୁଭଶ୍ରୀ ମହାପାତ୍ର ମୃତ୍ୟୁ ମାମଲା, ଜଣେ ଯୁବକଙ୍କୁ ଅଟକ ରଖିଛି ପୋଲିସ …</p>
            </div>
            <button class="read-more-button" type="button">
              Read More...
            </button>
          </div>
        </div>
        <div class="row story-section">
          <div class="col-md-6 col-sm-12 col-12">
            <div class="news-card">
              <div class="category">Top stories</div>
              <img src="assets/img/news.jpg">
            </div>
          </div>
          <div class="col-md-6 col-sm-12 col-12 ">
            <div class="top-stories-text">
              <p class="news-heading">ଡିଜାଇନର ଶାଢୀରେ କିଲର ଲୁକ୍‌ ଦେଲେ ଶେହନାଜ୍, ଦିୱାନା ହେଲେ ଫ୍ୟାନ୍ସ</p>
              <div class="news-date-section d-flex">
                <div class="author-name">ସୁରଭି ଗୌତମ</div>
                <div> <i class="fa-solid fa-circle news-circle-icon"></i></div>
                <div class="news-date"> August 26, 2020</div>
              </div>
              <p class="news-content">ଶୁଭଶ୍ରୀ ମହାପାତ୍ର ମୃତ୍ୟୁ ମାମଲା, ଜଣେ ଯୁବକଙ୍କୁ ଅଟକ ରଖିଛି ପୋଲିସ …</p>
            </div>
            <button class="read-more-button" type="button">
              Read More...
            </button>
          </div>
        </div>
        <div class="row story-section">
          <div class="col-md-6 col-sm-12 col-12">
            <div class="news-card">
              <div class="category">Top Stories</div>
              <img src="assets/img/news.jpg">
            </div>
          </div>
          <div class="col-md-6 col-sm-12 col-12 ">
            <div class="top-stories-text">
              <p class="news-heading">ଡିଜାଇନର ଶାଢୀରେ କିଲର ଲୁକ୍‌ ଦେଲେ ଶେହନାଜ୍, ଦିୱାନା ହେଲେ ଫ୍ୟାନ୍ସ</p>
              <div class="news-date-section d-flex">
                <div class="author-name">ସୁରଭି ଗୌତମ</div>
                <div> <i class="fa-solid fa-circle news-circle-icon"></i></div>
                <div class="news-date"> August 26, 2020</div>
              </div>
              <p class="news-content">ଶୁଭଶ୍ରୀ ମହାପାତ୍ର ମୃତ୍ୟୁ ମାମଲା, ଜଣେ ଯୁବକଙ୍କୁ ଅଟକ ରଖିଛି ପୋଲିସ …</p>

            </div>
            <button class="read-more-button" type="button">
              Read More...
            </button>
          </div>
        </div>
        <div class="row story-section">
          <div class="col-md-6 col-sm-12 col-12">
            <div class="news-card">
              <div class="category">Top Stories</div>
              <img src="assets/img/news.jpg">
            </div>
          </div>
          <div class="col-md-6 col-sm-12 col-12 ">
            <div class="top-stories-text">
              <p class="news-heading">ଡିଜାଇନର ଶାଢୀରେ କିଲର ଲୁକ୍‌ ଦେଲେ ଶେହନାଜ୍, ଦିୱାନା ହେଲେ ଫ୍ୟାନ୍ସ</p>
              <div class="news-date-section d-flex">
                <div class="author-name">ସୁରଭି ଗୌତମ</div>
                <div> <i class="fa-solid fa-circle news-circle-icon"></i></div>
                <div class="news-date"> August 26, 2020</div>
              </div>
              <p class="news-content">ଶୁଭଶ୍ରୀ ମହାପାତ୍ର ମୃତ୍ୟୁ ମାମଲା, ଜଣେ ଯୁବକଙ୍କୁ ଅଟକ ରଖିଛି ପୋଲିସ …</p>

            </div>
            <button class="read-more-button" type="button">
              Read More...
            </button>
          </div>
        </div>
        <div class="row story-section">
          <div class="col-md-6 col-sm-12 col-12">
            <div class="news-card">
              <div class="category">Top Stories</div>
              <img src="assets/img/news.jpg">
            </div>
          </div>
          <div class="col-md-6 col-sm-12 col-12 ">
            <div class="top-stories-text">
              <p class="news-heading">ଡିଜାଇନର ଶାଢୀରେ କିଲର ଲୁକ୍‌ ଦେଲେ ଶେହନାଜ୍, ଦିୱାନା ହେଲେ ଫ୍ୟାନ୍ସ</p>
              <div class="news-date-section d-flex">
                <div class="author-name">ସୁରଭି ଗୌତମ</div>
                <div> <i class="fa-solid fa-circle news-circle-icon"></i></div>
                <div class="news-date"> August 26, 2020</div>
              </div>
              <p class="news-content">ଶୁଭଶ୍ରୀ ମହାପାତ୍ର ମୃତ୍ୟୁ ମାମଲା, ଜଣେ ଯୁବକଙ୍କୁ ଅଟକ ରଖିଛି ପୋଲିସ …</p>

            </div>
            <button class="read-more-button" type="button">
              Read More...
            </button>
          </div>
        </div>
        <div class="row story-section">
          <div class="col-md-6 col-sm-12 col-12">
            <div class="news-card">
              <div class="category">Top Stories</div>
              <img src="assets/img/news.jpg">
            </div>
          </div>
          <div class="col-md-6 col-sm-12 col-12 ">
            <div class="top-stories-text">
              <p class="news-heading">ଡିଜାଇନର ଶାଢୀରେ କିଲର ଲୁକ୍‌ ଦେଲେ ଶେହନାଜ୍, ଦିୱାନା ହେଲେ ଫ୍ୟାନ୍ସ</p>
              <div class="news-date-section d-flex">
                <div class="author-name">ସୁରଭି ଗୌତମ</div>
                <div> <i class="fa-solid fa-circle news-circle-icon"></i></div>
                <div class="news-date"> August 26, 2020</div>
              </div>
              <p class="news-content">ଶୁଭଶ୍ରୀ ମହାପାତ୍ର ମୃତ୍ୟୁ ମାମଲା, ଜଣେ ଯୁବକଙ୍କୁ ଅଟକ ରଖିଛି ପୋଲିସ …</p>

            </div>
            <button class="read-more-button" type="button">
              Read More...
            </button>
          </div>
        </div>
        <div class="row story-section">
          <div class="col-md-6 col-sm-12 col-12">
            <div class="news-card">
              <div class="category">Top Stories</div>
              <img src="assets/img/news.jpg">
            </div>
          </div>
          <div class="col-md-6 col-sm-12 col-12 ">
            <div class="top-stories-text">
              <p class="news-heading">ଡିଜାଇନର ଶାଢୀରେ କିଲର ଲୁକ୍‌ ଦେଲେ ଶେହନାଜ୍, ଦିୱାନା ହେଲେ ଫ୍ୟାନ୍ସ</p>
              <div class="news-date-section d-flex">
                <div class="author-name">ସୁରଭି ଗୌତମ</div>
                <div> <i class="fa-solid fa-circle news-circle-icon"></i></div>
                <div class="news-date"> August 26, 2020</div>
              </div>
              <p class="news-content">ଶୁଭଶ୍ରୀ ମହାପାତ୍ର ମୃତ୍ୟୁ ମାମଲା, ଜଣେ ଯୁବକଙ୍କୁ ଅଟକ ରଖିଛି ପୋଲିସ …</p>

            </div>
            <button class="read-more-button" type="button">
              Read More...
            </button>
          </div>
        </div>
        <div class="row story-section">
          <div class="col-md-6 col-sm-12 col-12">
            <div class="news-card">
              <div class="category">Top Stories</div>
              <img src="assets/img/news.jpg">
            </div>
          </div>
          <div class="col-md-6 col-sm-12 col-12 ">
            <div class="top-stories-text">
              <p class="news-heading">ଡିଜାଇନର ଶାଢୀରେ କିଲର ଲୁକ୍‌ ଦେଲେ ଶେହନାଜ୍, ଦିୱାନା ହେଲେ ଫ୍ୟାନ୍ସ</p>
              <div class="news-date-section d-flex">
                <div class="author-name">ସୁରଭି ଗୌତମ</div>
                <div> <i class="fa-solid fa-circle news-circle-icon"></i></div>
                <div class="news-date"> August 26, 2020</div>
              </div>
              <p class="news-content">ଶୁଭଶ୍ରୀ ମହାପାତ୍ର ମୃତ୍ୟୁ ମାମଲା, ଜଣେ ଯୁବକଙ୍କୁ ଅଟକ ରଖିଛି ପୋଲିସ …</p>

            </div>
            <button class="read-more-button" type="button">
              Read More...
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-12 col-12">
      <div class="advertisement-space-container-first" style="background-image: url('assets/img/ad.jpg')">
        <p class="placeholder-text">Advertisement</p>
        <p class="placeholder-size">300 X 200</p>
      </div>
      <p class="ad-text">-Advertisement-</p>
      <div class="fixed-sidebar">
        <app-latest-news></app-latest-news>
      </div>
    </div>
  </div>
</div>