.top-stories {
  padding: 2% 3.9%;
  background-color: #f4f4f4;
}

.news-section {
  background: #fff;
  border: 1px rgb(215, 215, 215) solid;
  cursor: pointer;
}

.opinion-main-section {
  background: #fff;
  border: 1px rgb(215, 215, 215) solid;
  padding: 1.3rem;
}

.story-section {
  padding: 1.3rem;
}

.heading-container .grey-line {
  background-color: #bbb;
  height: 10px;
  flex-grow: 1;
  margin-left: 10px;
}

.opinion-content {
  margin-top: 20px;
  text-align: center;
}

.opinion-content span {
  background-color: #d12133;
  line-height: 13px;
  padding: 3px 7px 2px;
  color: white;
  text-transform: uppercase;
  font-size: 13px;
}

.opinion-section p {
  margin-top: 20px;
  margin-bottom: 0px;
  font-weight: bold;
  color: rgb(71, 71, 71);
  transition: all .4s ease;
  text-align: center;
}

.opinion-section:hover p {
  color: #da0000;
  cursor: pointer;
}

.author-name {
  text-align: center;
}

.divider {
  margin-top: 40px;
  border-top: 1px dotted #bbb;
}

.load-more-button {
  width: 100%;
  padding: 5px 0px;
  font-size: 15px;
  color: #000;
  font-weight: bold;
  background: transparent;
  border: 1px solid #bbb;
}

.load-more-button:hover {
  color: #fff;
  background-color: rgb(211, 0, 0);
}

.news-card img {
  width: 100%;
}

.news-card .category {
  position: absolute;
  text-transform: uppercase;
  color: #fff;
  background-color: #da0000;
  padding: 3px 5px;
  width: fit-content;
  font-size: 12px;
  font-weight: bold;
}

.news-date {
  margin-left: 10px;
}

.top-stories-text .news-heading {
  font-weight: bold;
  margin-bottom: 0px;
  font-size: 17px;
  transition: all 0.4s ease;
}

.news-content {
  font-size: 14px;
  color: #797f85;
  margin-bottom: 0px;
  margin-top: 10px;
}

.read-more-button {
  background: #000;
  padding: 5px 7px;
  font-size: 13px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 10px;
  border: none;
  transition: all 0.4s ease;
}

.stories-part {
  padding-top: 30px;
}

.story-section:hover .news-heading {
  color: #da0000;
}

.story-section:hover .read-more-button {
  background: #da0000;
  border: none;
}

.advertisement-space-container-first {
  height: 250px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px;
}

.advertisement-space-container-first .placeholder-text {
  margin: 0px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
}

.advertisement-space-container-first .placeholder-size {
  color: #fff;
  font-size: 26px;
}

.ad-text {
  text-align: center;
  color: #ccc;
  font-size: 12px;
}
.image-bg img {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}

.gallery-news-holder-container {
  padding: 2% 3.9% 0% 3.9%;
  background-color: #f4f4f4;
}

.gallery-news-holder-container .image-bg {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #fff;
}

.gallery-news-holder-container .image-bg img {
  transition: transform .8s ease;
}
.gallery-news-holder-container .image-bg:hover img {
  transform: scale(1.2);
}

.gallery-news-holder-container .image-bg .category {
  position: absolute;
  top: 0;
  text-transform: uppercase;
  color: #fff;
  background-color: #da0000;
  padding: 3px 5px;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 15px;
  font-weight: bold;
}

.gallery-news-holder-container .heading-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  padding: 15px;
}

.gallery-news-holder-container .heading-container  h5{
  font-weight: bold;
  color: #fff;
  font-size: 23px;
  line-height: normal;
}

.gallery-news-holder-container .heading-container  h6{
  font-weight: bold;
  color: #fff;
  font-size: 17px;
}

.gallery-news-holder-container .heading-container .author-name {
  color: #fff;
}

.heading-container .news-circle-icon, .news-date {
  color: #868185;
}

.gallery-news-holder-container .first-img {
  height: 400px;
}

.gallery-news-holder-container .second-image {
  height: 200px;
}

.np {
  padding: 0px;
}

.np1 {
  padding-right: 0px;
}
.np-2 {
  padding-left: 0px;
}
.np3 {
  padding-right: 0px;
}
.np4 {
  padding-left: 0px;
}
.col-md-5.col-sm-5.col-12.np2 {
  padding: 0px;
}

.mt-20 {
  margin-top: 20px;
}

.fixed-sidebar {
  position: sticky;
  top: 0;
}

.browse-categories-container {
  background: #fff;
  border: 1px rgb(215, 215, 215) solid;
  padding: 1.3rem;
}

.bc-heading-container {
  display: flex;
  align-items: center;
}
.bc-heading-container .grey-line {
  background-color: #bbb;
  height: 10px;
  flex-grow: 1;
  margin-left: 10px;
}
.bc-heading-container .news-sub {
  color: #da0000;
  font-size: 20px;
}

.category-list-container ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.category-list-container ul li{
  float: none;
  display: inline-block;
  margin-right: 5px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(62, 62, 62);
  transition: all .5s ease;
  padding: 5px 10px;
  cursor: pointer;
  border: 1px solid rgb(62, 62, 62);
  margin: 2px;
  font-size: 13px;
}

.category-list-container ul li:hover {
  background-color: rgba(199, 18, 18, 0.833);
  color: #fff;
}

.browse-categories-container .category-name {
  margin: 1rem 0rem;
  color: #2f3031;
}
