<div class="gallery-news-holder-container">
    <div class="row">
        <div class="col-md-5 col-sm-12 col-12 np">
            <div class="image-bg first-img">
                <img src="assets/img/cover1.jpg" />
                <div class="category">କରୋନା</div>
                <div class="heading-container">
                    <h5>The Magic Money Tree Does Exist, According To Modern Monetary Theory</h5>
                    <div class="news-date-section">
                        <div class="author-name">james</div>
                        <div> <i class="fa-solid fa-circle news-circle-icon"></i></div>
                        <div class="news-date"> August 26, 2020</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7 col-sm-12 col-12 np">
            <div class="row">
                <div class="col-md-7 col-sm-12 col-12 np1">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="image-bg second-image">
                                <img src="assets/img/cover2.jpg" />
                                <div class="category">କରୋନା</div>
                                <div class="heading-container">
                                    <h5>The Magic Money Tree Does Exist, According To Modern Monetary Theory</h5>
                                    <div class="news-date-section">
                                        <div class="author-name">james</div>
                                        <div> <i class="fa-solid fa-circle news-circle-icon"></i></div>
                                        <div class="news-date"> August 26, 2020</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 np3">
                            <div class="image-bg second-image">
                                <img src="assets/img/cover3.jpg" />
                                <div class="heading-container">
                                    <h6>The Magic Money Tree Does Exist, According To Modern Monetary Theory</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 np4">
                            <div class="image-bg second-image">
                                <img src="assets/img/cover4.jpg" />
                                <div class="heading-container">
                                    <h6>The Magic Money Tree Does Exist, According To Modern Monetary Theory</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-sm-12 col-12 np2">
                    <div class="image-bg first-img">
                        <img src="assets/img/cover5.jpg" />
                        <div class="category">କରୋନା</div>
                        <div class="heading-container">
                            <h5>The Magic Money Tree Does Exist, According To Modern Monetary Theory</h5>
                            <div class="news-date-section">
                                <div class="author-name">james</div>
                                <div> <i class="fa-solid fa-circle news-circle-icon"></i></div>
                                <div class="news-date"> August 26, 2020</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="top-stories">
    <div class="row">
        <div class="col-md-3 col-sm-12 col-12">
            <app-opinions></app-opinions>
            <div class="mt-20 mb-20">
                <app-economy-news></app-economy-news>
            </div>
            <!-- <div class="advertisement-container-long">
          <div id="carouselExampleControls2" class="carousel slide carousel-fade" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item" *ngFor="let leftmiddle_ad of ads_leftmiddle;let i = index"
                [ngClass]="i === 0 ? 'active' : ''">
                <img class="d-block w-100" src={{leftmiddle_ad.ads_image}} alt={{leftmiddle_ad.ads_image_alt_text}}
                  (click)="openLink(leftmiddle_ad.ads_image_link)">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls2" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls2" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div> -->
        </div>
        <div class="col-md-6 col-sm-12 col-12">
            <div class="browse-categories-container">
                <div class="bc-heading-container">
                    <h4 class="news-sub">Browsing Category</h4>
                    <div class="grey-line"></div>
                </div>
                <h3 class="category-name">Top Stories</h3>
                <div class="category-list-container">
                    <ul class="category-list">
                        <li class="category-name">Economy</li>
                        <li class="category-name">technology</li>
                        <li class="category-name">Nation</li>
                        <li class="category-name">Women</li>
                        <li class="category-name">Politics</li>
                        <li class="category-name">Sports</li>
                        <li class="category-name">Science</li>
                        <li class="category-name">Crime</li>
                        <li class="category-name">Entertainment</li>
                    </ul>
                </div>
            </div>
            <div class="news-section">
                <div class="row story-section">
                    <div class="col-md-6 col-sm-12 col-12">
                        <div class="news-card">
                            <div class="category">କରୋନା</div>
                            <img src="assets/img/news.jpg">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-12 ">
                        <div class="top-stories-text">
                            <p class="news-heading">ହାତୀ ଓ ବନ୍ୟଜନ୍ତୁଙ୍କ ଉପଦ୍ରବରେ କ୍ଷତି ସହୁଛି ଚାଷୀ, ସ୍ଥାୟୀ ପ୍ରତିକାର ସହ
                                ଉଚିତ କ୍ଷତିପୂରଣ ଦାବିରେ ରେଞ୍ଜ ଅଫିସ୍ ଘେରାଉ…</p>
                            <div class="news-date-section d-flex">
                                <div class="author-name">ସୁରଭି ଗୌତମ</div>
                                <div> <i class="fa-solid fa-circle news-circle-icon"></i></div>
                                <div class="news-date">22 October</div>
                            </div>
                            <p class="news-content">ହାତୀ ଓ ବନ୍ୟଜନ୍ତୁଙ୍କ ଉପଦ୍ରବରେ କ୍ଷତି ସହୁଛି ଚାଷୀ, ସ୍ଥାୟୀ ପ୍ରତିକାର ସହ
                                ଉଚିତ କ୍ଷତିପୂରଣ ଦାବିରେ ରେଞ୍ଜ ଅଫିସ୍ ଘେରାଉ…</p>
                        </div>
                        <button class="read-more-button" type="button">
                            Read More...
                        </button>
                    </div>
                </div>
            </div>
            <div class="news-section">
                <div class="row story-section">
                    <div class="col-md-6 col-sm-12 col-12">
                        <div class="news-card">
                            <div class="category">କରୋନା</div>
                            <img src="assets/img/news.jpg">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-12 ">
                        <div class="top-stories-text">
                            <p class="news-heading">ହାତୀ ଓ ବନ୍ୟଜନ୍ତୁଙ୍କ ଉପଦ୍ରବରେ କ୍ଷତି ସହୁଛି ଚାଷୀ, ସ୍ଥାୟୀ ପ୍ରତିକାର ସହ
                                ଉଚିତ କ୍ଷତିପୂରଣ ଦାବିରେ ରେଞ୍ଜ ଅଫିସ୍ ଘେରାଉ…</p>
                            <div class="news-date-section d-flex">
                                <div class="author-name">ସୁରଭି ଗୌତମ</div>
                                <div> <i class="fa-solid fa-circle news-circle-icon"></i></div>
                                <div class="news-date">22 October</div>
                            </div>
                            <p class="news-content">ହାତୀ ଓ ବନ୍ୟଜନ୍ତୁଙ୍କ ଉପଦ୍ରବରେ କ୍ଷତି ସହୁଛି ଚାଷୀ, ସ୍ଥାୟୀ ପ୍ରତିକାର ସହ
                                ଉଚିତ କ୍ଷତିପୂରଣ ଦାବିରେ ରେଞ୍ଜ ଅଫିସ୍ ଘେରାଉ…</p>
                        </div>
                        <button class="read-more-button" type="button">
                            Read More...
                        </button>
                    </div>
                </div>
            </div>
            <div class="news-section">
                <div class="row story-section">
                    <div class="col-md-6 col-sm-12 col-12">
                        <div class="news-card">
                            <div class="category">କରୋନା</div>
                            <img src="assets/img/news.jpg">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-12 ">
                        <div class="top-stories-text">
                            <p class="news-heading">ହାତୀ ଓ ବନ୍ୟଜନ୍ତୁଙ୍କ ଉପଦ୍ରବରେ କ୍ଷତି ସହୁଛି ଚାଷୀ, ସ୍ଥାୟୀ ପ୍ରତିକାର ସହ
                                ଉଚିତ କ୍ଷତିପୂରଣ ଦାବିରେ ରେଞ୍ଜ ଅଫିସ୍ ଘେରାଉ…</p>
                            <div class="news-date-section d-flex">
                                <div class="author-name">ସୁରଭି ଗୌତମ</div>
                                <div> <i class="fa-solid fa-circle news-circle-icon"></i></div>
                                <div class="news-date">22 October</div>
                            </div>
                            <p class="news-content">ହାତୀ ଓ ବନ୍ୟଜନ୍ତୁଙ୍କ ଉପଦ୍ରବରେ କ୍ଷତି ସହୁଛି ଚାଷୀ, ସ୍ଥାୟୀ ପ୍ରତିକାର ସହ
                                ଉଚିତ କ୍ଷତିପୂରଣ ଦାବିରେ ରେଞ୍ଜ ଅଫିସ୍ ଘେରାଉ…</p>
                        </div>
                        <button class="read-more-button" type="button">
                            Read More...
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-12 col-12">
            <!-- <div class="advertisement-space-container-first">
          <div id="carouselExampleControls4" class="carousel slide carousel-fade" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item" *ngFor="let rightupper_ad of ads_rightupper; let i = index"
                [ngClass]="i === 0 ? 'active' : ''">
                <img class="d-block w-100" src={{rightupper_ad.ads_image}} alt={{rightupper_ad.ads_image_alt_text}}
                  (click)="openLink(rightupper_ad.ads_image_link)">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls4" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls4" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div> -->
            <div class="fixed-sidebar">
                <app-latest-news></app-latest-news>
            </div>
        </div>
    </div>
</div>





