<div *ngIf="!isverified">
    <input type="text" placeholder="Enter Username" name="username" [(ngModel)]="verify_user.username" /><button (click)="sendotp()">Send Otp</button>
    <div *ngIf="display">
        <input type="text" placeholder="Enter OTP" name="otp" [(ngModel)]="verify_user.otp" /><button (click)="verifyuser()">Verify</button>
    </div>
</div>
<div *ngIf="isverified">
    <input type="text" placeholder="Enter Username" name="pass" [(ngModel)]="verify_user.pass" /><br>
    <input type="text" placeholder="Enter OTP" name="cnfrmpass" [(ngModel)]="verify_user.cnfrmpass" /><button (click)="changepass()">Change Password</button>
    
</div>
