<div class="news-section">
  <div class="row news-box">
    <article
      class="col-md-4 col-sm-12 col-12 news-img-container"
      *ngFor="let post of slidearrayfeature"
      (click)="opennewsSec(post.slug,post.twitter_exists)"
    >
      <img [src]="post.guid" />
      <div class="news-text-container">
        <p>{{ post.post_title ? getShortName(post.post_title) : "" }}</p>
        <div class="news-date">{{ post.post_date | date : "short" }}</div>
      </div>
    </article>
  </div>
</div>
