.add-post-container {
    background-color: var #f8f9fa(--site-background);
    padding: 2% 3.9%;
}

.add-post-container .add-post-heading h1{
    text-transform: uppercase;
    font-weight: bold;
}

.add-post-container .add-post-form mat-label {
    display: block;
}

.add-post-container .add-post-form mat-form-field {
    width: 100%;
}

.add-post-form .add-post-form-field mat-radio-group {
    display: inline-block;
}

.add-post-form .add-post-form-field mat-radio-group mat-radio-button {
    margin-right: 15px;
}

.add-post-post-field-container {
    border: 1px solid #cccccc;
    border-radius: 7px;
    padding: 12px;
    box-shadow: 2px 2px #dedede;
    margin-bottom: 20px;
} 

.add-post-discussion-field-container {
    border: 1px solid #cccccc;
    border-radius: 7px;
    padding: 12px;
    box-shadow: 2px 2px #dedede;
    margin-bottom: 20px;
}

.add-post-seo-field-container {
    border: 1px solid #cccccc;
    border-radius: 7px;
    padding: 12px;
    box-shadow: 2px 2px #dedede;
    margin-bottom: 20px;
}

.add-post-text-field-container {
    border: 1px solid #cccccc;
    border-radius: 7px;
    padding: 12px;
    box-shadow: 2px 2px #dedede;
    margin-bottom: 20px;
}

.add-post-form .add-post-form-field .add-post-title {
    font-size: 15px;
    margin-bottom: 3px;
    margin-top: 5px;
}

.add-post-form .add-post-sub-heading {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 0px;

}

.selecttag{
    margin-bottom:35px;
}

.or-div {
    margin: 10px 30px;
}
.time-field {
    align-self: flex-end;
}
:host ::ng-deep .mat-form-field-underline
{
    display: none;
}
:host ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    border-radius: 4px 4px 0 0;
    padding: 0em 0.75em 0 0.75em;
}


.article-section-container {
    background: var(--white);
    padding: 1.3rem;
    border: 1px rgb(215, 215, 215) solid;
}

.modal-content {
    position: relative;
    display: flex !important;
    flex-direction: column;
    width: 169%;
    color: var(--bs-modal-color);
    pointer-events: auto;
    background-color: var(--bs-modal-bg);
    background-clip: padding-box;
    border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
    border-radius: var(--bs-modal-border-radius);
    outline: 0;
}

.article-image {
    width: -webkit-fill-available;
    margin: 20px 0;
    max-height: 400px
}

.author-section {
    display: flex;
    align-items: center;
}

.modal-dialog {
    display: flex;
    justify-content: center;
}

.mdl-ht {
    height: 450px;
    overflow-y: scroll;
}


/** Category **/

.multiselect-dropdown-1 {
    margin-bottom: 8px;
    position: relative;
    width: 100%;
    font-size: inherit;
    font-family: inherit;
}

.multiselect-dropdown-1 .dropdown-btn-1 {
    display: inline-block;
    border: 1px solid #adadad;
    width: 100%;
    padding: 6px 12px;
    margin-bottom: 0;
    font-weight: 400;
    line-height: 1.52857143;
    text-align: left;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border-radius: 4px;
}

.multiselect-dropdown-1 .dropdown-btn-1 .dropdown-multiselect__caret-1 {
    line-height: 16px;
    display: block;
    position: absolute;
    box-sizing: border-box;
    width: 40px;
    height: 38px;
    right: 1px;
    top: 0;
    padding: 4px 8px;
    margin: 0;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: transform .2s;
}

.multiselect-dropdown-1 .dropdown-btn-1 .dropdown-multiselect__caret-1:before {
    position: relative;
    right: 0;
    top: 65%;
    color: #999;
    margin-top: 4px;
    border-style: solid;
    border-width: 8px 8px 0;
    border-color: #999 transparent;
    content: "";
}

:host::ng-deep .node__icon {
    display: none;
}

:host::ng-deep .node-checkbox {
    float: left;
    margin-top: 2px !important;
    margin-left: -18px;
}

:host::ng-deep .node__apps {
    padding: 0 !important;
}

:host::ng-deep .search-container {
    width: 100%;
    z-index: 2;
    top: 0;
    left: 0;
}

:host ::ng-deep .tree-view {
    width: 100%;
    overflow-y: auto;
}

.my-tree {
    /*empty class to enable inheritable css selectors*/
}

:host ::ng-deep .my-tree>bn-tree>.tree-view {
    height: 200px;
}

.scroll-div {
    height: 250px;
}