<div class="add-post-container" *ngIf="updatepost">
    <div class="add-post-heading">
        <h1>Update Post</h1>
        <button mat-raised-button color="primary" class="search-btn" (click)="viewdraft(updatepost.id)">View Drafts
        </button>
    </div>
    <div class="add-post-form">
        <div class="add-post-text-field-container">
            <div class="add-post-form-field row">
                <div class="col-md-6 col-sm-12 col-12">
                    <mat-label class="add-post-title">Title (required)</mat-label>
                    <mat-form-field appearance="outline">
                        <input matInput type="text" name="title" [(ngModel)]="updatepost.post_title" (keyup)="getSlug()"
                            required>
                    </mat-form-field>
                </div>
            </div>
            <div class="add-post-form-field row">
                <div class="col-md-6 col-sm-12 col-12">
                    <mat-label class="add-post-title">Slug</mat-label>
                    <mat-form-field appearance="outline">
                        <input matInput type="text" name="slug" [(ngModel)]="updatepost.slug" required (keyup)="getPermalink()">
                    </mat-form-field>
                </div>
            </div>
            <div class="add-post-form-field row">
                <div class="col-md-6 col-sm-12 col-12">
                    <mat-label class="add-post-title">Permalink</mat-label>
                    <mat-form-field appearance="outline">
                        <input matInput type="text" name="canonical-url" [(ngModel)]="updatepost.permalink" required readonly>
                    </mat-form-field>
                </div>
            </div>
            <div class="add-post-form-field row">
                <div class="col-md-12 col-12">
                    <mat-label class="add-post-title">Post (required)</mat-label>
                    <ckeditor #editor id="description" [config]="ckeConfig" [(ngModel)]="updatepost.post_content"
                        #myckeditor="ngModel" name="ckdescription">
                    </ckeditor>
                </div>
            </div>
        </div>
       
        <div class="add-post-post-field-container">
            <h2 class="add-post-sub-heading">Post</h2>
            <div class="add-post-form-field row">
                <div class="col-md-6 col-sm-12 col-12">
                    <mat-label class="add-post-title">Visibility</mat-label>
                    <mat-form-field appearance="outline">
                        <mat-select [(ngModel)]="updatepost.visibility">
                            <mat-option value="0">Public</mat-option>
                            <mat-option value="1">Private</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="add-post-form-field row">
                <div class="col-md-3 col-sm-12 col-12">
                    <mat-label class="add-post-title">Publish Date & Time (required)</mat-label>
                    <mat-form-field appearance="outline">
                        <input matInput type="date" [(ngModel)]="updatepost.post_date" required>
                    </mat-form-field>
                </div>
                <div class="col-md-3 col-sm-12 col-12 time-field">
                    <mat-form-field name="stime" appearance="fill" class="form-field">
                      <input matInput type="time" name="stime"  name="stime" class="time"
                        [(ngModel)]="updatepost.post_time">
                    </mat-form-field>
                  </div>
            </div>
            <div class="add-post-form-field row">
                <div class="col-md-6 col-sm-12 col-12">
                    <mat-label class="add-post-title">Immediate Publish</mat-label>
                    <mat-radio-group aria-label="Select an option" name="oplist1"
                        [(ngModel)]="updatepost.immidiate_publish">
                        <mat-radio-button *ngFor="let k of list1" [value]="k.key" name="oplist1" [checked]="k.checked">
                            {{k.name}}</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
            <div class="add-post-form-field row">
                <div class="col-md-6 col-sm-12 col-12">
                    <mat-label class="add-post-title">Author</mat-label>
                    <mat-form-field appearance="outline">
                        <mat-select [(ngModel)]="updatepost.author_name" disableRipple
                            [ngModelOptions]="{standalone: true}">
                            <mat-option *ngFor="let gm of allUser" [value]="gm.user_id">{{ gm.user_nicename }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
         
            <div class="add-post-form-field row">
                <div class="col-md-6 col-sm-12 col-12">
                    <mat-label class="add-post-title">Category (required)</mat-label>
                    <div class="selecttag">
                        <ng-multiselect-dropdown [placeholder]="'Select Category'" [settings]="dropdownSettingsCat"
                            [data]="catarr" [(ngModel)]="updatepost.category">
                        </ng-multiselect-dropdown>
                    </div>
                </div>
            </div>
            <div class="add-post-form-field row">
                <div class="col-md-6 col-sm-12 col-12">
                    <mat-label class="add-post-title">Tags</mat-label>
                    <div class="selecttag">
                        <ng-multiselect-dropdown [placeholder]="'Select Tag'" [settings]="dropdownSettings"
                            [data]="tagarray" [(ngModel)]="updatepost.tags" (keyup.enter)="onFilterChange($event)">
                        </ng-multiselect-dropdown>
                    </div>
                </div>
            </div>
            <div class="add-post-form-field row">
                <div class="col-md-6 col-sm-12 col-12">
                    <mat-label class="add-post-title">Featured Image (required)</mat-label>
                    <div class="upload_txt"><input #tourBanner type="file" id="file-select"
                            accept="image/png, image/jpeg" (change)="onfileselected($event)"
                            [(ngModel)]="updatepost.media_url"></div>
                    <div class="or-div">or</div>
                    <div class="upload_txt"><button mat-raised-button (click)="openDialog()">Choose from Media</button>
                    </div>
                </div>
                <div class="col-md-2 col-sm-12 col-12">
                    <img [src]="updatepost.guid" id="bannerImage"
                        class="img-fluid">
                </div>
            </div>
            <div class="add-post-form-field row">
                <div class="col-md-6 col-sm-12 col-12">
                    <mat-label class="add-post-title">Excerpt</mat-label>
                    <mat-form-field class="outline">
                        <textarea matInput class="textarea-add-post" [(ngModel)]="updatepost.post_excerpt"></textarea>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="add-post-discussion-field-container">
            <h2 class="add-post-sub-heading">Discussion</h2>
            <div class="add-post-form-field row">
                <div class="col-md-6 col-sm-12 col-12">
                    <mat-label class="add-post-title">Allow Comment</mat-label>
                    <mat-radio-group aria-label="Select an option" name="oplist"
                        [(ngModel)]="updatepost.comment_status">
                        <mat-radio-button *ngFor="let k of list" [value]="k.key" name="oplist" [checked]="k.checked">
                            {{k.name}}</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
        </div>
        <div class="add-post-seo-field-container">
            <h2 class="add-post-sub-heading">SEO</h2>
       
            <div class="add-post-form-field row">
                <div class="col-md-6 col-sm-12 col-12">
                    <mat-label class="add-post-title">Meta Description</mat-label>
                    <mat-form-field appearance="outline">
                        <input matInput type="text" name="meta-description" [(ngModel)]="updatepost.meta_description"
                            >
                    </mat-form-field>
                </div>
            </div>
            <div class="add-post-form-field row">
                <div class="col-md-6 col-sm-12 col-12">
                    <mat-label class="add-post-title">Canonical Url</mat-label>
                    <mat-form-field appearance="outline">
                        <input matInput type="text" name="canonical-url" [(ngModel)]="updatepost.canonical_url" >
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="submit-button-container">
            <button mat-raised-button color="primary" (click)="modifypost()">Update</button>
            <button mat-raised-button color="accent" (click)="saveas_draft()" style="margin-left: 5px">Save As Draft</button>

        </div>
    </div>
</div>
