<div class="addcategory-container">
    <div class="add-category-heading">
      <h1>Edit Category</h1>
    </div>
    <form class="add-category-form">
      <div class="add-category-form-field row">
        <div class="col-md-6 col-sm-12 col-12">
          <mat-label class="category-info">Name</mat-label>
          <mat-form-field appearance="outline" class="form-group">
            <input matInput type="text" name="userName" [(ngModel)]="updatecat.category_name" required (keyup)="getSlug()">
          </mat-form-field>
          <h5>The name is how it appears on your site</h5>
        </div>
      </div>
      <div class="add-category-form-field row">
        <div class="col-md-6 col-sm-12 col-12">
          <mat-label class="category-info">Slug</mat-label>
          <mat-form-field appearance="outline" class="form-group">
            <input matInput type="text" name="slug" [(ngModel)]="updatecat.slug" required>
          </mat-form-field>
          <h5>The "slug" is the URL friendly version of the name. It is usually all lowercase
            and contains only letters,number,and hyphens.
          </h5>
        </div>
      </div>
      <div class="add-category-form-field row">
        <div class="col-md-6 col-sm-12 col-12">
          <mat-label class="category-info">Parent Category</mat-label>
          <mat-form-field name="category" appearance="outline">
            <mat-select class="category" [ngModelOptions]="{standalone: true}" [(ngModel)]="updatecat.parent_category">
              <mat-option *ngFor="let data of catarr" [value]="data.category_id">{{data .category_name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
  
          <h5>Categories unlike tags, can have hierachy. You might have a jazz
            category, and under that have children categories for Bebop and
            Big Band. Totally optional.
          </h5>
        </div>
      </div>
      <div class="add-category-form-field row">
        <div class="col-md-6 col-sm-12 col-12">
          <mat-label class="category-info">Description</mat-label>
          <mat-form-field class="outline">
            <textarea matInput name="desc" class="textarea-add-category" [(ngModel)]="updatecat.description"></textarea>
          </mat-form-field>
          <h5>The description is not prominent by default, however some themes may show it </h5>
        </div>
      </div>
      <button mat-raised-button color="primary" (click)="updatecategory()">Update Category</button>
    </form>
  </div>