.addcategory-container{
  background-color: var(--site-background);;
  padding: 2% 3.9%;
}
.add-category-form .add-category-form-field .category-info{
    display: block;
    margin-bottom: 3px;
    font-size: 15px;
}
.add-category-heading h1{
  text-transform: uppercase;
    font-weight: bold;
}
.addcategory-container .add-category-form mat-label {
  display: block;
}

.addcategory-container .add-category-form mat-form-field {
  width: 100%;
}

.addcategory-container .add-category-form  .add-category-form-field h5{
  color:#ababab;
} 

.category{
  color: blue;
}