.news-section {
  padding: 1rem;
  background:var(--white);
  border: 1px rgb(215, 215, 215) solid;
}

.news-box {
  padding: 20px 0px;
}

.news-img-container img {
  max-width: 100%;
  height: auto;
}

.news-text-container p {
  color:rgb(71, 71, 71);
  transition: all .4s ease;
}
.news-box:hover .news-text-container p {
  color: #da0000;
}
.heading-container {
  display: flex;
  align-items: center;
}
.heading-container .grey-line {
  background-color: #bbb;
  height: 10px;
  flex-grow: 1;
  margin-left: 10px;
}
.divider {
  border-top: 1px dotted #bbb;
}