<!-- <div class="addcategory-container">
  <div class="category-section">
    <div class="row">
      <h3>Edit Media</h3>
      <div class="col-lg-7 col-md-12 col-sm-12 col-12">
        <div class="news">
          <div class="news-des">
            <h2 class="newstitle">
            </h2>
          </div>
          <a><img src="{{updatemedia.media_url}}" alt="image"></a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-lg-3 col-md-8 col-sm-8 col-12">
  <div class="article-title"> </div>
  <div class="article-inner">
    <div class="article-sec">
      <div class="d-flex justify-content-between">
        <div class="game-head">{{updatemedia.media_title}}</div>
      </div>
    </div>
  </div>
</div> -->
<div class="addtag-container">
  <div class="add-tag-heading">
    <h1>Edit Media</h1>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="img-crop-cls">
        <image-cropper #imagecropper [imageBase64]="imageBase64" [aspectRatio]="aspectRatio"
          (imageCroppedBase64)="imageCroppedBase64($event)" id="img-crop"></image-cropper>
      </div>
      <div class="btn-groups">
        <button (click)="imagecropper.crop()">Crop</button>
        <button (click)="imagecropper.rotateLeft()">Rotate Left</button>
        <button (click)="imagecropper.rotateRight()">Rotate Right</button>
        <button (click)="imagecropper.flipHorizontal()">Flip Horizontal</button>
        <button (click)="imagecropper.flipVertical()">Flip Vertical</button>
        <button (click)="fullImage()">Original</button>
        <button (click)="reset()">Reset</button>
      </div>
      <div class="stmt">(The below image will be saved.)</div>
      <div class="view-changed-img" *ngIf="croppedImage">
        <img [src]="croppedImage" class="cropped-img" id="crop-img"/>
      </div>
    </div>
    <div class="col-md-4">
      <form class="add-tag-form">
        <div class="add-tag-form-field row">
          <div class="col-md-12 col-sm-12 col-12">
            <mat-label class="tag-info">Title</mat-label>
            <mat-form-field appearance="outline" class="form-group">
              <input matInput type="text" name="media_title" required [(ngModel)]="updatemedia.media_title">
            </mat-form-field>
          </div>
        </div>
        <div class="add-tag-form-field row">
          <div class="col-md-12 col-sm-12 col-12">
            <mat-label class="tag-info">Alternate Text</mat-label>
            <mat-form-field appearance="outline" class="form-group">
              <input matInput type="text" name="media_alt_text" [(ngModel)]="updatemedia.media_alt_text">
            </mat-form-field>
          </div>
        </div>
        <div class="add-tag-form-field row">
          <div class="col-md-12 col-sm-12 col-12">
            <mat-label class="tag-info">Description</mat-label>
            <mat-form-field class="outline">
              <textarea matInput name="desc" class="textarea-add-tag" [(ngModel)]="updatemedia.media_desc"></textarea>
            </mat-form-field>
          </div>
        </div>
        <div class="add-tag-form-field row">
          <div class="col-md-12 col-sm-12 col-12">
            <mat-label class="tag-info">Caption</mat-label>
            <mat-form-field class="outline">
              <textarea matInput name="desc" class="textarea-add-tag"
                [(ngModel)]="updatemedia.media_caption"></textarea>
            </mat-form-field>
          </div>
        </div>
        <div class="add-tag-form-field row">
          <div class="col-md-12 col-sm-12 col-12">
            <mat-label class="tag-info">Url</mat-label>
            <mat-form-field appearance="outline" class="form-group">
              <input matInput type="text" name="media_url" id="media_url" required [(ngModel)]="updatemedia.media_url"
                disabled="disabled">
            </mat-form-field>
          </div>
          <div class="col-md-12 col-sm-12 col-12">
            <button mat-raised-button class="copy-clipboard" (click)="copyToClipboard()">Copy to Clipboard</button>
          </div>
        </div>
        <div class="mt-25">
          <button mat-raised-button color="primary" (click)="updateMedia()">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>