.addtag-container {
    background-color: var(--site-background);
    padding: 2% 3.9%;
    min-height: 100vh;
}

.add-tag-form .add-tag-form-field .tag-info {
    display: block;
    margin-bottom: 3px;
    font-size: 15px;
}

.add-tag-heading h1 {
    text-transform: uppercase;
    font-weight: bold;
}

.addtag-container .add-tag-form mat-label {
    display: block;
}

.addtag-container .add-tag-form mat-form-field {
    width: 100%;
}

.addtag-container .add-tag-form .add-tag-form-field h5 {
    color: #ababab;
}
