<div class="viewcategory-container">
    <div class="search-category" style="display: flex;justify-content: space-between;">
        <button mat-mini-fab mat-dialog-close class="notshowbtn close_icon" cdkFocusRegionEnd>
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div class="view-category">
        <div class="search-category">
            <button mat-raised-button color="primary" class="search-btn" [disabled]="comments.length === 0" (click)="approveComments()">Approve</button>
        </div>
        <div class="header">
            
            <!-- <table id="view-table">
                <thead>
                    <th width="5%">
                        <input type="checkbox" name="comment_list" class="example-margin" [(ngModel)]="selectedAll" (change)="selectAll();">
                    </th>
                    <th width="15%">Author</th>
                    <th width="10%">IP</th>
                   <th class="content">Url</th>
                    <th width="10%">Date</th>
                    <th width="40%">Content</th>
                    <th width="20%">Is Approved ?</th>
                </thead>
                <tbody>
                    
                    <tr *ngFor="let data of comments; index as i">
                         
                        <td >
                            <input type="checkbox" name="comment_list" class="example-margin" [(ngModel)]="data.selected" [value]="data.comment_id" (change)="checkIfAllSelected();" [disabled]="data.comment_approved === 'Y'">
                        </td>
                        <td  >{{data.comment_author}}</td>
                        <td >{{data.comment_author_ip}}</td>
                        <td>{{data.comment_author_url}}</td>
                        <td >{{data.comment_date | date:'dd-MM-yyyy'}}</td>
                        <td >{{data.comment_content}}</td>
                        <td >{{data.comment_approved}}</td>
                    </tr>
               

                </tbody>
            </table> -->

            <div id="view-table">
               <div class="d-flex justify-content-around">
                    <div class="table-txt" style="width:30px;">
                        <input type="checkbox" name="comment_list" class="example-margin" [(ngModel)]="selectedAll" (change)="selectAll();">
                    </div>
                    <div class="table-txt" style="width:120px;">Author</div>
                    <div class="table-txt" style="width:120px;">IP</div>
                    <div class="table-txt" style="width:120px;">Date</div>
                    <div class="table-txt flex-grow-1" style="width:300px">Content</div>
                    <div class="table-txt" style="width:120px;">Is Approved ?</div>
                </div>
               
                    
                    <div *ngFor="let data of comments; index as i" class="d-flex justify-content-around">
                        
                        <div class="table-txt" style="width:30px;">
                            <input type="checkbox" name="comment_list" class="example-margin" [(ngModel)]="data.selected" [value]="data.comment_id" (change)="checkIfAllSelected();" [disabled]="data.comment_approved === 'Y'">
                        </div>
                        <div class="table-txt" style="width:120px;">{{data.comment_author}}</div>
                        <div class="table-txt" style="width:120px;">{{data.comment_author_ip}}</div>
                        <div class="table-txt" style="width:120px;">{{data.comment_date | date:'dd-MM-yyyy'}}</div>
                        <div class="table-txt flex-grow-1" style="width:300px">{{data.comment_content}}</div>
                        <div class="table-txt" style="width:120px;">{{data.comment_approved}}</div>
                    
               </div>

             
        </div>
        
    </div>
    <div class="search-category d-flex">
        <button mat-raised-button color="primary" class="search-btn" [disabled]="comments.length === 0" (click)="approveComments()">Approve</button>
    </div>
   