<div class="news-section">
  <div class="heading-container">
    <h4 class="news-sub">ରାଜ୍ୟ</h4>
    <div class="grey-line"></div>
  </div>
  <div class="news-card">
    <img src="assets/img/news.jpg">
    <p>ହାତୀ ଓ ବନ୍ୟଜନ୍ତୁଙ୍କ ଉପଦ୍ରବରେ କ୍ଷତି ସହୁଛି ଚାଷୀ, ସ୍ଥାୟୀ ପ୍ରତିକାର ସହ ଉଚିତ କ୍ଷତିପୂରଣ ଦାବିରେ ରେଞ୍ଜ ଅଫିସ୍ ଘେରାଉ…</p>
      <div class="news-date-section d-flex">
        <div class="author-name"> ସୁରଭି ଗୌତମ</div>
        <div> <i class="fa-solid fa-circle news-circle-icon"></i></div>
        <div class="news-date"> August 26, 2020</div>
      </div>
  </div>
  
  <div class="news-card divider">
    <img src="assets/img/news.jpg">
    <p>ହାତୀ ଓ ବନ୍ୟଜନ୍ତୁଙ୍କ ଉପଦ୍ରବରେ କ୍ଷତି ସହୁଛି ଚାଷୀ, ସ୍ଥାୟୀ ପ୍ରତିକାର ସହ ଉଚିତ କ୍ଷତିପୂରଣ ଦାବିରେ ରେଞ୍ଜ ଅଫିସ୍ ଘେରାଉ…</p>

    <div class="news-date-section d-flex">
      <div class="author-name"> ସୁରଭି ଗୌତମ</div>
      <div> <i class="fa-solid fa-circle news-circle-icon"></i></div>
      <div class="news-date"> August 26, 2020</div>
    </div>
  </div>
  <div class="news-card divider">
    <img src="assets/img/news.jpg">
    <p>ହାତୀ ଓ ବନ୍ୟଜନ୍ତୁଙ୍କ ଉପଦ୍ରବରେ କ୍ଷତି ସହୁଛି ଚାଷୀ, ସ୍ଥାୟୀ ପ୍ରତିକାର ସହ ଉଚିତ କ୍ଷତିପୂରଣ ଦାବିରେ ରେଞ୍ଜ ଅଫିସ୍ ଘେରାଉ…</p>

    <div class="news-date-section d-flex">
      <div class="author-name"> ସୁରଭି ଗୌତମ</div>
      <div> <i class="fa-solid fa-circle news-circle-icon"></i></div>
      <div class="news-date"> August 26, 2020</div>
    </div>
  </div>
  <div class="news-card divider">
    <img src="assets/img/news.jpg">
    <p>ହାତୀ ଓ ବନ୍ୟଜନ୍ତୁଙ୍କ ଉପଦ୍ରବରେ କ୍ଷତି ସହୁଛି ଚାଷୀ, ସ୍ଥାୟୀ ପ୍ରତିକାର ସହ ଉଚିତ କ୍ଷତିପୂରଣ ଦାବିରେ ରେଞ୍ଜ ଅଫିସ୍ ଘେରାଉ…</p>

    <div class="news-date-section d-flex">
      <div class="author-name"> ସୁରଭି ଗୌତମ</div>
      <div> <i class="fa-solid fa-circle news-circle-icon"></i></div>
      <div class="news-date"> August 26, 2020</div>
    </div>
  </div>
</div>