<!-- <div class="news-section">
  <div class="heading-container">
    <h4 class="news-sub">ଓଡ଼ିଶା</h4>
  </div>
  <div class="news-card" *ngFor="let post of postarr; let i = index" (click)="opennewsSec(post.slug,post.twitter_exists)"  [ngClass]="i !== 0 ? 'divider' : ''">
    <img [src]="post.guid">
    <p>{{post.post_title}}</p>
      <div class="news-date-section d-flex">
        <div class="author-name" [innerHTML]="getShortAuthorName(post.author_name)"></div>
        <div> <i class="fa-solid fa-circle news-circle-icon"></i></div>
        <div class="news-date"> {{post.post_date | date:'MMMM dd, yyyy'}}</div>
      </div>
  </div> -->

<div class="news-section">
  <div class="heading-container">
    <h4 class="news-sub">ଓଡ଼ିଶା</h4>
    <!-- <div class="grey-line"></div> -->
  </div>
  <article
    class="row news-box"
    (click)="opennewsSec(post.slug,post.twitter_exists)"
    *ngFor="let post of postarr"
  >
    <!-- <a (click)="opennewsSec(post.id)"> -->
    <div class="col-md-4 col-sm-4 col-4 news-img-container">
      <img [src]="post.guid" />
    </div>
    <div class="col-md-8 col-sm-8 col-8 news-text-container">
      <p>{{ post.post_title ? getShortName(post.post_title) : "" }}</p>
      <div class="news-date">
        <time>{{ post.post_date | date : "short" }}</time>
      </div>
    </div>
  </article>
</div>

<!-- <div class="news-card divider">
    <img src="assets/img/news.jpg">
    <p class="">A Christmas Carol, Old Vic, London,
      review: Rhys Ifans gives a remarkably powerful…</p>
    <div class="news-date-section d-flex">
      <div class="author-name">james</div>
      <div> <i class="fa-solid fa-circle news-circle-icon"></i></div>
      <div class="news-date"> August 26, 2020</div>
    </div>
  </div>
  <div class="news-card divider">
    <img src="assets/img/news.jpg">
    <p class="">A Christmas Carol, Old Vic, London,
      review: Rhys Ifans gives a remarkably powerful…</p>
    <div class="news-date-section d-flex">
      <div class="author-name">james</div>
      <div> <i class="fa-solid fa-circle news-circle-icon"></i></div>
      <div class="news-date"> August 26, 2020</div>
    </div>
  </div>
  <div class="news-card divider">
    <img src="assets/img/news.jpg">
    <p class="">A Christmas Carol, Old Vic, London,
      review: Rhys Ifans gives a remarkably powerful…</p>
    <div class="news-date-section d-flex">
      <div class="author-name">james</div>
      <div> <i class="fa-solid fa-circle news-circle-icon"></i></div>
      <div class="news-date"> August 26, 2020</div>
    </div>
  </div> -->
<!-- </div> -->
