<div class="news-section">
  <div class="heading-container">
    <h4 class="news-sub">ଅପରାଧ</h4>
    <div class="grey-line"></div>
  </div>
 
  <div class="news-card">
    <img src="assets/img/news.jpg">
    <p>ଘରେ ରଖି କରୁଥିଲେ ଚୋରା ବନ୍ଧୁକ କାରବାର, ଚଢାଉ କରି ଜଣଙ୍କୁ ବାନ୍ଧିଲା ପୋଲିସ</p>
      <div class="news-date-section d-flex">
        <div class="author-name">author name</div>
        <div> <i class="fa-solid fa-circle news-circle-icon"></i></div>
        <div class="news-date"> 22 October</div>
      </div>
  </div>
</div>