<div class="news-section">
    <div class="heading-container">
      <h4 class="news-sub">ଜୀବନଚର୍ଯ୍ୟା</h4>
      <div class="grey-line"></div>
    </div>
    <div class="news-card">
      <!-- <div class="category">Education</div> -->
      <img src="assets/img/news.jpg">
      <p>ହାତୀ ଓ ବନ୍ୟଜନ୍ତୁଙ୍କ ଉପଦ୍ରବରେ କ୍ଷତି ସହୁଛି ଚାଷୀ, ସ୍ଥାୟୀ ପ୍ରତିକାର ସହ ଉଚିତ କ୍ଷତିପୂରଣ ଦାବିରେ ରେଞ୍ଜ ଅଫିସ୍ ଘେରାଉ…</p>
      <div class="news-date"> 22 October</div>
      <div class="news-thumbtext"><span>ହାତୀ ଓ ବନ୍ୟଜନ୍ତୁଙ୍କ ଉପଦ୍ରବରେ କ୍ଷତି ସହୁଛି ଚାଷୀ, ସ୍ଥାୟୀ ପ୍ରତିକାର ସହ ଉଚିତ କ୍ଷତିପୂରଣ ଦାବିରେ ରେଞ୍ଜ ଅଫିସ୍ ଘେରାଉ…</span></div>
    </div>
    <div class="row news-box">
      <div class="col-md-5 col-sm-12 col-12 news-img-container">
        <img src="assets/img/news.jpg">
      </div>
      <div class="col-md-7 col-sm-12 col-12 news-text-container">
        <p>ହାତୀ ଓ ବନ୍ୟଜନ୍ତୁଙ୍କ ଉପଦ୍ରବରେ କ୍ଷତି ସହୁଛି ଚାଷୀ, ସ୍ଥାୟୀ ପ୍ରତିକାର ସହ ଉଚିତ କ୍ଷତିପୂରଣ ଦାବିରେ ରେଞ୍ଜ ଅଫିସ୍ ଘେରାଉ…</p>
        <div class="news-date"> 22 October</div>
      </div>
    </div>
    <!-- <div class="twin-city-">
      <button class="btn-previous">&laquo; Prev</button>
      <button class="btn-next">Next &raquo;</button>
    </div> -->
  </div>
 
 
